Repository PVAGR/pva-bazaar-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js, forge fmt, sort-package-json

fix(ci): fallback to BOUNTY_SCAN_JWT for openclaw admin auth
  .github/workflows/openclaw-self-heal.yml
  .github/workflows/openclaw-store-maintenance.yml
  .github/workflows/openclaw-uptime-monitor.yml
Due: prettier --write

feat(openclaw): improve responder quality, context, and watchdog fallback
  .github/scripts/openclaw-respond.mjs
  .github/workflows/openclaw-agent.yml
  backend/routes/openclaw.js
Due: eslint --fix, prettier --write

fix(admin-ui): restore full-width admin layout and correct tab rendering
  Frontend/src/components/Layout.jsx
  Frontend/src/pages/AdminPage.css
  Frontend/src/pages/AdminPage.jsx
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

feat(bounty-hunter): broaden discovery sources and reduce false negatives
  backend/service/bountyHunter.js
Due: eslint --fix, prettier --write

feat(bounty-hunter): add one-click ranking and OpenClaw top dispatch with wallet context
  Frontend/src/components/BountyHunterTab.css
  Frontend/src/components/BountyHunterTab.jsx
  backend/routes/bounties.js
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

feat(bounty-hunter): add MetaMask connect and Base auto payout flow
  Frontend/src/components/BountyHunterTab.css
  Frontend/src/components/BountyHunterTab.jsx
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

fix(bounty-hunter): enforce Base chain before MetaMask payout
  Frontend/src/components/BountyHunterTab.jsx
Due: eslint --fix, prettier --write

feat(bounty-hunter): add one-click money run with profit filter
  Frontend/src/components/BountyHunterTab.css
  Frontend/src/components/BountyHunterTab.jsx
  backend/routes/bounties.js
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

fix(openclaw): authenticate protected dispatch in integration tests
  .github/workflows/openclaw-integration.yml
  infra/openclaw/dispatch-event.ps1
  infra/openclaw/test-integration.ps1
Due: prettier --write

fix(openclaw-ci): point smoke test to backend port 5000
  .github/workflows/openclaw-integration.yml
Due: prettier --write

fix(openclaw-ci): stabilize windows backend startup in integration job
  .github/workflows/openclaw-integration.yml
Due: prettier --write

fix(openclaw-ci): start windows backend in correct working directory
  .github/workflows/openclaw-integration.yml
Due: prettier --write

chore(openclaw-ci): make windows integration leg manual and non-blocking
  .github/workflows/openclaw-integration.yml
Due: prettier --write

feat(bounty): add cloud scheduled money-run automation
  .github/workflows/bounty-money-run.yml
Due: prettier --write

chore(bounty): increase money-run frequency and max throughput
  .github/workflows/bounty-money-run.yml
Due: prettier --write

feat(bounty): stagger B workflow, expand scanners, add webhook alerts
  .github/workflows/bounty-money-run-b.yml
  backend/service/bountyHunter.js
Due: eslint --fix, prettier --write

fix(bounty): use env var check for optional webhook alert step
  .github/workflows/bounty-money-run-b.yml
  .github/workflows/bounty-money-run.yml
Due: prettier --write

feat(bounty): add superteam/code4rena/immunefi scanners, skills context, expanded keywords
  .github/workflows/bounty-money-run-b.yml
  .github/workflows/bounty-money-run.yml
  backend/routes/bounties.js
  backend/service/bountyHunter.js
Due: eslint --fix, prettier --write

fix(api): restore backend startup and harden optional route loading
  backend/api/index.js
  backend/package.json
  package-lock.json
Due: eslint --fix, prettier --write, sort-package-json

fix(deals): keep deals API mounted and sync backend lockfile
  backend/package-lock.json
  backend/routes/deals.js
Due: eslint --fix, prettier --write

fix(api): mount deals route as required endpoint
  backend/api/index.js
Due: eslint --fix, prettier --write

fix(version): expose real backend build metadata
  backend/api/index.js
  backend/lib/buildInfo.js
  backend/routes/health.js
Due: eslint --fix, prettier --write

chore(ops): verify openclaw and bounty readiness in live checks
  scripts/verify-live-ready.mjs
Due: none

chore(ops): add optional admin checks to live verifier
  scripts/verify-live-ready.mjs
Due: none

chore(ops): add required admin live verification mode
  package.json
  scripts/verify-live-ready.mjs
Due: prettier --write, sort-package-json

chore(admin): polish openclaw and bounty copy
  Frontend/src/components/AdminTabs.jsx
  Frontend/src/components/BountyHunterTab.jsx
  Frontend/src/components/OpenClawTab.jsx
Due: eslint --fix, prettier --write

chore(admin): polish shell and health copy
  Frontend/src/components/HealthTab.jsx
  Frontend/src/pages/AdminPage.jsx
Due: eslint --fix, prettier --write

chore(admin): polish dashboard and users copy
  Frontend/src/components/DashboardTab.jsx
  Frontend/src/components/UsersTab.jsx
Due: eslint --fix, prettier --write

chore(admin): polish remaining tab copy (marketplace, archive, cloud, settings)
  Frontend/src/components/ArchiveTab.jsx
  Frontend/src/components/CloudStorageTab.jsx
  Frontend/src/components/MarketplaceTab.jsx
  Frontend/src/components/SettingsTab.jsx
Due: eslint --fix, prettier --write

chore(public): polish deals heading, subtitle, and marketplace placeholder
  Frontend/src/pages/DealsPage.jsx
  Frontend/src/pages/MarketplacePage.jsx
Due: eslint --fix, prettier --write

chore: remove all placeholder/stub content from live site
  Frontend/src/app.js
  Frontend/src/components/Biography.js
  Frontend/src/components/Blogs.js
  Frontend/src/components/BusinessModel.js
  Frontend/src/components/HomeTabs.js
  Frontend/src/components/Journals.js
  Frontend/src/components/MermaidDiagram.js
  Frontend/src/components/Novel.js
  Frontend/src/components/PVAFood.js
  Frontend/src/components/Research.js
  Frontend/src/components/Writings.js
  Frontend/src/pages/CartPage.jsx
  Frontend/src/pages/ListItemPage.jsx
Due: eslint --fix, prettier --write

feat(archive): serve homepage archive from live API only
  Frontend/src/pages/ArchiveLibraryPage.jsx
Due: eslint --fix, prettier --write

feat: remove remaining archive placeholders and fix legacy API wiring
  Frontend/src/components/ArchiveTab.jsx
  Frontend/src/lib/api.js
  Frontend/src/pages/legacy.html
Due: eslint --fix, prettier --write

fix(status): normalize standalone API base and widget init
  Frontend/pages/status.html
  Frontend/src/lib/openclaw-widget.js
Due: eslint --fix, prettier --write

chore(copy): remove remaining future-state language from live routes
  Frontend/src/pages/CartPage.jsx
  Frontend/src/pages/DealsPage.jsx
Due: eslint --fix, prettier --write

chore(nav): remove non-functional cart entrypoint from live routes
  Frontend/src/App.jsx
  Frontend/src/components/Layout.jsx
  Frontend/src/pages/CartPage.jsx
Due: eslint --fix, prettier --write

chore(media): remove placeholder image fallbacks from live item views
  Frontend/src/pages/ArtifactDetailPage.jsx
  Frontend/src/pages/MarketplaceItemPage.jsx
  Frontend/src/pages/MarketplacePage.jsx
Due: eslint --fix, prettier --write

fix(legacy): resolve backend base dynamically for standalone legacy page
  Frontend/src/pages/legacy.html
Due: none

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,yml,yaml,md})) or (any of: *.{css,scss})
  node qa/scripts/check-brand-tokens.js: any of: *.{css,scss}
  forge fmt: any of: apps/contracts/**/*.sol
  sort-package-json: any of: package.json
