Repository PVAGR/pva-bazaar-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js, forge fmt, sort-package-json

feat(journal): switch standalone journal page to live API feed
  Frontend/journal.html
Due: none

fix(journal): remove fake write UI and support string archive IDs
  Frontend/journal.html
Due: none

feat: wire archive, AI activity, and Solana devnet rituals
  Frontend/src/App.jsx
  Frontend/src/pages/ArchiveLibraryPage.jsx
  Frontend/src/pages/EntryDetail.jsx
  Frontend/src/pages/SolanaRitualPage.jsx
  backend/.env.example
  backend/api/index.js
  backend/models/SolanaPayout.js
  backend/routes/solana.js
  qa/reports/assets/index-9agQl9q3.js
  qa/reports/assets/index-fUmMsp0O.css
  qa/reports/bg.png
  qa/reports/favicon.svg
  qa/reports/html.meta.json.gz
  qa/reports/vitest-report.html
  qa/reports/vitest-results.json
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

fix(archive): restore static master archive and welcome view
  Frontend/src/pages/ArchiveLibraryPage.jsx
Due: eslint --fix, prettier --write

revert(frontend): restore archive and static content from pre-regression snapshot
  Frontend/journal.html
  Frontend/pages/status.html
  Frontend/src/App.jsx
  Frontend/src/app.js
  Frontend/src/components/AdminTabs.jsx
  Frontend/src/components/ArchiveTab.jsx
  Frontend/src/components/Biography.js
  Frontend/src/components/Blogs.js
  Frontend/src/components/BountyHunterTab.jsx
  Frontend/src/components/BusinessModel.js
  Frontend/src/components/CloudStorageTab.jsx
  Frontend/src/components/DashboardTab.jsx
  Frontend/src/components/HealthTab.jsx
  Frontend/src/components/HomeTabs.js
  Frontend/src/components/Journals.js
  Frontend/src/components/Layout.jsx
  Frontend/src/components/MarketplaceTab.jsx
  Frontend/src/components/MermaidDiagram.js
  Frontend/src/components/Novel.js
  Frontend/src/components/OpenClawTab.jsx
  Frontend/src/components/PVAFood.js
  Frontend/src/components/Research.js
  Frontend/src/components/SettingsTab.jsx
  Frontend/src/components/UsersTab.jsx
  Frontend/src/components/Writings.js
  Frontend/src/lib/api.js
  Frontend/src/lib/openclaw-widget.js
  Frontend/src/pages/AdminPage.jsx
  Frontend/src/pages/ArchiveLibraryPage.jsx
  Frontend/src/pages/ArtifactDetailPage.jsx
  Frontend/src/pages/CartPage.jsx
  Frontend/src/pages/DealsPage.jsx
  Frontend/src/pages/ListItemPage.jsx
  Frontend/src/pages/MarketplaceItemPage.jsx
  Frontend/src/pages/MarketplacePage.jsx
  Frontend/src/pages/legacy.html
Due: eslint --fix, prettier --write

fix(frontend): resolve archive merge artifacts and add solana web3 dep
  Frontend/package.json
  Frontend/src/pages/ArchiveLibraryPage.jsx
  package-lock.json
Due: eslint --fix, prettier --write, sort-package-json

fix(deploy): publish legacy static html entrypoints
  Frontend/scripts/copy-src-to-dist.cjs
Due: none

fix(ops): repair smoke command and default openclaw check to prod
  backend/scripts/smoke-openclaw.js
  package.json
Due: eslint --fix, prettier --write, sort-package-json

fix(frontpage): expand static home layout to full-width responsive hero
  Frontend/home.html
Due: none

fix(layout): expand app shell width for full-screen front-page fit
  Frontend/src/base.css
Due: prettier --write, node qa/scripts/check-brand-tokens.js

style(account): improve readability, structure, and responsive polish
  Frontend/src/pages/AccountPage.css
Due: prettier --write, node qa/scripts/check-brand-tokens.js

style(admin): polish orders and streams readability + responsive layout
  Frontend/src/pages/AdminOrdersPage.css
  Frontend/src/pages/StreamsPage.css
Due: prettier --write, node qa/scripts/check-brand-tokens.js

feat(info-pages): upgrade about, manifesto, and verification UX
  Frontend/src/pages/AboutPage.jsx
  Frontend/src/pages/InfoPages.css
  Frontend/src/pages/ManifestoPage.jsx
  Frontend/src/pages/VerificationPage.jsx
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

style(content): polish search and entry-detail reading flow
  Frontend/src/pages/EntryDetail.css
  Frontend/src/pages/EntryDetail.jsx
  Frontend/src/pages/SearchPage.css
  Frontend/src/pages/SearchPage.jsx
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

style(oracle): redesign assessment flow for readability and polish
  Frontend/src/pages/OracleAssessmentPage.css
  Frontend/src/pages/OracleAssessmentPage.jsx
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

feat: expand admin layout and ship syndication ops workflow
  Frontend/src/App.jsx
  Frontend/src/components/DashboardTab.css
  Frontend/src/components/Layout.jsx
  Frontend/src/components/MarketplaceTab.css
  Frontend/src/components/MarketplaceTab.jsx
  Frontend/src/lib/api.js
  Frontend/src/pages/AccountPage.css
  Frontend/src/pages/AccountPage.jsx
  Frontend/src/pages/AdminPage.css
  Frontend/src/pages/ListItemPage.css
  Frontend/src/pages/ListItemPage.jsx
  Frontend/src/pages/MyListingsPage.css
  Frontend/src/pages/MyListingsPage.jsx
  backend/.env.example
  backend/README.md
  backend/lib/itemNormalize.js
  backend/models/Artifact.js
  backend/routes/items.js
  backend/service/marketplaceSyndicationService.js
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

style: refine admin full-width dashboard density
  Frontend/src/components/DashboardTab.css
  Frontend/src/pages/AdminPage.css
Due: prettier --write, node qa/scripts/check-brand-tokens.js

style: rebalance admin top strip spacing and controls
  Frontend/src/components/AdminNav.css
  Frontend/src/components/AdminTabs.css
  Frontend/src/pages/AdminPage.css
Due: prettier --write, node qa/scripts/check-brand-tokens.js

style: add sticky admin tabs and align dashboard cards
  Frontend/src/components/AdminTabs.css
  Frontend/src/components/DashboardTab.css
  Frontend/src/pages/AdminPage.css
Due: prettier --write, node qa/scripts/check-brand-tokens.js

style: add sticky admin nav stack and scroll snapping
  Frontend/src/components/AdminNav.css
  Frontend/src/components/AdminTabs.css
  Frontend/src/pages/AdminPage.css
Due: prettier --write, node qa/scripts/check-brand-tokens.js

style: improve attribution tab typography and themed surfaces
  Frontend/src/components/AttributionTab.css
Due: prettier --write, node qa/scripts/check-brand-tokens.js

style: polish payouts tab and add crypto transition playbook
  Frontend/src/components/PayoutTab.css
  Frontend/src/components/PayoutTab.jsx
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

style: upgrade cloud storage tab with guided help and unified layout
  Frontend/src/components/CloudStorageTab.css
  Frontend/src/components/CloudStorageTab.jsx
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

style: upgrade api docs with guided help and smart-contract onboarding
  Frontend/src/components/ApiDocsTab.css
  Frontend/src/components/ApiDocsTab.jsx
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

feat: add on-chain transfer ledger and admin tracker workflow
  Frontend/src/components/ApiDocsTab.jsx
  Frontend/src/components/HealthTab.css
  Frontend/src/components/HealthTab.jsx
  backend/api/index.js
  backend/models/BlockchainTransfer.js
  backend/routes/blockchain.js
  backend/utils/blockchain.js
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

feat: add wallet-send flow and printable blockchain settlement contracts
  Frontend/src/components/ApiDocsTab.jsx
  Frontend/src/components/HealthTab.css
  Frontend/src/components/HealthTab.jsx
  backend/models/BlockchainTransfer.js
  backend/routes/blockchain.js
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

feat: add dedicated settlements tab with artifact picker and contract v2 terms
  Frontend/src/components/AdminTabs.jsx
  Frontend/src/components/SettlementContractsTab.css
  Frontend/src/components/SettlementContractsTab.jsx
  Frontend/src/pages/AdminPage.jsx
  backend/models/BlockchainTransfer.js
  backend/routes/blockchain.js
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

feat: add settlement finalization lock templates and QR traceability
  Frontend/src/components/ApiDocsTab.jsx
  Frontend/src/components/SettlementContractsTab.css
  Frontend/src/components/SettlementContractsTab.jsx
  backend/models/BlockchainTransfer.js
  backend/routes/blockchain.js
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

feat: add finalization digest proof for settlement contracts
  Frontend/src/components/ApiDocsTab.jsx
  Frontend/src/components/SettlementContractsTab.css
  Frontend/src/components/SettlementContractsTab.jsx
  backend/models/BlockchainTransfer.js
  backend/routes/blockchain.js
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

feat: add integrity reports and optional wallet attestations
  Frontend/src/components/ApiDocsTab.jsx
  Frontend/src/components/SettlementContractsTab.css
  Frontend/src/components/SettlementContractsTab.jsx
  backend/models/BlockchainTransfer.js
  backend/routes/blockchain.js
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

feat: add beginner mode for settlement contract workflow
  Frontend/src/components/SettlementContractsTab.css
  Frontend/src/components/SettlementContractsTab.jsx
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

feat: add live checklist and next-step guidance for settlements
  Frontend/src/components/SettlementContractsTab.css
  Frontend/src/components/SettlementContractsTab.jsx
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

feat: add required field autofocus and quick-fill demo
  Frontend/src/components/SettlementContractsTab.jsx
Due: eslint --fix, prettier --write

feat: add required field error highlights and handoff summary copy
  Frontend/src/components/SettlementContractsTab.css
  Frontend/src/components/SettlementContractsTab.jsx
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

feat: add wizard mode and printable runbook guidance
  Frontend/src/components/SettlementContractsTab.css
  Frontend/src/components/SettlementContractsTab.jsx
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

feat: add draft resume and sequential wizard step gating
  Frontend/src/components/SettlementContractsTab.css
  Frontend/src/components/SettlementContractsTab.jsx
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

feat: add role presets step locks and audit timeline
  Frontend/src/components/SettlementContractsTab.css
  Frontend/src/components/SettlementContractsTab.jsx
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

feat(settlements): persist audit log events and timeline feed
  Frontend/src/components/ApiDocsTab.jsx
  Frontend/src/components/SettlementContractsTab.css
  Frontend/src/components/SettlementContractsTab.jsx
  backend/models/BlockchainTransfer.js
  backend/routes/blockchain.js
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

feat(settlements): add audit timeline role and event filters
  Frontend/src/components/SettlementContractsTab.css
  Frontend/src/components/SettlementContractsTab.jsx
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

feat: OpenClaw always-on worker + admin runtime config UI + payout policy $5-$50k
  Frontend/src/components/OpenClawTab.css
  Frontend/src/components/OpenClawTab.jsx
  Frontend/src/components/PayoutTab.css
  Frontend/src/components/PayoutTab.jsx
  Frontend/src/lib/api.js
  backend/.env.example
  backend/models/AdminRuntimeConfig.js
  backend/models/OpenClawWorkerLease.js
  backend/package.json
  backend/routes/admin.js
  backend/routes/openclaw.js
  backend/routes/solana.js
  backend/scripts/openclaw-queue-worker.js
  infra/openclaw/README.md
  infra/openclaw/docker-compose.yml
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js, sort-package-json

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,yml,yaml,md})) or (any of: *.{css,scss})
  node qa/scripts/check-brand-tokens.js: any of: *.{css,scss}
  forge fmt: any of: apps/contracts/**/*.sol
  sort-package-json: any of: package.json
