Repository PVAGR/pva-bazaar-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js, forge fmt, sort-package-json

feat(frontend): connect home tabs and back-home navigation across public sections
  Frontend/src/pages/ArchiveLibraryPage.css
  Frontend/src/pages/ArchiveLibraryPage.jsx
  Frontend/src/pages/MarketplacePage.css
  Frontend/src/pages/MarketplacePage.jsx
  Frontend/src/pages/ShowroomPage.css
  Frontend/src/pages/ShowroomPage.jsx
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

fix(frontend): resolve admin marketplace crash and remove duplicate home tabs
  Frontend/src/App.jsx
  Frontend/src/components/MarketplaceTab.jsx
  Frontend/src/pages/ArchiveLibraryPage.css
  Frontend/src/pages/ArchiveLibraryPage.jsx
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

fix(admin): harden all tabs and resolve remaining runtime crashes
  Frontend/src/components/ApiDocsTab.jsx
  Frontend/src/components/ArchiveTab.jsx
  Frontend/src/components/AttributionTab.jsx
  Frontend/src/components/BountyHunterTab.jsx
  Frontend/src/components/CloudStorageTab.jsx
  Frontend/src/components/DashboardTab.jsx
  Frontend/src/components/OpenClawTab.jsx
  Frontend/src/components/PayoutTab.jsx
  Frontend/src/components/RoyaltyAnalyticsTab.jsx
  Frontend/src/components/SettingsTab.jsx
Due: eslint --fix, prettier --write

fix(frontend): harden front-page routing to prevent blank screens
  Frontend/src/App.jsx
Due: eslint --fix, prettier --write

fix(frontend): keep showroom and marketplace populated when live inventory is empty
  Frontend/src/lib/api.js
  Frontend/src/lib/featuredInventory.js
Due: eslint --fix, prettier --write

fix(frontend): restore marketplace and showroom links on front page hero actions
  Frontend/src/pages/ArchiveLibraryPage.jsx
Due: eslint --fix, prettier --write

fix(frontend): pin marketplace and showroom in top destination tabs on archive front page
  Frontend/src/pages/ArchiveLibraryPage.css
  Frontend/src/pages/ArchiveLibraryPage.jsx
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

fix(frontend): prevent blank white screen on refresh with shell and crash fallbacks
  Frontend/index.html
  Frontend/src/main.jsx
Due: eslint --fix, prettier --write

feat(frontend): add safe creator signup portal and seller routes
  Frontend/src/App.jsx
  Frontend/src/components/CreatorNav.jsx
  Frontend/src/components/Layout.jsx
  Frontend/src/pages/AccountPage.jsx
  Frontend/src/pages/ArchiveLibraryPage.jsx
  Frontend/src/pages/CreatorPortalPage.css
  Frontend/src/pages/CreatorPortalPage.jsx
  Frontend/src/pages/OnboardingPage.jsx
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

fix(frontend): tighten mobile overflow handling for creator portal and global shell
  Frontend/src/base.css
  Frontend/src/pages/CreatorPortalPage.css
Due: prettier --write, node qa/scripts/check-brand-tokens.js

feat(frontend): add seller experience improvements - FAQ, checklists, stats, and onboarding reminders
  Frontend/src/components/CreatorNav.jsx
  Frontend/src/components/PrePublishChecklist.css
  Frontend/src/components/PrePublishChecklist.jsx
  Frontend/src/components/SellerFAQ.css
  Frontend/src/components/SellerFAQ.jsx
  Frontend/src/components/SellerQuickStats.css
  Frontend/src/components/SellerQuickStats.jsx
  Frontend/src/components/SetupReminder.css
  Frontend/src/components/SetupReminder.jsx
  Frontend/src/pages/AccountPage.jsx
  Frontend/src/pages/CreatorPortalPage.jsx
  Frontend/src/pages/ListItemPage.jsx
  Frontend/src/pages/MyListingsPage.jsx
  Frontend/src/utils/sellerProfileUtils.js
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

feat: expand secure deals and mobile polish
  Frontend/src/App.jsx
  Frontend/src/lib/api.js
  Frontend/src/pages/DealJoinPage.jsx
  Frontend/src/pages/DealsPage.css
  Frontend/src/pages/DealsPage.jsx
  apps/pva-bazaar-web/package.json
  apps/pva-bazaar-web/src/app/dashboard/page.tsx
  apps/pva-bazaar-web/src/app/deals/page.tsx
  apps/pva-bazaar-web/src/app/layout.tsx
  apps/pva-bazaar-web/src/app/sitemap.ts
  backend/models/Deal.js
  backend/package.json
  backend/routes/deals.js
  backend/scripts/deal-outbound-dispatch-worker.js
  backend/tests/deals.test.js
  package-lock.json
  qa/reports/html.meta.json.gz
  qa/reports/vitest-results.json
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js, sort-package-json

chore: scope typecheck to deployable apps
  package.json
Due: prettier --write, sort-package-json

feat: add dual dashboards and user data isolation
  ADMIN_SETUP_GUIDE.md
  BACKEND_API_USER_FILTERING_COMPLETE.md
  BACKEND_USER_FILTERING.md
  DUAL_DASHBOARD_GUIDE.md
  Frontend/src/App.jsx
  Frontend/src/components/AdminTabs.jsx
  Frontend/src/components/DashboardTab.jsx
  Frontend/src/components/NavLink.jsx
  Frontend/src/components/OverviewTab.css
  Frontend/src/components/OverviewTab.jsx
  Frontend/src/components/RequireAdminAuth.jsx
  Frontend/src/components/TransactionsTab.jsx
  Frontend/src/lib/api.js
  Frontend/src/lib/axios.js
  Frontend/src/pages/AdminPage.jsx
  Frontend/src/pages/UserDashboard.css
  Frontend/src/pages/UserDashboard.jsx
  USER_DASHBOARD_COMPLETE.md
  backend/api/index.js
  backend/models/Order.js
  backend/routes/checkout.js
  backend/routes/orders.js
  backend/routes/sales.js
  backend/routes/transactions.js
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

feat(dashboard): wire real data and remove placeholders
  Frontend/src/components/Biography.js
  Frontend/src/components/Blogs.js
  Frontend/src/components/BusinessModel.js
  Frontend/src/components/DashboardTab.jsx
  Frontend/src/components/Journals.js
  Frontend/src/components/Novel.js
  Frontend/src/components/OverviewTab.css
  Frontend/src/components/OverviewTab.jsx
  Frontend/src/components/PVAFood.js
  Frontend/src/components/RequireAdminAuth.jsx
  Frontend/src/components/Research.js
  Frontend/src/components/TransactionsTab.jsx
  Frontend/src/components/Writings.js
  Frontend/src/lib/api.js
  Frontend/src/pages/AdminPage.jsx
  Frontend/src/pages/UserDashboard.css
  Frontend/src/pages/UserDashboard.jsx
  backend/routes/admin.js
  backend/routes/orders.js
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

feat(frontend): unify theme toggles and improve page clarity
  Frontend/src/App.jsx
  Frontend/src/base.css
  Frontend/src/components/AdminNav.css
  Frontend/src/components/Layout.jsx
  Frontend/src/hooks/useArchiveTheme.js
  Frontend/src/pages/AccountPage.jsx
  Frontend/src/pages/ArchiveLibraryPage.jsx
  Frontend/src/pages/DealJoinPage.jsx
  Frontend/src/pages/DealsPage.css
  Frontend/src/pages/DealsPage.jsx
  Frontend/src/pages/LoginPage.jsx
  Frontend/src/pages/OnboardingPage.jsx
  Frontend/src/pages/RegisterPage.jsx
  Frontend/src/pages/StreamsPage.jsx
  Frontend/src/styles/admin-common.css
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

feat(deals): add quick order workflow with email notifications
  Frontend/src/components/DashboardTab.jsx
  Frontend/src/components/MakeOrderModal.css
  Frontend/src/components/MakeOrderModal.jsx
  Frontend/src/pages/AdminPage.jsx
  MAKE_ORDER_FEATURE.md
  backend/routes/deals.js
  backend/service/emailService.js
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

Revert "feat(deals): add quick order workflow with email notifications"
  Frontend/src/components/DashboardTab.jsx
  Frontend/src/components/MakeOrderModal.css
  Frontend/src/components/MakeOrderModal.jsx
  Frontend/src/pages/AdminPage.jsx
  MAKE_ORDER_FEATURE.md
  backend/routes/deals.js
  backend/service/emailService.js
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

feat: harden admin session and checkout cancellation flow
  Frontend/src/components/CloudStorageTab.jsx
  Frontend/src/lib/api.js
  Frontend/src/lib/axios.js
  Frontend/src/pages/AdminPage.jsx
  Frontend/src/pages/ArchiveLibraryPage.css
  Frontend/src/pages/ArchiveLibraryPage.jsx
  Frontend/src/pages/CheckoutCancelPage.jsx
  backend/lib/archiveNormalize.js
  backend/models/ArchiveEntry.js
  backend/models/Order.js
  backend/routes/admin.js
  backend/routes/archive.js
  backend/routes/blogs.js
  backend/routes/checkout.js
  backend/routes/webhooksStripe.js
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

feat: add OpenClaw Telegram bridge worker
  .github/scripts/openclaw-telegram-bridge.mjs
  .github/workflows/openclaw-telegram-bridge.yml
  OPENCLAW_TELEGRAM_BRIDGE.md
Due: prettier --write

feat: unify OpenClaw ecosystem snapshot
  .github/scripts/openclaw-respond.mjs
  .github/scripts/openclaw-telegram-bridge.mjs
  .github/workflows/openclaw-agent.yml
  Frontend/src/components/OpenClawTab.css
  Frontend/src/components/OpenClawTab.jsx
  OPENCLAW_ECOSYSTEM.md
  OPENCLAW_TELEGRAM_BRIDGE.md
  backend/routes/openclaw.js
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

refactor: resolve Ollama from live ecosystem status
  .github/scripts/openclaw-respond.mjs
  .github/workflows/openclaw-agent.yml
Due: prettier --write

feat(openclaw): harden live bridge and globalize admin logic mode
  .github/scripts/openclaw-respond.mjs
  .github/scripts/openclaw-telegram-bridge.mjs
  Frontend/src/components/OpenClawTab.jsx
  OPENCLAW_TELEGRAM_BRIDGE.md
  backend/routes/openclaw.js
Due: eslint --fix, prettier --write

fix(openclaw): avoid false-negative ecosystem degradation
  backend/routes/openclaw.js
Due: eslint --fix, prettier --write

fix(openclaw): mark responder online when queue is idle
  .github/scripts/openclaw-respond.mjs
Due: none

fix(frontend): include static html entry pages in dist deploy
  Frontend/scripts/copy-src-to-dist.cjs
Due: none

fix(frontend): restore reliable admin route access
  Frontend/src/App.jsx
  Frontend/src/components/RequireAdminAuth.jsx
Due: eslint --fix, prettier --write

fix(frontend): restore archive legibility and bubble controls
  Frontend/src/pages/ArchiveLibraryPage.css
Due: prettier --write, node qa/scripts/check-brand-tokens.js

feat(openclaw): add runtime ollama config in admin panel
  Frontend/src/components/OpenClawTab.jsx
  backend/models/AdminRuntimeConfig.js
  backend/routes/admin.js
Due: eslint --fix, prettier --write

feat(openclaw): enable realtime online telegram runtime
  .github/scripts/openclaw-telegram-bridge.mjs
  .github/workflows/openclaw-queue-worker.yml
  .github/workflows/openclaw-realtime-online.yml
  OPENCLAW_TELEGRAM_BRIDGE.md
  backend/package.json
  backend/scripts/openclaw-queue-worker.js
Due: eslint --fix, prettier --write, sort-package-json

feat(openclaw): add public realtime telegram mode
  .github/scripts/openclaw-telegram-bridge.mjs
  .github/workflows/openclaw-realtime-online.yml
  OPENCLAW_TELEGRAM_BRIDGE.md
Due: prettier --write

fix(openclaw): stabilize cloud realtime workflow runs
  .github/scripts/openclaw-telegram-bridge.mjs
  .github/workflows/openclaw-queue-worker.yml
  .github/workflows/openclaw-realtime-online.yml
Due: prettier --write

fix(ci): preempt stale realtime openclaw runs
  .github/workflows/openclaw-realtime-online.yml
Due: prettier --write

fix(ci): run realtime mode without queue-worker secrets
  .github/workflows/openclaw-queue-worker.yml
  .github/workflows/openclaw-realtime-online.yml
  OPENCLAW_TELEGRAM_BRIDGE.md
Due: prettier --write

feat(ci): add on-demand telegram send workflow
  .github/scripts/telegram-send-now.mjs
  .github/workflows/telegram-send-now.yml
  Frontend/src/components/OpenClawTab.jsx
  backend/routes/bounties.js
  backend/service/bountyHunter.js
Due: eslint --fix, prettier --write

fix(openclaw): force direct telegram reply fallback
  .github/scripts/openclaw-telegram-bridge.mjs
  .github/workflows/openclaw-telegram-bridge.yml
  OPENCLAW_TELEGRAM_BRIDGE.md
Due: prettier --write

chore(ci): wire ollama vars for telegram bridge
  .github/workflows/openclaw-telegram-bridge.yml
Due: prettier --write

fix(openclaw): clean public telegram runtime config
  .github/scripts/openclaw-respond.mjs
  .github/workflows/openclaw-agent.yml
  .github/workflows/openclaw-realtime-online.yml
  .github/workflows/openclaw-telegram-bridge.yml
  OPENCLAW_TELEGRAM_BRIDGE.md
Due: prettier --write

fix(ci): make telegram workflows public defaults
  .github/workflows/openclaw-agent.yml
  .github/workflows/openclaw-realtime-online.yml
  .github/workflows/openclaw-telegram-bridge.yml
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,yml,yaml,md})) or (any of: *.{css,scss})
  node qa/scripts/check-brand-tokens.js: any of: *.{css,scss}
  forge fmt: any of: apps/contracts/**/*.sol
  sort-package-json: any of: package.json
