Repository PVAGR/pva-bazaar-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js, forge fmt, sort-package-json

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,yml,yaml,md}": [
    "prettier --write"
  ],
  "*.{css,scss}": [
    "prettier --write",
    "node qa/scripts/check-brand-tokens.js"
  ],
  "apps/contracts/**/*.sol": [
    "forge fmt"
  ],
  "package.json": [
    "sort-package-json"
  ]
}

fix: resolve backend lint errors
  backend/api/index.js
  backend/legacy-system.js
  backend/lib/itemInventory.js
  backend/manifesto-ai.js
  backend/routes/artifacts.js
  backend/routes/deals.js
  backend/routes/oauthTwitch.js
  backend/routes/oauthYouTube.js
  backend/routes/portfolio.js
  backend/routes/search.js
  backend/utils/vectorSearchService.js
  eslint.config.mjs
Due: eslint --fix, prettier --write

fix: add backend lint script for CI, ignore scripts/*.cjs
  backend/package.json
  eslint.config.mjs
Due: prettier --write, sort-package-json

fix: resolve lint in vitest/playwright config and qa
  eslint.config.mjs
  qa/config/playwright.global-setup.ts
  qa/config/playwright.global-teardown.ts
  vitest.config.ts
Due: eslint --fix, prettier --write

fix: resolve lint in qa brand check script
  qa/scripts/check-brand-tokens.js
Due: eslint --fix, prettier --write

feat: multi-platform streaming like Meld Studio
  Frontend/src/pages/StreamsPage.css
  Frontend/src/pages/StreamsPage.jsx
  backend/api/index.js
  backend/models/User.js
  backend/routes/oauthKick.js
  backend/routes/oauthYouTube.js
  backend/routes/users.js
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

test: add StreamsPage tests for multi-platform streaming UI
  Frontend/src/pages/StreamsPage.test.jsx
Due: eslint --fix, prettier --write

fix: StreamsPage meta description and button accessibility
  Frontend/src/pages/StreamsPage.jsx
Due: eslint --fix, prettier --write

feat: add Streams link to footer nav
  Frontend/src/components/SiteFooter.jsx
Due: eslint --fix, prettier --write

test: assert Streams link in SiteFooter
  Frontend/src/components/SiteFooter.test.jsx
Due: eslint --fix, prettier --write

feat: ERC-20 Token Creator in admin
  Frontend/src/App.jsx
  Frontend/src/components/AdminNav.jsx
  Frontend/src/components/SiteFooter.jsx
  Frontend/src/pages/TokenCreatorPage.css
  Frontend/src/pages/TokenCreatorPage.jsx
  backend/.env.example
  backend/TOKEN_CREATOR_SETUP.md
  backend/api/index.js
  backend/contracts/PVASimpleERC20.sol
  backend/models/Token.js
  backend/routes/tokens.js
  backend/scripts/compile-erc20.js
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

test: add TokenCreatorPage tests
  Frontend/src/pages/TokenCreatorPage.test.jsx
Due: eslint --fix, prettier --write

bang
  README.md
Due: prettier --write

feat: add richyrichaii user, db seed/check scripts, align MongoDB and rollout docs
  .env.local.example
  DEPLOYMENT.md
  backend/.env.example
  backend/api/index.js
  backend/scripts/connect-check.js
  backend/seed.js
  package.json
Due: eslint --fix, prettier --write, sort-package-json

jj\457
  .env.local.example
  DEPLOYMENT.md
  Frontend/src/pages/LoginPage.jsx
  backend/api/index.js
  backend/models/User.js
  backend/routes/auth.js
  backend/scripts/connect-check.js
  backend/seed.js
Due: eslint --fix, prettier --write

fix: clearer Database connection failed message, longer MongoDB timeouts in prod, DEPLOYMENT troubleshooting
  DEPLOYMENT.md
  Frontend/src/pages/AdminPage.jsx
  backend/api/index.js
Due: eslint --fix, prettier --write

feat: phased venture docs (Kenyan crafts, ops, Pasha VII lore), Next app archive + alchemical layout
  _archive/legacy-sites/frontend-site/public/js/pva-nav.js
  _archive/legacy-sites/public-site/legacy/public/js/pva-nav.js
  _archive/legacy-sites/public-site/public/public/js/pva-nav.js
  apps/pva-bazaar-web/src/app/archive/page.tsx
  apps/pva-bazaar-web/src/app/layout.tsx
  apps/web-com/dist/assets/index-D-iGIFQS.js
  assets/magnum-opus-DrXhll1V.js
  docs/ETSY-LISTINGS-KENYA.md
  docs/OPS-CUSTOMER-MESSAGES.md
  docs/OPS-INVENTORY-TEMPLATE.csv
  docs/OPS-ORDER-WORKFLOW.md
  docs/PASHA-VII-HOME-STATION.mdx
  docs/PRODUCT-SOURCING-KENYA.md
  docs/VENTURE-ROADMAP.md
  magnum-opus.js
  package-lock.json
  public/magnum-opus.js
  pvabazaar-livestream/src/app/api/webhooks/twitch/route.ts
  qa/backstop/engine_scripts/puppet/onBefore.js
  qa/backstop/engine_scripts/puppet/onReady.js
  routes/blockchain.js
  routes/search.js
  supabase/functions/store-verification/index.ts
  test-apis.js
Due: eslint --fix, prettier --write

feat: Phase 2–4 – alchemical home, verification/manifesto/cart pages, cyber café + Web3 MVP docs
  apps/pva-bazaar-web/src/app/archive/page.tsx
  apps/pva-bazaar-web/src/app/cart/page.tsx
  apps/pva-bazaar-web/src/app/manifesto/page.tsx
  apps/pva-bazaar-web/src/app/page.tsx
  apps/pva-bazaar-web/src/app/verification/page.tsx
  docs/CYBER-CAFE-MODEL.md
  docs/PVABAZAAR-MVP-WEB3.md
Due: eslint --fix, prettier --write

feat(web): verification page artifact lookup + .env.example for API URL
  apps/pva-bazaar-web/.env.example
  apps/pva-bazaar-web/src/app/verification/VerifyArtifactBlock.tsx
  apps/pva-bazaar-web/src/app/verification/page.tsx
Due: eslint --fix, prettier --write

docs(web): README for Next app – run, env, pages, deploy options
  apps/pva-bazaar-web/README.md
Due: prettier --write

docs: index of venture/ops/tech docs; Next README CORS note for ALLOWED_ORIGIN
  apps/pva-bazaar-web/README.md
  docs/README.md
Due: prettier --write

feat: dev:web script, optional Etsy shop link on archive (NEXT_PUBLIC_ETSY_SHOP_URL)
  apps/pva-bazaar-web/.env.example
  apps/pva-bazaar-web/README.md
  apps/pva-bazaar-web/src/app/archive/page.tsx
  package.json
Due: eslint --fix, prettier --write, sort-package-json

docs(CLAUDE): Next app sanctuary layer, dev:web, venture docs index
  CLAUDE.md
Due: prettier --write

chore: verification API in CLAUDE; build:web script; Etsy link on cart page
  CLAUDE.md
  apps/pva-bazaar-web/src/app/cart/page.tsx
  package.json
Due: eslint --fix, prettier --write, sort-package-json

feat: Etsy link on home Phase One card; Web3 MVP doc notes verification lookup
  apps/pva-bazaar-web/src/app/page.tsx
  docs/PVABAZAAR-MVP-WEB3.md
Due: eslint --fix, prettier --write

feat: Next app 404 page; venture roadmap in-repo pointer to docs and sanctuary app
  apps/pva-bazaar-web/src/app/not-found.tsx
  docs/VENTURE-ROADMAP.md
Due: eslint --fix, prettier --write

docs: archive lists 8 Phase One SKUs; Next README documents 404 page
  apps/pva-bazaar-web/README.md
  apps/pva-bazaar-web/src/app/archive/page.tsx
Due: eslint --fix, prettier --write

feat(web): root loading UI; metadata for verification and manifesto pages
  apps/pva-bazaar-web/src/app/loading.tsx
  apps/pva-bazaar-web/src/app/manifesto/page.tsx
  apps/pva-bazaar-web/src/app/verification/page.tsx
Due: eslint --fix, prettier --write

feat(web): metadata for archive and cart; global error boundary
  apps/pva-bazaar-web/src/app/archive/page.tsx
  apps/pva-bazaar-web/src/app/cart/page.tsx
  apps/pva-bazaar-web/src/app/error.tsx
Due: eslint --fix, prettier --write

docs: run commands in docs index; Next README notes loading and error UI
  apps/pva-bazaar-web/README.md
  docs/README.md
Due: prettier --write

feat(web): home page metadata; skip-to-main-content link for accessibility
  apps/pva-bazaar-web/src/app/layout.tsx
  apps/pva-bazaar-web/src/app/page.tsx
Due: eslint --fix, prettier --write

docs(web): archive points to OPS docs; layout Open Graph metadata
  apps/pva-bazaar-web/src/app/archive/page.tsx
  apps/pva-bazaar-web/src/app/layout.tsx
Due: eslint --fix, prettier --write

feat(web): sitemap.xml for /, archive, verification, manifesto, cart; NEXT_PUBLIC_SITE_URL
  apps/pva-bazaar-web/.env.example
  apps/pva-bazaar-web/README.md
  apps/pva-bazaar-web/src/app/sitemap.ts
Due: eslint --fix, prettier --write

feat(web): robots.txt allow all + sitemap; docs index what's in repo
  apps/pva-bazaar-web/src/app/robots.ts
  docs/README.md
Due: eslint --fix, prettier --write

docs: Next README and CLAUDE note sitemap.xml and robots.txt
  CLAUDE.md
  apps/pva-bazaar-web/README.md
Due: prettier --write

docs: venture roadmap Phase 1 and 2 in-repo pointers
  docs/VENTURE-ROADMAP.md
Due: prettier --write

docs: Phase 3 and 4 in-repo pointers; refactor getBaseUrl to lib/siteUrl
  apps/pva-bazaar-web/src/app/robots.ts
  apps/pva-bazaar-web/src/app/sitemap.ts
  apps/pva-bazaar-web/src/lib/siteUrl.ts
  docs/VENTURE-ROADMAP.md
Due: eslint --fix, prettier --write

feat(web): GET /api/health for deployment checks
  apps/pva-bazaar-web/README.md
  apps/pva-bazaar-web/src/app/api/health/route.ts
Due: eslint --fix, prettier --write

docs: CLAUDE notes /api/health; Next README how to add a page
  CLAUDE.md
  apps/pva-bazaar-web/README.md
Due: prettier --write

docs: cross-links between OPS workflow, customer messages, inventory template
  docs/OPS-CUSTOMER-MESSAGES.md
  docs/OPS-ORDER-WORKFLOW.md
Due: prettier --write
