Repository PVAGR/pva-bazaar-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js, forge fmt, sort-package-json

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,yml,yaml,md}": [
    "prettier --write"
  ],
  "*.{css,scss}": [
    "prettier --write",
    "node qa/scripts/check-brand-tokens.js"
  ],
  "apps/contracts/**/*.sol": [
    "forge fmt"
  ],
  "package.json": [
    "sort-package-json"
  ]
}

fix(openclaw): enable public queue mode
  backend/routes/openclaw.js
Due: eslint --fix, prettier --write

fix(openclaw): remember telegram chat target
  .github/scripts/openclaw-telegram-bridge.mjs
  .github/scripts/telegram-send-now.mjs
Due: none

fix(openclaw): make queue worker public mode
  .github/workflows/openclaw-queue-worker.yml
  backend/routes/openclaw.js
  backend/scripts/openclaw-queue-worker.js
Due: eslint --fix, prettier --write

fix(openclaw): skip mongo in public queue worker
  backend/scripts/openclaw-queue-worker.js
Due: eslint --fix, prettier --write

chore(openclaw): force node24 for workflow actions
  .github/workflows/openclaw-agent.yml
  .github/workflows/openclaw-queue-worker.yml
  .github/workflows/openclaw-realtime-online.yml
  .github/workflows/openclaw-telegram-bridge.yml
  .github/workflows/telegram-send-now.yml
Due: prettier --write

chore(openclaw): upgrade workflow actions to node24
  .github/workflows/openclaw-agent.yml
  .github/workflows/openclaw-queue-worker.yml
  .github/workflows/openclaw-realtime-online.yml
  .github/workflows/openclaw-telegram-bridge.yml
  .github/workflows/telegram-send-now.yml
Due: prettier --write

feat(telegram): add webhook-based autonomous bot runtime
  .github/workflows/openclaw-telegram-bridge.yml
  OPENCLAW_TELEGRAM_BRIDGE.md
  backend/api/index.js
  backend/routes/openclaw.js
  backend/routes/webhooksTelegram.js
Due: eslint --fix, prettier --write

feat(telegram): enable webhook runtime and deploy env sync
  .github/workflows/deploy-backend-live.yml
Due: prettier --write

fix(openclaw): bypass general rate limit for openclaw routes
  backend/middleware/rateLimit.js
Due: eslint --fix, prettier --write

fix(openclaw): add responder backoff and worker health resilience
  .github/scripts/openclaw-respond.mjs
  backend/routes/openclaw.js
Due: eslint --fix, prettier --write

fix(telegram): stop polling in realtime webhook mode
  .github/workflows/openclaw-realtime-online.yml
Due: prettier --write

fix(status): report telegram webhook mode as online
  backend/routes/openclaw.js
Due: eslint --fix, prettier --write

fix(status): avoid idle-worker false degrade when queue is empty
  backend/routes/openclaw.js
Due: eslint --fix, prettier --write

feat(openclaw): add persona runtime across telegram and admin cockpit
  Frontend/src/components/OpenClawTab.css
  Frontend/src/components/OpenClawTab.jsx
  backend/.env.example
  backend/models/OpenClawAgentConfig.js
  backend/models/OpenClawMemory.js
  backend/package.json
  backend/routes/openclaw.js
  backend/routes/webhooksTelegram.js
  backend/scripts/smoke-telegram-openclaw.js
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js, sort-package-json

fix(api): expose webhook routes under /api/webhooks alias
  backend/api/index.js
Due: eslint --fix, prettier --write

feat(openclaw): add telegram readiness notification
  backend/routes/openclaw.js
Due: eslint --fix, prettier --write

feat(openclaw): add multi-worker launcher and telegram chat id command
  backend/.env.example
  backend/package.json
  backend/routes/webhooksTelegram.js
  backend/scripts/openclaw-multi-worker.js
Due: eslint --fix, prettier --write, sort-package-json

fix(openclaw): fallback to backend mode when local db is unavailable
  backend/scripts/openclaw-queue-worker.js
Due: eslint --fix, prettier --write

fix(openclaw): prevent one-shot worker crash when db is unavailable
  backend/scripts/openclaw-queue-worker.js
Due: eslint --fix, prettier --write

feat(telegram): add diagnostics command and endpoint hardening
  backend/routes/webhooksTelegram.js
  backend/scripts/smoke-telegram-openclaw.js
Due: eslint --fix, prettier --write

feat(telegram): add email and task assistant commands
  backend/.env.example
  backend/routes/webhooksTelegram.js
  backend/service/emailService.js
Due: eslint --fix, prettier --write

feat(telegram): add workflow and local agent setup
  .vscode/settings.json
  agent-core/agent.py
  agent-core/requirements.txt
  backend/routes/webhooksTelegram.js
Due: eslint --fix, prettier --write

fix(agent-core): load local env and add error handler
  agent-core/agent.py
Due: none

feat(openclaw): add OpenAI cloud fallback and anti-echo telegram handling
  backend/routes/openclaw.js
  backend/routes/webhooksTelegram.js
  backend/scripts/test-connection.js
Due: eslint --fix, prettier --write

fix(openclaw): fall back from echo replies to OpenAI
  backend/routes/openclaw.js
Due: eslint --fix, prettier --write

fix(telegram): add local no-key fallback replies for chat continuity
  backend/routes/openclaw.js
  backend/routes/webhooksTelegram.js
Due: eslint --fix, prettier --write

fix(openclaw): remove local fallback and wait for online responder
  backend/routes/openclaw.js
  backend/routes/webhooksTelegram.js
Due: eslint --fix, prettier --write

feat(openclaw): use online pollinations fallback for live chat
  backend/routes/openclaw.js
  backend/routes/webhooksTelegram.js
Due: eslint --fix, prettier --write

fix(openclaw): use online fallback when db persistence is unavailable
  backend/routes/openclaw.js
Due: eslint --fix, prettier --write

feat(telegram): add memory email and flight assistant commands
  backend/routes/webhooksTelegram.js
Due: eslint --fix, prettier --write

fix(telegram): enforce online-only fallback and remove local model path
  backend/routes/webhooksTelegram.js
Due: eslint --fix, prettier --write

feat: implement popular conference governance and add next web CI
  .github/workflows/main.yml
  .github/workflows/web-next.yml
  Frontend/src/App.jsx
  Frontend/src/components/Layout.jsx
  Frontend/src/lib/api.js
  Frontend/src/pages/PopularConferencePage.css
  Frontend/src/pages/PopularConferencePage.jsx
  apps/pva-bazaar-web/src/app/conference/page.tsx
  apps/pva-bazaar-web/src/app/layout.tsx
  apps/pva-bazaar-web/src/app/sitemap.ts
  backend/api/index.js
  backend/models/GovernanceConference.js
  backend/models/GovernanceProposal.js
  backend/models/GovernanceProposalSupport.js
  backend/models/GovernanceVote.js
  backend/models/GovernanceWalletChallenge.js
  backend/routes/governance.js
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

ci: make web-next install resilient to lockfile drift
  .github/workflows/web-next.yml
Due: prettier --write

ci: make quality-gates opt-in for qa-full labeled PRs
  .github/workflows/quality-gates.yml
Due: prettier --write

fix: remove ethers dependency from governance wallet verification
  backend/routes/governance.js
Due: eslint --fix, prettier --write

fix: add inline governance read routes for production
  backend/api/index.js
Due: eslint --fix, prettier --write

fix: harden popular conference empty states
  Frontend/src/pages/PopularConferencePage.css
  Frontend/src/pages/PopularConferencePage.jsx
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

feat: add mobile install page and PWA support
  Frontend/index.html
  Frontend/public/icons/pva-icon-192.svg
  Frontend/public/icons/pva-icon-512.svg
  Frontend/public/manifest.webmanifest
  Frontend/public/sw.js
  Frontend/src/App.jsx
  Frontend/src/base.css
  Frontend/src/components/Layout.jsx
  Frontend/src/main.jsx
  Frontend/src/pages/DownloadAppPage.jsx
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

fix: enforce privacy-safe logic mode behavior
  .github/scripts/openclaw-respond.mjs
  Frontend/src/components/OpenClawTab.jsx
Due: eslint --fix, prettier --write

fix: stabilize failing github action workflows
  .github/workflows/bounty-money-run-b.yml
  .github/workflows/bounty-money-run.yml
  .github/workflows/verify.yml
Due: prettier --write
