Repository PVAGR/pva-bazaar-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js, forge fmt, sort-package-json

fix: add error handling to API handler for better Vercel diagnostics
  api/[...path].js
Due: eslint --fix, prettier --write

feat: add citizen passport and directory pages with backend routes
  Frontend/src/pages/CitizenDirectoryPage.jsx
  Frontend/src/pages/CitizenPassportPage.jsx
  Frontend/src/pages/PassportPage.css
  Frontend/src/pages/PassportPage.jsx
  backend/routes/passport.js
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

feat: restore tabbed about page with comprehensive sections
  Frontend/src/pages/AboutPage.css
  Frontend/src/pages/AboutPage.jsx
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

feat: OpenClaw AI Agent with persistent MongoDB memory
  Frontend/src/App.jsx
  Frontend/src/components/AgentChat.css
  Frontend/src/components/AgentChat.jsx
  Frontend/src/pages/AgentPage.css
  Frontend/src/pages/AgentPage.jsx
  backend/api/index.js
  backend/models/ConversationThread.js
  backend/routes/agent.js
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

feat: Multi-Model AI Agent + GitHub + Telegram Integration
  AGENT_SETUP_GUIDE.md
  backend/api/index.js
  backend/models/PendingChange.js
  backend/routes/agent.js
  backend/routes/telegram.js
  backend/services/gitHubService.js
  backend/services/llmProvider.js
Due: eslint --fix, prettier --write

feat(agent): add GitHub integration and verification scripts
  AGENT_READY_TEST.ps1
  AGENT_SETUP_COMPLETE.sh
  PROFESSIONAL_AI_AGENT_IMPLEMENTATION.md
  telegram_notify.py
Due: prettier --write

docs: add comprehensive agent setup and testing guide
  AGENT_COMPLETE_GUIDE.md
Due: prettier --write

docs: add project completion report
  COMPLETION_REPORT.md
Due: prettier --write

feat(openclaw): add webhook endpoint and configure worker
  backend/routes/openclaw.js
  openclaw-activate.js
Due: eslint --fix, prettier --write

docs: add comprehensive production verification and validation scripts
  final-verification-report.js
  validate-production.js
Due: eslint --fix, prettier --write

docs: add production verification report and final status
  PRODUCTION_VERIFICATION_REPORT.md
Due: prettier --write

fix(openclaw): default production gateway and webhook URLs
  backend/routes/openclaw.js
Due: eslint --fix, prettier --write

fix(openclaw): default health URL to production API health
  backend/routes/openclaw.js
Due: eslint --fix, prettier --write

fix(frontend): unify layout and footer UX across tabs
  Frontend/src/base.css
  Frontend/src/components/Layout.jsx
  Frontend/src/pages/CitizenDirectoryPage.jsx
  Frontend/src/pages/PassportPage.css
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

feat(frontend): refresh tab presentation and federation layout
  Frontend/src/App.jsx
  Frontend/src/base.css
  Frontend/src/components/FederationManifesto.jsx
  Frontend/src/components/Layout.jsx
  Frontend/src/pages/AboutPage.jsx
  Frontend/src/pages/HomePage.css
  Frontend/src/pages/HomePage.jsx
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

feat(governance): enforce lifecycle and wallet vote checks
  backend/routes/governance.js
Due: eslint --fix, prettier --write

feat(backend): add governance execution timeline updates
  backend/models/GovernanceAdminResponse.js
  backend/routes/governance.js
Due: eslint --fix, prettier --write

feat(backend): wire governance execution timeline to admin
  Frontend/src/lib/api.js
  Frontend/src/pages/AdminGovernancePage.jsx
  backend/routes/governance.js
Due: eslint --fix, prettier --write

fix(frontend): restore archive theme and toggle
  Frontend/src/base.css
  Frontend/src/components/Layout.jsx
  Frontend/src/pages/ProposalDetailPage.jsx
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

feat(frontend): surface execution timeline on proposal cards
  Frontend/src/pages/ProposalEngine.css
  Frontend/src/pages/ProposalsPage.jsx
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

test(backend): cover governance execution timeline endpoints
  backend/tests/governanceExecution.test.js
Due: eslint --fix, prettier --write

feat(frontend): cache governance timeline refresh state
  Frontend/src/pages/ProposalsPage.jsx
Due: eslint --fix, prettier --write

feat(frontend): sync admin decisions to lifecycle status
  Frontend/src/lib/api.js
  Frontend/src/pages/AdminGovernancePage.jsx
Due: eslint --fix, prettier --write

fix(frontend): enforce uniform layout across admin tabs
  Frontend/src/App.jsx
  Frontend/src/pages/AdminDashboard.jsx
  Frontend/src/pages/SearchPage.jsx
Due: eslint --fix, prettier --write

feat(frontend): show governance quorum and vote summary
  Frontend/src/pages/ProposalDetailPage.jsx
Due: eslint --fix, prettier --write

test(frontend): guard route layout and theme uniformity
  Frontend/tests/layoutUniformity.test.js
Due: eslint --fix, prettier --write

feat(governance): expose vote window countdown state
  Frontend/src/pages/ProposalDetailPage.jsx
  backend/routes/governance.js
Due: eslint --fix, prettier --write

chore: cloud migration - 24/7 operation, zero laptop dependency
  .turbo/cookies/1.cookie
  .turbo/daemon/a4dd20af19f3349d-turbo.log.2026-04-13
  Frontend/package-lock.json
  Frontend/public/api-base.json
  Frontend/src/config/env.ts
  Frontend/src/lib/api.js
  Frontend/src/pages/AdminGovernancePage.jsx
  Frontend/vite.config.js
  backend/api/index.js
  backend/routes/agent.js
  backend/routes/did.js
  backend/routes/governance.js
  backend/routes/openclaw.js
  backend/routes/webhooksGithub.js
  backend/tests/governanceExecution.test.js
  backend/workers/queueProcessor.cjs
  package-lock.json
  qa/reports/html.meta.json.gz
  qa/reports/vitest-results.json
  vercel.json
Due: eslint --fix, prettier --write

feat: phase 1 foundation - payments, voting, item reclaim
  backend/api/index.js
  backend/models/BankAccount.js
  backend/models/CryptoFiatExchange.js
  backend/models/ItemReclaim.js
  backend/models/PaymentSplit.js
  backend/models/User.js
  backend/models/VotingBet.js
  backend/models/VotingMarket.js
  backend/models/VotingWallet.js
  backend/routes/bankIntegration.js
  backend/routes/itemReclaim.js
  backend/routes/pricingLookup.js
  backend/routes/voting.js
  backend/routes/votingAuth.js
  backend/services/paymentSplitService.js
  backend/services/reclaimVerificationService.js
  backend/services/votingResolutionService.js
  vercel.json
Due: eslint --fix, prettier --write

feat: phase 2 - shop builder & seller dashboard
  apps/pva-bazaar-web/src/app/seller/dashboard/page.tsx
  apps/pva-bazaar-web/src/app/seller/settings/page.tsx
  backend/api/index.js
  backend/models/SellerProfile.js
  backend/models/Shop.js
  backend/models/ShopFollower.js
  backend/routes/seller.js
  backend/routes/shops.js
  backend/services/shopService.js
Due: eslint --fix, prettier --write

feat(phase3): multi-product support - courses, digital, expertise
  backend/api/index.js
  backend/models/Course.js
  backend/models/DigitalProduct.js
  backend/models/ExpertService.js
  backend/models/ProductType.js
  backend/routes/courses.js
  backend/routes/digital.js
  backend/routes/expertise.js
  backend/routes/products.js
  backend/services/productService.js
Due: eslint --fix, prettier --write

feat(phase4): reviews, messaging, testimonials, analytics
  backend/api/index.js
  backend/models/DirectMessage.js
  backend/models/Review.js
  backend/models/SellerAnalytics.js
  backend/models/Testimonial.js
  backend/routes/analytics.js
  backend/routes/messages.js
  backend/routes/reviews.js
  backend/routes/testimonials.js
  backend/services/messageService.js
  backend/services/reviewService.js
Due: eslint --fix, prettier --write

feat(phase5): community platform - forums, events, articles
  backend/api/index.js
  backend/models/Article.js
  backend/models/Event.js
  backend/models/ForumThread.js
  backend/models/KnowledgeNode.js
  backend/routes/articles.js
  backend/routes/events.js
  backend/routes/forums.js
Due: eslint --fix, prettier --write

feat(phase6a): dynamic pricing & market intelligence engine
  backend/api/index.js
  backend/models/FraudFlag.js
  backend/models/MarketData.js
  backend/models/MarketIntelligence.js
  backend/models/PricingHistory.js
  backend/models/PricingRecommendation.js
  backend/routes/admin-intelligence.js
  backend/routes/pricing.js
  backend/services/pricingService.js
Due: eslint --fix, prettier --write

feat(phases6-8): fulfillment, AI help, partner integrations
  backend/api/index.js
  backend/models/AIAgentBot.js
  backend/models/APIKey.js
  backend/models/FulfillmentCenter.js
  backend/models/InventoryLocation.js
  backend/models/PartnerIntegration.js
  backend/models/ShipmentTracking.js
  backend/models/ShippingRate.js
  backend/routes/ai-help.js
  backend/routes/fulfillment.js
  backend/routes/integrations.js
  backend/services/fulfillmentService.js
Due: eslint --fix, prettier --write

feat(phase8-complete): api docs, tests, seed script, react components
  Frontend/src/components/AIHelpChat.jsx
  Frontend/src/components/SellerDashboard.jsx
  Frontend/src/components/SellerDashboard.module.css
  Frontend/src/components/ShipmentTracking.jsx
  Frontend/src/components/ShipmentTracking.module.css
  Frontend/src/components/ShopPage.jsx
  Frontend/src/components/ShopPage.module.css
  backend/__tests__/phases-6-8.test.js
  backend/api/index.js
  backend/docs/API-DOCS.md
  backend/docs/openapi.yaml
  backend/routes/api-docs.js
  backend/routes/health-check.js
  backend/scripts/seedDatabase.js
  backend/utils/openapi.js
  package.json
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js, sort-package-json

feat: add production monitoring and deployment infrastructure
  backend/docs/PRODUCTION-CHECKLIST.md
  backend/scripts/deploy-verify.sh
  backend/scripts/monitor-production.js
  backend/scripts/status-dashboard.sh
  package.json
Due: eslint --fix, prettier --write, sort-package-json

feat(phase9): universal provenance tokenization portal
  .claude/scheduled_tasks.lock
  Frontend/src/components/ProvenanceSubmission.jsx
  Frontend/src/components/ProvenanceSubmission.module.css
  backend/api/index.js
  backend/docs/PHASE9-PROVENANCE.md
  backend/models/ProvenanceSubmission.js
  backend/routes/provenance.js
  backend/services/provenanceService.js
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

docs: add complete project summary - all 9 phases operational
  backend/docs/EVERYTHING-COMPLETE.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,yml,yaml,md})) or (any of: *.{css,scss})
  node qa/scripts/check-brand-tokens.js: any of: *.{css,scss}
  forge fmt: any of: apps/contracts/**/*.sol
  sort-package-json: any of: package.json
