Repository PVAGR/pva-bazaar-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js, forge fmt, sort-package-json

fix: add rollupOptions to ensure index.html is included in build
  Frontend/vite.config.js
Due: eslint --fix, prettier --write

fix: force copy index.html in postbuild to overwrite vite version
  Frontend/scripts/copy-src-to-dist.cjs
Due: none

fix: serve frontend folder directly to avoid build issues with root index
  vercel.json
Due: prettier --write

fix: add explicit rewrite for root path to index.html
  vercel.json
Due: prettier --write

fix: use Frontend (capital F) directory
  vercel.json
Due: prettier --write

fix: simplify vercel.json to deploy all Frontend files
  vercel.json
Due: prettier --write

fix: use frontend (lowercase) directory with all writings
  vercel.json
Due: prettier --write

fix: add index.html to lowercase frontend
  frontend/index.html
Due: none

feat: add PVA Archive page with authentic content from ages 24-28
  Frontend/writings/pva-archive.html
  frontend/index.html
Due: none

feat: add pva-archive.html to correct lowercase frontend path
  frontend/writings/pva-archive.html
Due: none

chore(secrets): ignore nested env files; untrack backend .env
  .gitignore
  apps/web-org/admin.html
  apps/web-org/blog.html
  apps/web-org/contribute.html
  apps/web-org/page.html
  apps/web-org/style.css
  backend/.env
  backend/api/index.js
  backend/models/Blog.js
  backend/models/Comment.js
  backend/models/EditablePage.js
  backend/package.json
  backend/routes/blogs.js
  backend/routes/comments.js
  backend/routes/contribute.js
  backend/routes/pages.js
  backend/routes/transactions.js
  package-lock.json
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js, sort-package-json

chore(vercel): enable API routes and static frontend together
  vercel.json
Due: prettier --write

feat(frontend): add API status indicator on homepage to validate /api routing
  frontend/index.html
Due: none

feat(api): add /api/health under frontend project to enable routing without root change
  frontend/api/health.js
Due: eslint --fix, prettier --write

chore(frontend): route /api/health to static JSON for immediate health check
  frontend/api/health.json
  frontend/vercel.json
Due: prettier --write

fix(frontend): correct static /api/health page to return JSON content
  frontend/api/health/index.html
Due: none

feat(frontend): add Status page and nav link; live checks for /api health and artifacts
  frontend/index.html
  frontend/status.html
Due: none

feat(frontend): render Latest Artifacts when API is available; no fake data, clean fallback
  frontend/index.html
  frontend/js/api.js
  frontend/js/index-data.js
Due: eslint --fix, prettier --write

feat: frontend status + portfolio pages; API utils; backend CORS allowlist for pvabazaar.org
  backend/api/index.js
  frontend/js/api.js
  frontend/pages/portfolio.html
Due: eslint --fix, prettier --write

feat(frontend): add product details page; clean rendering from API only
  frontend/pages/productshowcase.html
Due: none

ci(vercel): auto-deploy frontend to Production on push to main
  .github/workflows/deploy-web-vercel.yml
Due: prettier --write

chore(frontend): route /com and /org to dist/public; include web-com build
  Frontend/dist/public/com/assets/index-D-iGIFQS.js
  Frontend/dist/public/com/assets/index-tn0RQdqM.css
  Frontend/dist/public/com/index.html
  Frontend/vercel.json
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

fix(frontend): explicit /com and /org index routes; expand homepage tabs
  Frontend/index.html
  Frontend/vercel.json
Due: prettier --write

build(frontend): auto-bundle web-com and web-org into dist/public for unified deploy
  Frontend/dist/public/org/admin.html
  Frontend/dist/public/org/biography/index.html
  Frontend/dist/public/org/blog.html
  Frontend/dist/public/org/contribute.html
  Frontend/dist/public/org/dist/index.html
  Frontend/dist/public/org/dist/writings/aetherzamin.html
  Frontend/dist/public/org/dist/writings/akashic-records.html
  Frontend/dist/public/org/dist/writings/amnesia-consciousness.html
  Frontend/dist/public/org/dist/writings/balance.html
  Frontend/dist/public/org/dist/writings/divine-duality.html
  Frontend/dist/public/org/dist/writings/eden-theory.html
  Frontend/dist/public/org/dist/writings/eternal-renewal.html
  Frontend/dist/public/org/dist/writings/index.html
  Frontend/dist/public/org/dist/writings/kenya-initiative.html
  Frontend/dist/public/org/dist/writings/oracle-assessment.html
  Frontend/dist/public/org/dist/writings/personal-chronicle.html
  Frontend/dist/public/org/dist/writings/personal-reflections.html
  Frontend/dist/public/org/dist/writings/pilgrimage.html
  Frontend/dist/public/org/dist/writings/pura-vida.html
  Frontend/dist/public/org/dist/writings/pva-business-model.html
  Frontend/dist/public/org/dist/writings/pva-food.html
  Frontend/dist/public/org/dist/writings/sacred-cannabis.html
  Frontend/dist/public/org/dist/writings/sacred-texts.html
  Frontend/dist/public/org/dist/writings/stream.html
  Frontend/dist/public/org/dist/writings/this-or-that.html
  Frontend/dist/public/org/eslint.config.mjs
  Frontend/dist/public/org/index.html
  Frontend/dist/public/org/novel/index.html
  Frontend/dist/public/org/package.json
  Frontend/dist/public/org/page.html
  Frontend/dist/public/org/research/index.html
  Frontend/dist/public/org/style.css
  Frontend/dist/public/org/tsconfig.json
  Frontend/dist/public/org/vite.config.ts
  Frontend/scripts/copy-src-to-dist.cjs
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js, sort-package-json

refactor(site): single pvabazaar.org with tabs; add /market routes; clean nav
  Frontend/index.html
  Frontend/scripts/copy-src-to-dist.cjs
  Frontend/vercel.json
Due: prettier --write

fix(routes): add explicit index routes for writings/novel/biography/research
  Frontend/vercel.json
Due: prettier --write

fix(routes): map /writings to pva-archive.html
  Frontend/vercel.json
Due: prettier --write

fix(nav): route Writings tab to /org/writings/ for reliability
  Frontend/index.html
  apps/web-org/index.html
Due: none

chore(frontend): broaden canonical redirects for legacy paths (blog/posts, marketplace/shop/store, writing/archive)
  Frontend/biography/index.html
  Frontend/dist/biography/index.html
  Frontend/dist/index.html
  Frontend/dist/novel/index.html
  Frontend/dist/public/market/assets/index-D-iGIFQS.js
  Frontend/dist/public/market/assets/index-tn0RQdqM.css
  Frontend/dist/public/market/index.html
  Frontend/dist/research/index.html
  Frontend/dist/writings/pva-archive.html
  Frontend/novel/index.html
  Frontend/research/index.html
  Frontend/scripts/apply-canonical-header.cjs
  Frontend/vercel.json
  Frontend/writings/pva-archive.html
  tsconfig.tsbuildinfo
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

chore(frontend): add nested-path redirects for marketplace and writings synonyms
  Frontend/vercel.json
Due: prettier --write

fix(frontend): preserve deep /writings/* links; copy status.html to dist
  Frontend/scripts/copy-src-to-dist.cjs
  Frontend/vercel.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,yml,yaml,md})) or (any of: *.{css,scss})
  node qa/scripts/check-brand-tokens.js: any of: *.{css,scss}
  forge fmt: any of: apps/contracts/**/*.sol
  sort-package-json: any of: package.json
