Repository PVAGR/pva-bazaar-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js, forge fmt, sort-package-json

feat(promoter): consignment ambassador program
  Frontend/src/components/Layout.jsx
  Frontend/src/components/PromoterProgram.css
  Frontend/src/components/PromoterProgram.jsx
  Frontend/src/lib/api.js
  Frontend/src/pages/HomePage.jsx
  Frontend/src/pages/MarketplaceItemPage.jsx
  Frontend/src/pages/PartnershipsPage.jsx
  Frontend/src/styles/vision.css
  backend/api/index-serverless.js
  backend/api/index.js
  backend/models/Promoter.js
  backend/package.json
  backend/routes/promoters.js
  backend/scripts/debug-provenance-cast.js
  package-lock.json
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js, sort-package-json

fix: repair vitest crash, eslint config, and promoter lint comment
  .eslintrc.js
  Frontend/.eslintrc.json
  backend/routes/promoters.js
  package-lock.json
  package.json
  qa/reports/vitest-results.json
Due: eslint --fix, prettier --write, sort-package-json

feat(promoters): add tests, dashboard, rate limiting, and param handling
  Frontend/src/components/PromoterProgram.css
  Frontend/src/components/PromoterProgram.jsx
  Frontend/src/pages/MarketplaceItemPage.jsx
  backend/middleware/rateLimit.js
  backend/routes/__tests__/promoters.test.js
  backend/routes/promoters.js
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

feat(promoters): consignment ambassador program with tests, dashboard, rate limiting (#83)
  .eslintrc.js
  Frontend/.eslintrc.json
  Frontend/src/components/Layout.jsx
  Frontend/src/components/PromoterProgram.css
  Frontend/src/components/PromoterProgram.jsx
  Frontend/src/lib/api.js
  Frontend/src/pages/HomePage.jsx
  Frontend/src/pages/MarketplaceItemPage.jsx
  Frontend/src/pages/PartnershipsPage.jsx
  Frontend/src/styles/vision.css
  backend/api/index-serverless.js
  backend/api/index.js
  backend/middleware/rateLimit.js
  backend/models/Promoter.js
  backend/package.json
  backend/routes/__tests__/promoters.test.js
  backend/routes/promoters.js
  backend/scripts/debug-provenance-cast.js
  package-lock.json
  package.json
  qa/reports/vitest-results.json
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js, sort-package-json

fix(books,api): server-authoritative publishing, no false success
  Frontend/src/components/AIHelpChat.jsx
  Frontend/src/components/AgentChat.jsx
  Frontend/src/components/CloudStorageTab.jsx
  Frontend/src/components/Layout.jsx
  Frontend/src/components/LibraryTab.jsx
  Frontend/src/components/ProvenanceSubmission.jsx
  Frontend/src/lib/api.js
  Frontend/src/lib/apiBase.js
  Frontend/src/lib/apiBase.test.js
  Frontend/src/lib/archiveApi.js
  Frontend/src/lib/localBookVault.js
  Frontend/src/lib/localBookVault.test.js
  Frontend/src/lib/openclaw-widget.js
  Frontend/src/pages/BookPublishingPage.css
  Frontend/src/pages/BookPublishingPage.jsx
  Frontend/src/pages/BookReaderPage.jsx
  Frontend/src/pages/BookShelfPage.jsx
  Frontend/src/pages/CareerQuizPage.jsx
  Frontend/src/pages/CivilizationLibraryPage.jsx
  Frontend/src/pages/PartnersPage.jsx
  Frontend/src/pages/ReferralPage.jsx
  Frontend/src/pages/WritingStudioPage.jsx
  Frontend/src/pages/legacy.html
  docs/PRODUCTION_OPERATIONS.md
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

fix(referral,partners): server-authoritative directory, stats, drafts
  Frontend/src/components/Layout.jsx
  Frontend/src/pages/PartnersPage.css
  Frontend/src/pages/PartnersPage.jsx
  Frontend/src/pages/ReferralPage.css
  Frontend/src/pages/ReferralPage.jsx
  Frontend/tests/PartnersPage.test.jsx
  Frontend/tests/ReferralPage.test.jsx
  backend/routes/__tests__/partners.test.js
  backend/routes/__tests__/referrals.test.js
  docs/PRODUCTION_OPERATIONS.md
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

fix(commerce): make marketplace checkout server authoritative
  Frontend/src/components/Layout.jsx
  Frontend/src/lib/api.js
  Frontend/src/lib/featuredInventory.js
  Frontend/src/pages/CartPage.jsx
  Frontend/src/pages/CheckoutSuccessPage.jsx
  Frontend/src/pages/MarketplaceItemPage.jsx
  Frontend/src/pages/UserDashboard.jsx
  Frontend/tests/CartCheckout.test.jsx
  Frontend/tests/MarketplaceTrust.test.jsx
  Frontend/tests/PartnersPage.test.jsx
  Frontend/tests/ReferralAttribution.test.jsx
  Frontend/tests/ReferralPage.test.jsx
  Frontend/tests/SellerDashboard.test.jsx
  backend/api/__tests__/serverless-webhook.test.js
  backend/api/index-serverless.js
  backend/api/index.js
  backend/routes/__tests__/commerce.test.js
  backend/routes/items.js
  backend/routes/products.js
  backend/routes/seller.js
  backend/routes/webhooksStripe.js
  docs/PRODUCTION_OPERATIONS.md
Due: eslint --fix, prettier --write

fix(deploy): repair backend deploy pipeline, harden bundle
  .github/workflows/deploy-backend-live.yml
  backend/vercel.json
Due: prettier --write

ci(diagnostic): add workflow to fetch Vercel runtime logs
  .github/workflows/fetch-vercel-logs.yml
Due: prettier --write

ci(diagnostic): print raw logs JSON for debugging
  .github/workflows/fetch-vercel-logs.yml
Due: prettier --write

ci(diagnostic): use vercel CLI logs command for runtime logs
  .github/workflows/fetch-vercel-logs.yml
Due: prettier --write

ci(diagnostic): fix vercel logs CLI flag
  .github/workflows/fetch-vercel-logs.yml
Due: prettier --write

ci(diagnostic): fetch deployment details and build events
  .github/workflows/fetch-vercel-logs.yml
Due: prettier --write

ci(diagnostic): query alias target and deployment JSON
  .github/workflows/fetch-vercel-logs.yml
Due: prettier --write

ci(diagnostic): alias assignment, headers, full deployment object
  .github/workflows/fetch-vercel-logs.yml
Due: prettier --write

ci(diagnostic): capture production runtime error logs for phase3 triage
  .github/workflows/fetch-vercel-logs.yml
Due: prettier --write

ci(diagnostic): trim whitespace from vercel token for logs CLI
  .github/workflows/fetch-vercel-logs.yml
Due: prettier --write

fix(commerce): use crypto.randomUUID in serverless closure
  backend/api/__tests__/serverless-webhook.test.js
  backend/lib/itemInventory.js
  backend/routes/checkout.js
Due: eslint --fix, prettier --write

fix(blog): make blog publishing server authoritative
  Frontend/api/blogs.js
  Frontend/api/blogs/[slug].js
  Frontend/api/blogs/index.js
  Frontend/api/blogs/quick-publish.js
  Frontend/api/blogs/seed.json
  Frontend/src/App.jsx
  Frontend/src/lib/__tests__/blogPublish.test.js
  Frontend/src/lib/__tests__/blogSanitize.test.jsx
  Frontend/src/lib/blogPublish.js
  Frontend/src/pages/BlogIndexPage.jsx
  Frontend/src/pages/BlogPostPage.css
  Frontend/src/pages/BlogPostPage.jsx
  Frontend/src/pages/WritingStudioPage.jsx
  Frontend/src/pages/__tests__/BlogIndexPage.test.jsx
  backend/api/index-serverless.js
  backend/routes/__tests__/blogs.test.js
  backend/routes/blogs.js
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

fix(auth): make accounts/sessions/admin server-authoritative (phase 5)
  Frontend/src/components/RequireAdminAuth.jsx
  Frontend/src/components/RequireAdminAuth.phase5.test.jsx
  Frontend/src/hooks/useConnectionMode.js
  Frontend/src/lib/__tests__/authRecoveryPhase5.test.jsx
  Frontend/src/lib/api.js
  Frontend/src/lib/localAuthVault.js
  Frontend/src/pages/LoginPage.jsx
  Frontend/src/pages/ProposalDetailPage.jsx
  Frontend/src/pages/RegisterPage.jsx
  Frontend/src/pages/__tests__/LoginPage.phase5.test.jsx
  Frontend/src/pages/__tests__/RegisterPage.phase5.test.jsx
  backend/lib/jwtSecret.js
  backend/lib/mockUserStore.js
  backend/middleware/adminSession.js
  backend/middleware/auth.js
  backend/routes/__tests__/authRecoveryPhase5.test.js
  backend/routes/admin.js
  backend/routes/adminLogin.js
  backend/routes/auth.js
  docs/PRODUCTION_OPERATIONS.md
Due: eslint --fix, prettier --write

feat(search): simplify navigation and add universal discovery
  Frontend/404.html
  Frontend/src/base.css
  Frontend/src/components/Layout.jsx
  Frontend/src/components/UniversalSearch.jsx
  Frontend/src/lib/searchCatalog.js
  Frontend/src/pages/HomePage.jsx
  Frontend/tests/UniversalSearch.test.jsx
  backend/routes/search.js
  backend/tests/universalSearch.test.js
  docs/PRODUCTION_OPERATIONS.md
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

feat(search): simplify navigation and add universal discovery (#102)
  Frontend/404.html
  Frontend/src/base.css
  Frontend/src/components/Layout.jsx
  Frontend/src/components/UniversalSearch.jsx
  Frontend/src/lib/searchCatalog.js
  Frontend/src/pages/HomePage.jsx
  Frontend/tests/UniversalSearch.test.jsx
  backend/routes/search.js
  backend/tests/universalSearch.test.js
  docs/PRODUCTION_OPERATIONS.md
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

fix(ops): make production survivability self-verifying
  .env.example
  .env.example.blueprint
  .env.production.template
  .github/workflows/deploy-backend-live.yml
  backend/routes/__tests__/openclawAuth.test.js
  backend/routes/__tests__/openclawStaleExpiry.test.js
  backend/routes/openclaw.js
  backend/scripts/openclaw-queue-worker.js
  docs/DEPLOYMENT.md
  docs/OWNER_ABSENCE_RUNBOOK.md
  docs/PRODUCTION_OPERATIONS.md
  package.json
  scripts/verify-core-api-live.mjs
  scripts/verify-frontend-routes-live.mjs
  scripts/verify-live-ready.mjs
Due: eslint --fix, prettier --write, sort-package-json

fix(api): allow pvabazaar.org to frame rendered book views
  backend/api/index-serverless.js
  backend/api/index.js
Due: eslint --fix, prettier --write

fix(ux): connect blog archive and mobile navigation
  Frontend/src/App.jsx
  Frontend/src/base.css
  Frontend/src/components/Layout.jsx
  Frontend/src/lib/api.js
  Frontend/src/pages/ArchiveLibraryPage.css
  Frontend/src/pages/ArchiveLibraryPage.jsx
  Frontend/src/pages/BlogArchivePostPage.jsx
  Frontend/src/pages/BlogIndexPage.jsx
  Frontend/src/pages/BlogPostPage.css
  Frontend/src/pages/__tests__/BlogIndexPage.test.jsx
  backend/api/index-serverless.js
  backend/routes/__tests__/blogFeed.test.js
  backend/routes/blogFeed.js
  playwright.mobile-blog.config.ts
  qa/reports/vitest-results.json
  tests/mobile-nav-blog.spec.js
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,yml,yaml,md})) or (any of: *.{css,scss})
  node qa/scripts/check-brand-tokens.js: any of: *.{css,scss}
  forge fmt: any of: apps/contracts/**/*.sol
  sort-package-json: any of: package.json
