Repository PVAGR/pva-bazaar-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js, forge fmt, sort-package-json

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,yml,yaml,md}": [
    "prettier --write"
  ],
  "*.{css,scss}": [
    "prettier --write",
    "node qa/scripts/check-brand-tokens.js"
  ],
  "apps/contracts/**/*.sol": [
    "forge fmt"
  ],
  "package.json": [
    "sort-package-json"
  ]
}

fix: deserialize Cloudinary SDK error object in health endpoint
  api/[...path].js
Due: eslint --fix, prettier --write

fix: route book publishes to MongoDB instead of ephemeral file store
  api/[...path].js
  backend/routes/bookPublishing.js
Due: eslint --fix, prettier --write

fix(auth): ensure MongoDB-backed auth and add ObjectId validation
  backend/middleware/auth.js
  backend/routes/auth.js
  backend/routes/bookPublishing.js
Due: eslint --fix, prettier --write

Add static fallback aliases for onboarding
  Frontend/public/get-started.html
  Frontend/public/recovery.html
Due: none

Add onboarding fallback aliases
  get-started.html
  recovery.html
Due: none

Sync frontend lockfile for CI deploy
  CHANGELOG.md
  CURRENT_STATUS.md
  package-lock.json
Due: prettier --write

Clarify public status build snapshot
  Frontend/public/status.html
Due: none

Harden frontend workflow installs
  .github/workflows/frontend.yml
  CHANGELOG.md
  CURRENT_STATUS.md
Due: prettier --write

Fix legacy public routes and SEO metadata
  404.html
  Frontend/404.html
  Frontend/pages/forum.html
  Frontend/pages/portfolio.html
  Frontend/pages/provenance.html
  Frontend/pages/pvashares.html
  Frontend/pages/welcome.html
  Frontend/public/404.html
  Frontend/public/llms.txt
  Frontend/public/readable-site.json
  Frontend/public/sitemap.xml
  llms.txt
  readable-site.json
  sitemap.xml
  status.html
Due: prettier --write

Add public forum landing page
  Frontend/public/forum.html
Due: none

Publish forum and legacy route fixes
  forum.html
Due: none

Allow frontend deploy to continue past build exit codes
  .github/workflows/deploy-frontend.yml
Due: prettier --write

Add canonical welcome redirect page
  404.html
  Frontend/404.html
  Frontend/scripts/copy-src-to-dist.cjs
  Frontend/welcome.html
Due: none

Redirect legacy welcome route to homepage
  404.html
  Frontend/404.html
  Frontend/scripts/copy-src-to-dist.cjs
  Frontend/welcome.html
Due: none

Force Vercel backend to full Express app
  CHANGELOG.md
  CURRENT_STATUS.md
  api/[...path].js
Due: eslint --fix, prettier --write

Add serverless route fallbacks for live backend
  CHANGELOG.md
  CURRENT_STATUS.md
  api/[...path].js
  backend/api/index-serverless.js
  backend/routes/archive.js
  backend/routes/openclaw.js
  backend/routes/search.js
Due: eslint --fix, prettier --write

Relax live ping threshold
  CHANGELOG.md
  CURRENT_STATUS.md
  Frontend/public/live-map.json
Due: prettier --write

Route admin uploads through backend cloud storage
  CHANGELOG.md
  CURRENT_STATUS.md
  Frontend/src/lib/api.js
  Frontend/src/pages/AdminNewEntry.jsx
  backend/api/index-serverless.js
Due: eslint --fix, prettier --write

Remove GitHub publish key from book publishing
  CHANGELOG.md
  CURRENT_STATUS.md
  Frontend/src/lib/api.js
  Frontend/src/lib/bookStoreTokenVault.js
  Frontend/src/pages/BookPublishingPage.jsx
  backend/routes/bookPublishing.js
Due: eslint --fix, prettier --write

Expand archive library to full page
  Frontend/src/pages/ArchiveLibraryPage.css
Due: prettier --write, node qa/scripts/check-brand-tokens.js

fix(books): add Cloudinary fallback with better error logging
  backend/routes/bookPublishing.js
Due: eslint --fix, prettier --write

fix: lightweight public API, no-cache, direct Cloudinary uploads
  apps/pva-bazaar-web/src/app/library/publish/PublishBook.tsx
  apps/pva-bazaar-web/src/lib/libraryApi.ts
  backend/routes/bookPublishing.js
Due: eslint --fix, prettier --write

Force Mongo-backed book publishing and auth
  CHANGELOG.md
  CURRENT_STATUS.md
  backend/routes/auth.js
  backend/routes/bookPublishing.js
Due: eslint --fix, prettier --write

Document verified Mongo-backed book publishing
  CHANGELOG.md
  CURRENT_STATUS.md
Due: prettier --write

Harden book publish cloud upload flow
  CHANGELOG.md
  CURRENT_STATUS.md
  Frontend/.env.production
  Frontend/src/config/env.ts
  Frontend/src/lib/api.js
  Frontend/src/pages/BookPublishingPage.css
  Frontend/src/pages/BookPublishingPage.jsx
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

Remove Cloudinary preset dependency from uploads
  CHANGELOG.md
  CURRENT_STATUS.md
  Frontend/src/components/ArchiveTab.jsx
  Frontend/src/pages/BookPublishingPage.jsx
Due: eslint --fix, prettier --write

Avoid rendering stored html for large book publishes
  CHANGELOG.md
  CURRENT_STATUS.md
  Frontend/src/components/ArchiveTab.jsx
  backend/routes/bookPublishing.js
Due: eslint --fix, prettier --write

Fix Mongo book edit republish save path
  CHANGELOG.md
  CURRENT_STATUS.md
  Frontend/src/pages/BookPublishingPage.jsx
  backend/routes/bookPublishing.js
Due: eslint --fix, prettier --write

Publish extracted manuscript text instead of raw file
  Frontend/src/pages/BookPublishingPage.jsx
Due: eslint --fix, prettier --write

Fallback book publishes to Cloudinary on Mongo quota errors
  CHANGELOG.md
  CURRENT_STATUS.md
  backend/routes/bookPublishing.js
Due: eslint --fix, prettier --write

Harden auth fallbacks for quota-blocked Atlas
  backend/middleware/auth.js
  backend/routes/auth.js
  backend/routes/bookPublishing.js
Due: eslint --fix, prettier --write

Disable OpenClaw scheduled runs by default
  .github/workflows/openclaw-agent.yml
  .github/workflows/openclaw-integration.yml
  .github/workflows/openclaw-queue-worker.yml
  .github/workflows/openclaw-realtime-online.yml
  .github/workflows/openclaw-self-heal.yml
  .github/workflows/openclaw-store-maintenance.yml
  .github/workflows/openclaw-uptime-monitor.yml
Due: prettier --write

Preserve cloud fallback book fields
  backend/routes/bookPublishing.js
Due: eslint --fix, prettier --write

fix(books): add Cloudinary count to debug endpoint
  backend/routes/bookPublishing.js
Due: eslint --fix, prettier --write

fix(api): trigger deployment for debug endpoint update
  backend/api/index-serverless.js
Due: eslint --fix, prettier --write

fix(books): remove Cloudinary as book source, MongoDB only
  backend/routes/bookPublishing.js
Due: eslint --fix, prettier --write

ci(deploy): set VERCEL_GIT_COMMIT_SHA env var for build info
  .github/workflows/deploy-backend-live.yml
Due: prettier --write

fix(api): trigger deployment for debug diagnostics update
  backend/api/index-serverless.js
Due: eslint --fix, prettier --write
