Repository PVAGR/pva-bazaar-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js, forge fmt, sort-package-json

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,yml,yaml,md}": [
    "prettier --write"
  ],
  "*.{css,scss}": [
    "prettier --write",
    "node qa/scripts/check-brand-tokens.js"
  ],
  "apps/contracts/**/*.sol": [
    "forge fmt"
  ],
  "package.json": [
    "sort-package-json"
  ]
}

fix(books): add manuscriptMarkdown to lightweightPublicSummary
  backend/routes/bookPublishing.js
Due: eslint --fix, prettier --write

fix(books): enable file store fallback in memory mode + seed demo book
  backend/data/book-projects.json
  backend/routes/bookPublishing.js
Due: eslint --fix, prettier --write

fix: resolve book publish network error & improve slug dedup
  Frontend/src/pages/BookPublishingPage.jsx
  backend/api/index-serverless.js
  backend/routes/bookPublishing.js
Due: eslint --fix, prettier --write

fix: upload manuscript to Cloudinary first to avoid Vercel timeout
  Frontend/src/pages/BookPublishingPage.jsx
Due: eslint --fix, prettier --write

fix: switch Cloudinary uploads to signed URLs, increase archive timeout
  Frontend/src/pages/BookPublishingPage.jsx
  qa/reports/vitest-results.json
Due: eslint --fix, prettier --write

feat: direct browser-to-IA upload for large manuscripts
  Frontend/src/lib/manuscriptArchives.js
  backend/routes/bookPublishing.js
  qa/reports/vitest-results.json
Due: eslint --fix, prettier --write

fix: add x-archive-interactive-priority header and remove IA timeout
  Frontend/src/lib/manuscriptArchives.js
  backend/routes/bookPublishing.js
  qa/reports/vitest-results.json
Due: eslint --fix, prettier --write

refactor: non-blocking archive upload after successful POST
  Frontend/src/pages/BookPublishingPage.jsx
  qa/reports/vitest-results.json
Due: eslint --fix, prettier --write

fix: include manuscriptUrl in background IA update payload
  Frontend/src/pages/BookPublishingPage.jsx
  qa/reports/vitest-results.json
Due: eslint --fix, prettier --write

feat(book-publishing): manual upload buttons with color status
  Frontend/src/lib/manuscriptArchives.js
  Frontend/src/pages/BookPublishingPage.jsx
Due: eslint --fix, prettier --write

feat(book-publishing): batch upload all button, fix Pinata status
  Frontend/src/pages/BookPublishingPage.jsx
Due: eslint --fix, prettier --write

feat(book-publishing): drag-and-drop, progress bars, auto-save
  Frontend/src/lib/manuscriptArchives.js
  Frontend/src/pages/BookPublishingPage.jsx
Due: eslint --fix, prettier --write

feat(cart): functional cart with localStorage and checkout
  Frontend/src/App.jsx
  Frontend/src/components/Layout.jsx
  Frontend/src/config/publicRoutes.js
  Frontend/src/lib/api.js
  Frontend/src/pages/CartPage.jsx
  Frontend/src/pages/MarketplaceItemPage.jsx
  backend/api/index.js
  backend/routes/artifacts.js
  backend/routes/autonomous-agent.js
  backend/routes/checkout.js
  qa/reports/vitest-results.json
  routes/artifacts.js
  routes/auth.js
  routes/blockchain.js
  routes/certificates.js
  routes/data/store.js
  routes/heal
  routes/health.js
  routes/search.js
  routes/transactions.js
  routes/users.js
Due: eslint --fix, prettier --write

fix: add error logging to 48 empty catch blocks
  Frontend/src/pages/BookReaderPage.jsx
  Frontend/src/pages/CommoditiesPage.jsx
  Frontend/src/pages/ContactsPage.jsx
  Frontend/src/pages/DealsPage.jsx
  Frontend/src/pages/FederationMapPage.jsx
  Frontend/src/pages/Forum.jsx
  Frontend/src/pages/OnboardingPage.jsx
  Frontend/src/pages/StreamsPage.jsx
  Frontend/src/pages/TemplatesPage.jsx
  backend/api/index-serverless.js
  backend/routes/admin.js
  backend/routes/certificates.js
  backend/routes/checkout.js
  backend/routes/orders.js
  backend/routes/solana.js
  backend/routes/transactions.js
  backend/routes/verification.js
  backend/routes/webhooksStripe.js
  qa/reports/vitest-results.json
Due: eslint --fix, prettier --write

fix: payouts double-mount, dead blockchain util, sanctuary deps
  apps/pva-bazaar-web/package.json
  backend/api/index.js
  backend/utils/abi/blockchain.js
  qa/reports/vitest-results.json
Due: eslint --fix, prettier --write, sort-package-json

feat(book-publishing): manuscript version history with snapshot/restore
  Frontend/src/components/ManuscriptVersionPanel.jsx
  Frontend/src/pages/BookPublishingPage.jsx
  backend/models/ManuscriptVersion.js
  backend/routes/bookPublishing.js
  qa/reports/vitest-results.json
Due: eslint --fix, prettier --write

chore: cleanup legacy routes, empty catches, lazy-load version panel
  Frontend/src/pages/BookPublishingPage.jsx
  backend/routes/__tests__/manuscriptVersion.test.js
  backend/routes/bookPublishing.js
  backend/routes/legacy-routes.js
  backend/routes/webhooksTelegram.js
  qa/reports/vitest-results.json
Due: eslint --fix, prettier --write

chore: rm duplicate handler, fix schema bug, reorder mountOptionalRoute
  Frontend/src/lib/offlineSync.js
  Frontend/src/lib/telemetry.js
  backend/api/index.js
  backend/data/auth-store.json
  backend/models/ExpertService.js
  backend/routes/bookPublishing.js
  backend/routes/openclaw.js
  qa/reports/vitest-results.json
Due: eslint --fix, prettier --write

refactor: add [route] prefixes to 85 generic console.error messages
  backend/routes/agent.js
  backend/routes/artifacts.js
  backend/routes/auth.js
  backend/routes/bankIntegration.js
  backend/routes/certificates.js
  backend/routes/chat.js
  backend/routes/cloudStorage.js
  backend/routes/commodities.js
  backend/routes/contacts.js
  backend/routes/dashboard.js
  backend/routes/databases.js
  backend/routes/journal.js
  backend/routes/oracle.js
  backend/routes/portfolio.js
  backend/routes/recovery.js
  backend/routes/search.js
  backend/routes/streams.js
  backend/routes/templates.js
  backend/routes/transactions.js
  backend/routes/verification.js
  qa/reports/vitest-results.json
Due: eslint --fix, prettier --write

chore: clean package.jsons, gitignore, delete 880 lines dead code
  .gitignore
  Frontend/package.json
  Frontend/src/app.js
  Frontend/src/components/Biography.js
  Frontend/src/components/Blogs.js
  Frontend/src/components/BusinessModel.js
  Frontend/src/components/HomeTabs.js
  Frontend/src/components/Journals.js
  Frontend/src/components/MermaidDiagram.js
  Frontend/src/components/Novel.js
  Frontend/src/components/PVAFood.js
  Frontend/src/components/Research.js
  Frontend/src/components/Writings.js
  Frontend/src/lib/decentralizedApi.js
  Frontend/src/lib/federation.js
  Frontend/src/lib/offlineSync.js
  apps/pva-bazaar-web/package.json
  backend/package.json
  qa/reports/vitest-results.json
Due: eslint --fix, prettier --write, sort-package-json

chore: fix CORS serverless, telemetry perf, delete orphaned CSS
  Frontend/src/lib/telemetry.js
  Frontend/src/styles/AboutPage.module.css
  Frontend/tests/DealsPage.test.jsx
  backend/api/index-serverless.js
  qa/reports/vitest-results.json
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

fix: restore build after entries.js cleanup + fix test import path
  Frontend/src/lib/entries.js
  Frontend/tests/DealsPage.test.jsx
  qa/reports/vitest-results.json
Due: eslint --fix, prettier --write

style: var→const, type→interface, template literals, deps, The Book link
  Frontend/src/lib/localBookVault.js
  Frontend/src/pages/BookPublishingPage.jsx
  apps/pva-bazaar-web/src/app/library/[slug]/page.tsx
  apps/pva-bazaar-web/src/app/recovery/recovery-client.tsx
  backend/api/index-serverless.js
  backend/routes/bookPublishing.js
  backend/scripts/full-diagnostic.js
  backend/scripts/test-mongo.js
  backend/services/bookPublisher.js
  backend/test-pipeline.js
  magnum-opus.html
  package-lock.json
  package.json
  qa/reports/vitest-results.json
  writings/this-or-that-magnum-opus.html
Due: eslint --fix, prettier --write, sort-package-json

fix: close duplicate security audit issues, deduplicate workflow
  .github/workflows/security-audit.yml
  qa/reports/vitest-results.json
Due: prettier --write

fix: gitignore secret files, rm .env.production from tracking
  .gitignore
  backend/.env.prod-backup
  backend/.env.production
  qa/reports/vitest-results.json
Due: prettier --write

fix: security hardening - cookie-parser, JWT pinning, dev token expiry
  backend/__tests__/phases-6-8.test.js
  backend/api/index.js
  backend/middleware/auth.js
  backend/routes/admin.js
  backend/routes/adminLogin.js
  backend/routes/auth.js
  package-lock.json
  package.json
  qa/reports/vitest-results.json
Due: eslint --fix, prettier --write, sort-package-json

fix: gitignore .turbo daemon logs, enable CSP in main Express
  .gitignore
  .turbo/daemon/a4dd20af19f3349d-turbo.log.2026-04-13
  .turbo/daemon/e36dca2a47dc8e89-turbo.log.2026-01-22
  backend/api/index.js
  qa/reports/vitest-results.json
Due: eslint --fix, prettier --write

fix: mount missing serverless routes, add /get-started sitemap
  .github/workflows/security-audit.yml
  AGENT_HANDOFF.md
  Frontend/i
  Frontend/pages/+onBeforePrerenderStart.js
  Frontend/pages/openclaw-widget-demo.html
  Frontend/public/sitemap.xml
  Frontend/scripts/copy-src-to-dist.cjs
  Frontend/src/components/ApiDocsTab.jsx
  Frontend/src/components/SettingsTab.jsx
  Frontend/src/pages/StreamsPage.jsx
  Frontend/status.html
  Frontend/vite.config.js
  apps/pva-bazaar-web/.env.example
  apps/pva-bazaar-web/README.md
  apps/pva-bazaar-web/src/app/deals/page.tsx
  apps/pva-bazaar-web/src/app/globals.css
  apps/pva-bazaar-web/src/app/layout.tsx
  apps/pva-bazaar-web/src/app/library/[slug]/page.tsx
  apps/pva-bazaar-web/src/app/meow/page.tsx
  apps/pva-bazaar-web/src/app/seller/dashboard/page.tsx
  apps/pva-bazaar-web/src/app/seller/settings/page.tsx
  apps/pva-bazaar-web/src/app/sitemap.ts
  apps/pva-bazaar-web/src/components/SiteNav.tsx
  apps/pva-bazaar-web/src/lib/libraryApi.ts
  backend/api/index-serverless.js
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

fix: declare cookie-parser and react-is deps for CI builds
  Frontend/package.json
  backend/package.json
  package-lock.json
Due: prettier --write, sort-package-json

fix: gitignore .turbo daemon logs, enable CSP in main Express (#53)
  .github/workflows/security-audit.yml
  .gitignore
  .turbo/daemon/a4dd20af19f3349d-turbo.log.2026-04-13
  .turbo/daemon/e36dca2a47dc8e89-turbo.log.2026-01-22
  AGENT_HANDOFF.md
  Frontend/i
  Frontend/package.json
  Frontend/pages/+onBeforePrerenderStart.js
  Frontend/pages/openclaw-widget-demo.html
  Frontend/public/sitemap.xml
  Frontend/scripts/copy-src-to-dist.cjs
  Frontend/src/components/ApiDocsTab.jsx
  Frontend/src/components/SettingsTab.jsx
  Frontend/src/pages/StreamsPage.jsx
  Frontend/status.html
  Frontend/vite.config.js
  apps/pva-bazaar-web/.env.example
  apps/pva-bazaar-web/README.md
  apps/pva-bazaar-web/src/app/deals/page.tsx
  apps/pva-bazaar-web/src/app/globals.css
  apps/pva-bazaar-web/src/app/layout.tsx
  apps/pva-bazaar-web/src/app/library/[slug]/page.tsx
  apps/pva-bazaar-web/src/app/meow/page.tsx
  apps/pva-bazaar-web/src/app/seller/dashboard/page.tsx
  apps/pva-bazaar-web/src/app/seller/settings/page.tsx
  apps/pva-bazaar-web/src/app/sitemap.ts
  apps/pva-bazaar-web/src/components/SiteNav.tsx
  apps/pva-bazaar-web/src/lib/libraryApi.ts
  backend/__tests__/phases-6-8.test.js
  backend/api/index-serverless.js
  backend/api/index.js
  backend/middleware/auth.js
  backend/package.json
  backend/routes/admin.js
  backend/routes/adminLogin.js
  backend/routes/auth.js
  package-lock.json
  package.json
  qa/reports/vitest-results.json
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js, sort-package-json

fix: install deps + chromium before live route sweep in readiness gates
  .github/workflows/deploy-frontend.yml
  .github/workflows/live-readiness.yml
Due: prettier --write

fix: install deps + chromium before live route sweep in readiness gates (#54)
  .github/workflows/deploy-frontend.yml
  .github/workflows/live-readiness.yml
Due: prettier --write

fix: bootstrap DB connection in serverless entry + careerQuiz fallback
  backend/api/index-serverless.js
  backend/routes/careerQuiz.js
Due: eslint --fix, prettier --write

fix: bootstrap DB connection in serverless entry + careerQuiz fallback (#55)
  backend/api/index-serverless.js
  backend/routes/careerQuiz.js
Due: eslint --fix, prettier --write

fix: align live verifiers to serverless contract, add sanctuary project
  .github/workflows/temp-create-sanctuary-project.yml
  scripts/verify-frontend-routes-live.mjs
  scripts/verify-live-decentralized.mjs
Due: prettier --write

fix: valid permissions block in sanctuary project workflow
  .github/workflows/temp-create-sanctuary-project.yml
Due: prettier --write

fix: remove invalid projectSettings from Vercel create payload
  .github/workflows/temp-create-sanctuary-project.yml
Due: prettier --write
