Repository PVAGR/pva-bazaar-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js, forge fmt, sort-package-json

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,yml,yaml,md}": [
    "prettier --write"
  ],
  "*.{css,scss}": [
    "prettier --write",
    "node qa/scripts/check-brand-tokens.js"
  ],
  "apps/contracts/**/*.sol": [
    "forge fmt"
  ],
  "package.json": [
    "sort-package-json"
  ]
}

feat: deploy complete magnum opus - novel (12 chapters), biography, and trans-dimensional research
  Frontend/biography/index.html
  Frontend/index.html
  Frontend/novel/index.html
  Frontend/research/index.html
Due: none

feat: add core works navigation section to master index - novel, biography, research
  Frontend/index.html
Due: none

fix: configure vercel to properly build and deploy frontend folder
  vercel.json
Due: prettier --write

fix: escape HTML entities in physics equations to fix build error
  frontend/dist/pages/admin.html
  frontend/dist/pages/marketplace.html
  frontend/dist/pages/provenance.html
Due: none

add vercelignore to specify deployment boundaries
  .vercelignore
Due: none

feat: deploy frontend personal site as main pvabazaar.org - remove marketplace from default route
  vercel.json
Due: prettier --write

feat: replace web-org with your personal site - all writings, novel, biography, research
  apps/web-org/biography/index.html
  apps/web-org/index.html
  apps/web-org/novel/index.html
  apps/web-org/research/index.html
Due: none

update: sync all personal site content across frontend and web-org
  Frontend/dist/index.html
  Frontend/index.html
Due: none

refactor: convert web-org to pure static HTML site - remove React, deploy personal library only
  apps/web-org/dist/assets/index-CfOlix8-.css
  apps/web-org/dist/assets/index-DGiR_1xs.js
  apps/web-org/dist/index.html
  apps/web-org/package.json
  apps/web-org/postcss.config.js
  apps/web-org/src/main.tsx
  apps/web-org/src/styles.css
  apps/web-org/tailwind.config.js
  apps/web-org/tsconfig.json
  apps/web-org/vite.config.js
  apps/web-org/vite.config.ts
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js, sort-package-json

fix: point vercel deployment to apps/web-org as the main site
  vercel.json
Due: prettier --write

fix: disable turbo monorepo build, use direct build command
  vercel.json
Due: prettier --write

me
  Frontend/index.html
  frontend/writings/aetherzamin.html
  frontend/writings/akashic-records.html
  frontend/writings/amnesia-consciousness.html
  frontend/writings/balance.html
  frontend/writings/divine-duality.html
  frontend/writings/eden-theory.html
  frontend/writings/eternal-renewal.html
  frontend/writings/index.html
  frontend/writings/kenya-initiative.html
  frontend/writings/oracle-assessment.html
  frontend/writings/personal-chronicle.html
  frontend/writings/personal-reflections.html
  frontend/writings/pilgrimage.html
  frontend/writings/pura-vida.html
  frontend/writings/pva-business-model.html
  frontend/writings/pva-food.html
  frontend/writings/sacred-cannabis.html
  frontend/writings/sacred-texts.html
  frontend/writings/stream.html
  frontend/writings/this-or-that.html
Due: none

feat: add complete magnum opus to web-org - 5 major works (oracle assessment, pva business model, eternal renewal, personal chronicle, kenya initiative)
  apps/web-org/writings/aetherzamin.html
  apps/web-org/writings/akashic-records.html
  apps/web-org/writings/amnesia-consciousness.html
  apps/web-org/writings/balance.html
  apps/web-org/writings/divine-duality.html
  apps/web-org/writings/eden-theory.html
  apps/web-org/writings/eternal-renewal.html
  apps/web-org/writings/index.html
  apps/web-org/writings/kenya-initiative.html
  apps/web-org/writings/oracle-assessment.html
  apps/web-org/writings/personal-chronicle.html
  apps/web-org/writings/personal-reflections.html
  apps/web-org/writings/pilgrimage.html
  apps/web-org/writings/pura-vida.html
  apps/web-org/writings/pva-business-model.html
  apps/web-org/writings/pva-food.html
  apps/web-org/writings/sacred-cannabis.html
  apps/web-org/writings/sacred-texts.html
  apps/web-org/writings/stream.html
  apps/web-org/writings/this-or-that.html
Due: none

fix: copy writings folder to dist during build
  apps/web-org/vite.config.ts
Due: eslint --fix, prettier --write

feat: remove all marketplace code, keep ONLY writings archive
  apps/web-org/.turbo/turbo-build.log
  apps/web-org/biography/index.html
  apps/web-org/dist/index.html
  apps/web-org/eslint.config.mjs
  apps/web-org/index.html
  apps/web-org/novel/index.html
  apps/web-org/research/index.html
Due: none

Revert "feat: remove all marketplace code, keep ONLY writings archive"
  apps/web-org/.turbo/turbo-build.log
  apps/web-org/biography/index.html
  apps/web-org/dist/index.html
  apps/web-org/eslint.config.mjs
  apps/web-org/novel/index.html
  apps/web-org/research/index.html
Due: none

fix: replace marketplace homepage with writings archive index
  apps/web-org/index.html
Due: none

fix: configure Vercel to deploy frontend/ with writings
  frontend/vercel.json
  vercel.json
Due: prettier --write

fix: simplify vercel config
  vercel.json
Due: prettier --write

fix: remove scripts from vercelignore so build wrapper works
  .vercelignore
Due: none

fix: redirect root / to /writings/index.html
  vercel.json
Due: prettier --write

fix: add index.html to frontend root
  vercel.json
Due: prettier --write

fix: remove problematic arrow character from index.html
  Frontend/index.html
Due: none

fix: add writings/ prefix to all 22 page links
  Frontend/index.html
Due: none

fix: copy static HTML files to dist during build
  Frontend/vite.config.js
Due: eslint --fix, prettier --write

style: update to Richard Torres, dark teal theme, modern clean buttons
  Frontend/index.html
Due: none

style: change to warm gold/amber theme for better eye comfort
  Frontend/index.html
  frontend/writings/index.html
Due: none

style: change to dark slate blue with cyan accents, fix broken links
  Frontend/index.html
Due: none

fix: update vercel build config and correct marijuana link to sacred-cannabis
  Frontend/index.html
  vercel.json
Due: prettier --write

fix: add writings/biography/novel/research folders to postbuild copy script
  Frontend/scripts/copy-src-to-dist.cjs
Due: none

fix: serve Frontend folder directly as static files without build step
  vercel.json
Due: prettier --write

fix: correct outputDirectory case to 'frontend' (lowercase)
  vercel.json
Due: prettier --write

fix: add explicit route for root index.html
  vercel.json
Due: prettier --write

asd
  frontend/writings/index.html
Due: none

fix: point outputDirectory to Frontend/dist where build actually creates files
  vercel.json
Due: prettier --write

fix: correct case sensitivity - use lowercase frontend everywhere
  vercel.json
Due: prettier --write

fix: simplify vercel config to use proper build process
  vercel.json
Due: prettier --write
