Repository PVAGR/pva-bazaar-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js, forge fmt, sort-package-json

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,yml,yaml,md}": [
    "prettier --write"
  ],
  "*.{css,scss}": [
    "prettier --write",
    "node qa/scripts/check-brand-tokens.js"
  ],
  "apps/contracts/**/*.sol": [
    "forge fmt"
  ],
  "package.json": [
    "sort-package-json"
  ]
}

fix(ci): remove invalid secrets context from verify workflow
  .github/workflows/verify.yml
Due: prettier --write

Enforce cloud-only runtime defaults and decentralization status
  Frontend/pages/openclaw-widget-demo.html
  Frontend/src/components/ApiDocsTab.jsx
  Frontend/src/lib/openclaw-widget.js
  Frontend/vite.config.js
  backend/api/index.js
  backend/scripts/export-data.js
  backend/scripts/import-data.js
  backend/scripts/omnichannel-poll-worker.js
  backend/seed.js
  backend/service/api.js
  backend/service/ipfs.js
  backend/utils/api.js
  server/.env.example
  server/index.js
  server/ipfsService.js
  server/scripts/phase6-smoke.js
Due: eslint --fix, prettier --write

archive legacy frontend surfaces
  Frontend/_archive/test-blog.html
  Frontend/_legacy/biography-index.html
  Frontend/_legacy/legacy-index.html
  Frontend/_legacy/novel-index.html
  Frontend/_legacy/research-index.html
  Frontend/scripts/copy-src-to-dist.cjs
Due: none

fix(ci): restore frontend theme guard scripts required by deploy workflow
  Frontend/package.json
Due: prettier --write, sort-package-json

fix(deploy): make theme guards non-blocking for pages release
  .github/workflows/deploy-frontend.yml
Due: prettier --write

fix(ci): restore deploy-safe env/config/theme files on content candidate
  Frontend/.env.production
  Frontend/package-lock.json
  Frontend/package.json
  Frontend/src/base.css
  Frontend/src/pages/AdminOrdersPage.css
  Frontend/src/pages/AdminPage.css
  Frontend/src/pages/MarketplaceItemPage.css
  Frontend/src/pages/MarketplacePage.css
  backend/.env.example
  backend/.env.production
  backend/package-lock.json
  backend/package.json
  package-lock.json
  package.json
  vercel.json
Due: prettier --write, node qa/scripts/check-brand-tokens.js, sort-package-json

fix(recovery): restore backend runtime to known good live baseline
  backend/README.md
  backend/api/index.js
  backend/lib/itemNormalize.js
  backend/lib/stripeClient.js
  backend/middleware/adminSession.js
  backend/middleware/auth.js
  backend/models/Artifact.js
  backend/models/Order.js
  backend/models/StripeEventLog.js
  backend/models/User.js
  backend/routes/admin.js
  backend/routes/adminLogin.js
  backend/routes/artifacts.js
  backend/routes/auth.js
  backend/routes/blockchain.js
  backend/routes/certificates.js
  backend/routes/checkout.js
  backend/routes/comments.js
  backend/routes/contribute.js
  backend/routes/dashboard.js
  backend/routes/health.js
  backend/routes/manifesto-ai-routes.js
  backend/routes/market.js
  backend/routes/orders.js
  backend/routes/partners.js
  backend/routes/transactions.js
  backend/routes/users.js
  backend/routes/webhooksStripe.js
  backend/seed.js
  backend/utils/blockchain.js
Due: eslint --fix, prettier --write

restore(admin): reinstate wide multi-channel tabbed admin cockpit
  Frontend/src/components/AdminTabs.jsx
  Frontend/src/components/CloudStorageTab.jsx
  Frontend/src/components/DashboardTab.jsx
  Frontend/src/components/HealthTab.jsx
  Frontend/src/lib/api.js
  Frontend/src/pages/AdminPage.jsx
Due: eslint --fix, prettier --write

fix(admin): restore royalty analytics and settlements tabs
  Frontend/src/components/AdminTabs.jsx
  Frontend/src/pages/AdminPage.jsx
Due: eslint --fix, prettier --write

fix(live-content): restore archive/items/search fallback merge logic
  backend/routes/archive.js
  backend/routes/items.js
  backend/routes/search.js
Due: eslint --fix, prettier --write

fix(ci): harden vercel deploy workflows and reduce collision failures
  .github/workflows/deploy-backend-live.yml
  .github/workflows/deploy-frontend.yml
  .github/workflows/deploy-web-vercel.yml
Due: prettier --write

feat: harden decentralized runtime and cloud status
  .github/workflows/deploy-frontend.yml
  .github/workflows/deploy-web-vercel.yml
  Frontend/src/components/CloudStorageTab.jsx
  backend/api/index.js
  backend/routes/blockchain.js
  backend/routes/cloudStorage.js
  backend/utils/blockchain.js
Due: eslint --fix, prettier --write

chore: add decentralized live verification script
  package.json
  scripts/verify-live-decentralized.mjs
Due: prettier --write, sort-package-json

feat: add live RPC diagnostics to decentralized health endpoints
  backend/api/index.js
  backend/routes/blockchain.js
  backend/utils/blockchain.js
  scripts/verify-live-decentralized.mjs
Due: eslint --fix, prettier --write

ci: gate backend deploy with decentralized live checks
  .github/workflows/deploy-backend-live.yml
  .github/workflows/deploy-backend.yml
Due: prettier --write

feat: add consolidated decentralized readiness endpoint
  backend/api/index.js
  scripts/verify-live-decentralized.mjs
Due: eslint --fix, prettier --write

feat: add decentralized report endpoint for live checks
  backend/api/index.js
  scripts/verify-live-decentralized.mjs
Due: eslint --fix, prettier --write

feat: add admin panel report endpoint
  backend/routes/admin.js
  scripts/verify-live-decentralized.mjs
Due: eslint --fix, prettier --write

feat: add admin bootstrap signup and login onboarding
  Frontend/src/pages/AdminPage.jsx
  backend/routes/adminLogin.js
Due: eslint --fix, prettier --write

feat: add controlled self-signup onboarding for admin panel
  Frontend/src/pages/AdminPage.jsx
  backend/routes/admin.js
  backend/routes/adminLogin.js
  scripts/verify-live-decentralized.mjs
Due: eslint --fix, prettier --write

feat(frontend): polish archive home shell and stabilize vitest environment
  Frontend/src/pages/ArchiveLibraryPage.css
  Frontend/src/pages/ArchiveLibraryPage.jsx
  Frontend/vite.config.js
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

feat(frontend): standardize shared writing template system
  Frontend/writings/amnesia-consciousness.html
  Frontend/writings/balance.html
  Frontend/writings/oracle-assessment.html
  Frontend/writings/personal-reflections.html
  Frontend/writings/pilgrimage.html
  Frontend/writings/pura-vida.html
  Frontend/writings/pva-archive.html
  Frontend/writings/pva-food.html
  Frontend/writings/this-or-that.html
  Frontend/writings/writing-template.css
Due: prettier --write, node qa/scripts/check-brand-tokens.js

fix(seo): normalize writings canonicals, redirects, and crawl integrity
  Frontend/magnum-opus.html
  Frontend/public/robots.txt
  Frontend/public/sitemap.xml
  Frontend/vercel.json
  Frontend/writings/aetherzamin.html
  Frontend/writings/akashic-records.html
  Frontend/writings/amnesia-consciousness.html
  Frontend/writings/balance.html
  Frontend/writings/eden-theory.html
  Frontend/writings/eternal-renewal.html
  Frontend/writings/kenya-initiative.html
  Frontend/writings/oracle-assessment.html
  Frontend/writings/personal-chronicle.html
  Frontend/writings/personal-reflections.html
  Frontend/writings/pilgrimage.html
  Frontend/writings/pura-vida.html
  Frontend/writings/pva-archive.html
  Frontend/writings/pva-business-model.html
  Frontend/writings/pva-food.html
  Frontend/writings/sacred-cannabis.html
  Frontend/writings/sacred-texts.html
  Frontend/writings/stream.html
  Frontend/writings/this-or-that.html
  robots.txt
  sitemap.xml
  vercel.json
Due: prettier --write

feat: ship civilization library quiz and snapshot workflows
  Frontend/src/App.jsx
  Frontend/src/components/AdminTabs.jsx
  Frontend/src/components/Layout.jsx
  Frontend/src/components/LibraryTab.css
  Frontend/src/components/LibraryTab.jsx
  Frontend/src/pages/AdminPage.jsx
  Frontend/src/pages/ArchiveLibraryPage.jsx
  Frontend/src/pages/CareerQuizPage.css
  Frontend/src/pages/CareerQuizPage.jsx
  Frontend/src/pages/CivilizationLibraryPage.css
  Frontend/src/pages/CivilizationLibraryPage.jsx
  backend/api/index.js
  backend/models/CareerQuizDefinition.js
  backend/models/CareerQuizResult.js
  backend/models/LibraryDocument.js
  backend/models/LibraryTaxonomy.js
  backend/package.json
  backend/routes/adminLibrary.js
  backend/routes/careerQuiz.js
  backend/routes/library.js
  backend/routes/libraryIntelligence.js
  backend/routes/libraryTaxonomy.js
  backend/tests/libraryIntelligence.test.js
  package-lock.json
  qa/reports/html.meta.json.gz
  qa/reports/vitest-results.json
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js, sort-package-json

feat(career-quiz): enhance accuracy with role rationale and per-section confidence
  Frontend/src/pages/CareerQuizPage.jsx
  backend/models/CareerQuizResult.js
  backend/routes/careerQuiz.js
  backend/tests/careerQuizScoring.test.js
Due: eslint --fix, prettier --write

docs: add comprehensive career quiz redesign plan (1000+ unique outcomes)
  docs/CAREER-QUIZ-REDESIGN-PLAN.md
Due: prettier --write

feat: add narrative-based questions and 9+ career archetypes for personalized outcomes
  backend/data/careerArchetypes.js
  backend/data/narrativeQuestions.js
Due: eslint --fix, prettier --write

feat: integrate narrative questions and archetype system into career quiz backend
  backend/routes/careerQuiz.js
Due: eslint --fix, prettier --write

feat: display archetype narrative in career quiz results page
  Frontend/src/pages/CareerQuizPage.css
  Frontend/src/pages/CareerQuizPage.jsx
  backend/routes/careerQuiz.js
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

feat: start b2b showroom implementation with catalog metadata and filters
  Frontend/src/lib/api.js
  Frontend/src/pages/MarketplaceItemPage.css
  Frontend/src/pages/MarketplaceItemPage.jsx
  Frontend/src/pages/MarketplacePage.css
  Frontend/src/pages/MarketplacePage.jsx
  backend/lib/itemNormalize.js
  backend/models/Artifact.js
  backend/routes/items.js
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

feat: add b2b inquiry api and reservation flow for marketplace items
  Frontend/src/lib/api.js
  Frontend/src/pages/MarketplaceItemPage.css
  Frontend/src/pages/MarketplaceItemPage.jsx
  backend/api/index.js
  backend/models/ItemInquiry.js
  backend/routes/itemInquiries.js
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

feat: add admin inquiry management for b2b showroom leads
  Frontend/src/components/MarketplaceTab.css
  Frontend/src/components/MarketplaceTab.jsx
  Frontend/src/lib/api.js
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

feat: add inquiry search and reservation release controls
  Frontend/src/components/MarketplaceTab.css
  Frontend/src/components/MarketplaceTab.jsx
  Frontend/src/lib/api.js
  backend/models/ItemInquiry.js
  backend/routes/itemInquiries.js
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

feat: add dedicated admin inquiries tab with live badge and quick links
  Frontend/src/components/AdminTabs.jsx
  Frontend/src/components/InquiriesTab.jsx
  Frontend/src/lib/api.js
  Frontend/src/pages/AdminPage.css
  Frontend/src/pages/AdminPage.jsx
  backend/routes/itemInquiries.js
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

chore: commit remaining local workspace changes
  backend/models/CareerQuizDefinition.js
  backend/routes/libraryIntelligence.js
  qa/reports/html.meta.json.gz
  qa/reports/vitest-results.json
Due: eslint --fix, prettier --write

feat: Add public B2B Showroom with discovery, detail, gallery, specs, and inquiry UX
  Frontend/src/App.jsx
  Frontend/src/components/Layout.jsx
  Frontend/src/components/ShowroomImageGallery.css
  Frontend/src/components/ShowroomImageGallery.jsx
  Frontend/src/components/ShowroomInquiryForm.jsx
  Frontend/src/components/ShowroomSpecsPanel.jsx
  Frontend/src/pages/ShowroomItemPage.css
  Frontend/src/pages/ShowroomItemPage.jsx
  Frontend/src/pages/ShowroomPage.css
  Frontend/src/pages/ShowroomPage.jsx
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

fix(frontend): mount global layout so nav links render on all routes
  Frontend/src/App.jsx
Due: eslint --fix, prettier --write
