Repository PVAGR/pva-bazaar-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js, forge fmt, sort-package-json

Link writing studio to recovery console
  Frontend/src/pages/WritingStudioPage.jsx
Due: eslint --fix, prettier --write

Improve mobile recovery access
  CHANGELOG.md
  Frontend/src/pages/HomePage.css
  Frontend/src/pages/HomePage.jsx
  Frontend/src/pages/RecoveryPage.css
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

Show remote backups in writing studio
  Frontend/src/pages/WritingStudioPage.css
  Frontend/src/pages/WritingStudioPage.jsx
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

Surface continuity history on home and studio
  CHANGELOG.md
  CURRENT_STATUS.md
  Frontend/src/pages/HomePage.css
  Frontend/src/pages/HomePage.jsx
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

Add continuity widget to admin dashboard
  CHANGELOG.md
  CURRENT_STATUS.md
  Frontend/src/components/DashboardTab.jsx
Due: eslint --fix, prettier --write

Add continuity bridge to archive library
  Frontend/src/pages/ArchiveLibraryPage.css
  Frontend/src/pages/ArchiveLibraryPage.jsx
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

Add site atlas to home page
  Frontend/src/pages/HomePage.css
  Frontend/src/pages/HomePage.jsx
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

Unify studio and archive navigation
  CHANGELOG.md
  CURRENT_STATUS.md
  Frontend/src/pages/WritingStudioPage.css
  Frontend/src/pages/WritingStudioPage.jsx
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

Fix archive header mobile layout
  CHANGELOG.md
  CURRENT_STATUS.md
  Frontend/src/pages/ArchiveLibraryPage.css
Due: prettier --write, node qa/scripts/check-brand-tokens.js

Unify marketplace and showroom navigation
  CHANGELOG.md
  CURRENT_STATUS.md
  Frontend/src/pages/MarketplacePage.css
  Frontend/src/pages/MarketplacePage.jsx
  Frontend/src/pages/ShowroomPage.css
  Frontend/src/pages/ShowroomPage.jsx
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

Categorize the home front page
  CHANGELOG.md
  CURRENT_STATUS.md
  Frontend/src/pages/HomePage.css
  Frontend/src/pages/HomePage.jsx
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

Frame home page as pure life knowledge
  CHANGELOG.md
  CURRENT_STATUS.md
  Frontend/src/config/publicRoutes.js
  Frontend/src/pages/HomePage.jsx
Due: eslint --fix, prettier --write

Add human front door and align public story pages
  CHANGELOG.md
  CURRENT_STATUS.md
  Frontend/src/pages/AboutPage.jsx
  Frontend/src/pages/BooksPage.jsx
  Frontend/src/pages/CivilizationLibraryPage.jsx
  Frontend/src/pages/HomePage.css
  Frontend/src/pages/HomePage.jsx
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

Add shared intent chooser to layout
  Frontend/src/base.css
  Frontend/src/components/Layout.jsx
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

Unify private account and admin atlas
  CHANGELOG.md
  CURRENT_STATUS.md
  Frontend/src/pages/AccountPage.css
  Frontend/src/pages/AccountPage.jsx
  Frontend/src/pages/AdminDashboard.jsx
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

Unify login and dashboard atlas
  CHANGELOG.md
  CURRENT_STATUS.md
  Frontend/src/pages/LoginPage.jsx
  Frontend/src/pages/UserDashboard.css
  Frontend/src/pages/UserDashboard.jsx
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

Unify creator and broker atlas
  CHANGELOG.md
  CURRENT_STATUS.md
  Frontend/src/pages/BrokerHubPage.css
  Frontend/src/pages/BrokerHubPage.jsx
  Frontend/src/pages/CreatorPortalPage.css
  Frontend/src/pages/CreatorPortalPage.jsx
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

Unify marketplace and showroom atlas
  CHANGELOG.md
  CURRENT_STATUS.md
  Frontend/src/pages/MarketplacePage.css
  Frontend/src/pages/MarketplacePage.jsx
  Frontend/src/pages/ShowroomPage.css
  Frontend/src/pages/ShowroomPage.jsx
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

Unify archive and studio atlas
  CHANGELOG.md
  CURRENT_STATUS.md
  Frontend/src/pages/ArchiveLibraryPage.css
  Frontend/src/pages/ArchiveLibraryPage.jsx
  Frontend/src/pages/WritingStudioPage.css
  Frontend/src/pages/WritingStudioPage.jsx
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

Unify admin atlas and overview
  CHANGELOG.md
  CURRENT_STATUS.md
  Frontend/src/components/OverviewTab.css
  Frontend/src/components/OverviewTab.jsx
  Frontend/src/pages/AdminPage.css
  Frontend/src/pages/AdminPage.jsx
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

Add atlas links to system tabs
  CHANGELOG.md
  CURRENT_STATUS.md
  Frontend/src/components/ApiDocsTab.css
  Frontend/src/components/ApiDocsTab.jsx
  Frontend/src/components/HealthTab.css
  Frontend/src/components/HealthTab.jsx
  Frontend/src/components/SettingsTab.css
  Frontend/src/components/SettingsTab.jsx
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

Add atlas links to admin modules
  CHANGELOG.md
  CURRENT_STATUS.md
  Frontend/src/components/CloudStorageTab.css
  Frontend/src/components/CloudStorageTab.jsx
  Frontend/src/components/DashboardTab.css
  Frontend/src/components/DashboardTab.jsx
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

Allow manual frontend deploys to skip live readiness gate
  .github/workflows/deploy-frontend.yml
Due: prettier --write

Consolidate repo docs around canonical map
  ARCHITECTURE.md
  CANONICAL_MAP.md
  CURRENT_STATUS.md
  DOCUMENTATION_INDEX.md
  GET_STARTED.md
  LEGACY_README.md
  PROJECT_QUICKLINKS.md
  QUICKSTART.md
  QUICK_REFERENCE.md
  QUICK_REFERENCE_CARD.md
  README-PRODUCTION.md
  README.md
  README_MASTER.md
  README_OLD.md
  RUNBOOK.md
  START_HERE.md
  docs/README.md
  readme.md
Due: prettier --write

Mark legacy docs as reference only
  COMPREHENSIVE_FINDINGS_REPORT.md
  DEPLOYMENT_COMPLETE.md
  DEPLOYMENT_STATUS.md
  FINAL_VERIFICATION.md
  FULL_STACK_AUDIT.md
  HANDOFF-AND-ROLLOUT.md
  MAGNUM_OPUS.md
  MANIFESTO_AI_GUIDE.md
  PRODUCTION_DEPLOYED.md
Due: prettier --write

Mark remaining implementation docs as reference
  BLUEPRINT_V1_COMPLETE.md
  BLUEPRINT_V1_README.md
  DEPLOYMENT_SITREP.md
  DEPLOYMENT_SUCCESS.md
  OPENCLAW_IMPLEMENTATION_COMPLETE.md
Due: prettier --write

Normalize remaining legacy guide references
  DEPLOYMENT_COMPLETE.md
  DEPLOYMENT_SITREP.md
  DEPLOYMENT_SUCCESS.md
  HANDOFF-AND-ROLLOUT.md
  OPENCLAW_IMPLEMENTATION_COMPLETE.md
Due: prettier --write

Keep frontend shell visible on mount failures
  Frontend/index.html
  Frontend/public/sw.js
  Frontend/src/main.jsx
Due: eslint --fix, prettier --write

Allow frontend deploy to proceed past stale live gate
  .github/workflows/deploy-frontend.yml
Due: prettier --write

Keep frontend visible until layout mounts
  Frontend/index.html
  Frontend/public/sw.js
  Frontend/src/App.jsx
  Frontend/src/components/Layout.jsx
  Frontend/src/main.jsx
Due: eslint --fix, prettier --write

Add book publishing workspace
  CHANGELOG.md
  CURRENT_STATUS.md
  Frontend/src/App.jsx
  Frontend/src/components/Layout.jsx
  Frontend/src/lib/api.js
  Frontend/src/pages/BookPublishingPage.css
  Frontend/src/pages/BookPublishingPage.jsx
  Frontend/src/pages/BookReaderPage.css
  Frontend/src/pages/BookReaderPage.jsx
  Frontend/src/pages/BooksPage.jsx
  backend/api/index.js
  backend/models/BookProject.js
  backend/package.json
  backend/routes/bookPublishing.js
  backend/services/bookPublisher.js
  package-lock.json
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js, sort-package-json

Add public published books shelf
  CHANGELOG.md
  CURRENT_STATUS.md
  Frontend/public/llms.txt
  Frontend/public/readable-site.json
  Frontend/public/sitemap.xml
  Frontend/src/App.jsx
  Frontend/src/components/Layout.jsx
  Frontend/src/config/publicRoutes.js
  Frontend/src/lib/api.js
  Frontend/src/pages/BookPublishingPage.jsx
  Frontend/src/pages/BookReaderPage.jsx
  Frontend/src/pages/BookShelfPage.css
  Frontend/src/pages/BookShelfPage.jsx
  Frontend/src/pages/BooksPage.jsx
  Frontend/src/pages/OpeningHomePage.jsx
  backend/routes/bookPublishing.js
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

Harden backend database bootstrap
  CHANGELOG.md
  CURRENT_STATUS.md
  backend/api/health.js
  backend/api/index.js
  backend/lib/dbConnect.js
  backend/lib/mongoConnection.js
  backend/routes/health-check.js
  backend/routes/health.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, sort-package-json

Stabilize serverless auth and db fallback
  CHANGELOG.md
  CURRENT_STATUS.md
  backend/lib/jwtSecret.js
  backend/lib/mockUserStore.js
  backend/lib/mongoConnection.js
  backend/middleware/adminSession.js
  backend/package-lock.json
  backend/routes/admin.js
  backend/routes/adminLogin.js
  backend/routes/auth.js
Due: eslint --fix, prettier --write

Make serverless backend mock-safe
  backend/api/index.js
  backend/lib/mongoConnection.js
  backend/routes/auth.js
  backend/routes/health-check.js
  backend/routes/health.js
Due: eslint --fix, prettier --write

Switch Vercel backend to lightweight entrypoint
  api/[...path].js
  backend/api/index-serverless.js
  backend/vercel.json
Due: eslint --fix, prettier --write

Add free local auth fallback
  CHANGELOG.md
  CURRENT_STATUS.md
  Frontend/package-lock.json
  Frontend/package.json
  Frontend/src/lib/api.js
  Frontend/src/lib/auth.js
  Frontend/src/lib/localAuthVault.js
  Frontend/src/pages/LoginPage.jsx
  Frontend/src/pages/ProposalDetailPage.jsx
  Frontend/src/pages/RecoveryPage.jsx
  Frontend/src/pages/RegisterPage.jsx
Due: eslint --fix, prettier --write, sort-package-json

Show live or fallback auth connection
  CHANGELOG.md
  CURRENT_STATUS.md
  Frontend/src/base.css
  Frontend/src/components/Layout.jsx
  Frontend/src/hooks/useConnectionMode.js
  Frontend/src/pages/LoginPage.css
  Frontend/src/pages/LoginPage.jsx
  Frontend/src/pages/RegisterPage.css
  Frontend/src/pages/RegisterPage.jsx
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,yml,yaml,md})) or (any of: *.{css,scss})
  node qa/scripts/check-brand-tokens.js: any of: *.{css,scss}
  forge fmt: any of: apps/contracts/**/*.sol
  sort-package-json: any of: package.json
