Repository PVAGR/pva-bazaar-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js, forge fmt, sort-package-json

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,yml,yaml,md}": [
    "prettier --write"
  ],
  "*.{css,scss}": [
    "prettier --write",
    "node qa/scripts/check-brand-tokens.js"
  ],
  "apps/contracts/**/*.sol": [
    "forge fmt"
  ],
  "package.json": [
    "sort-package-json"
  ]
}

fix: Invalidate old admin sessions and enforce login screen
  Frontend/src/pages/AdminPage.jsx
Due: eslint --fix, prettier --write

feat: Add theme matching to admin panel
  Frontend/src/pages/AdminPage.css
  Frontend/src/pages/AdminPage.jsx
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

feat: Add theme toggle buttons to admin panel
  Frontend/src/pages/AdminPage.css
  Frontend/src/pages/AdminPage.jsx
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

fix: Theme category dropdown and form inputs properly
  Frontend/src/pages/AdminPage.css
Due: prettier --write, node qa/scripts/check-brand-tokens.js

feat: Add Home button to admin panel header
  Frontend/src/pages/AdminPage.css
  Frontend/src/pages/AdminPage.jsx
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

feat: Add blog/archive separation with toggle buttons
  Frontend/src/pages/ArchiveLibraryPage.css
  Frontend/src/pages/ArchiveLibraryPage.jsx
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

feat: add blog post management with edit functionality
  Frontend/src/pages/AdminPage.css
  Frontend/src/pages/AdminPage.jsx
  Frontend/test-blog.html
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

chore: deploy frontend and backend to production
  Frontend/.env.production
Due: none

Disable deploy.yml for frontend deployment
  .github/workflows/deploy.yml
Due: prettier --write

Modify deployment triggers in deploy-backend.yml
  .github/workflows/deploy-backend.yml
Due: prettier --write

feat: add standalone serverless health endpoint with CORS support
  backend/api/health.js
Due: eslint --fix, prettier --write

feat: persist archive entries via backend API (remove localStorage)
  Frontend/src/base.css
  Frontend/src/lib/api.js
  Frontend/src/pages/AdminPage.jsx
  Frontend/src/pages/ArchiveLibraryPage.jsx
  backend/api/archive.js
  backend/vercel.json
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

chore: update admin code to pva123zxc! and set as default
  Frontend/src/pages/AdminPage.jsx
Due: eslint --fix, prettier --write

chore: remove admin code field from UI (handled automatically)
  Frontend/src/pages/AdminPage.jsx
Due: eslint --fix, prettier --write

chore: trigger backend redeploy
  backend/api/archive.js
Due: eslint --fix, prettier --write

chore: revert to dev_admin_code for immediate posting
  Frontend/src/pages/AdminPage.jsx
Due: eslint --fix, prettier --write

fix: restore admin secret code field in UI
  Frontend/src/pages/AdminPage.jsx
Due: eslint --fix, prettier --write

fix: remove CORS errors, fix syntax, remove favicon error
  dist/PVA Bazaar - Shared Ownership Marketplace.html
  dist/artifact.html
  dist/checkoutmint.html
  dist/portfolio.html
  dist/productshowcase.html
  dist/provenance.html
  dist/pvadashboard.html
  public/app.js
  public/index.html
Due: eslint --fix, prettier --write

fix: remove CORS errors and syntax errors
  public/app.js
  public/index.html
Due: eslint --fix, prettier --write

feat: Add full-stack production audit + CORS fixes
  AUDIT_MASTER_INDEX.md
  AUDIT_README.txt
  BREAKING_ISSUES_PATCHES.md
  DEPLOYMENT_CHECKLIST_GO_LIVE.md
  FULL_STACK_AUDIT.md
  Frontend/src/pages/ArchiveLibraryPage.css
  SITE_RESTORATION_COMPLETE.md
  backend/api/index.js
  package-lock.json
  package.json
  tools/screenshot.js
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js, sort-package-json

feat: Implement delete functionality for admin posts
  Frontend/src/lib/api.js
  Frontend/src/pages/AdminPage.jsx
  backend/routes/archive.js
Due: eslint --fix, prettier --write

docs: Add delete feature implementation documentation
  DELETE_FEATURE_IMPLEMENTATION.md
Due: prettier --write

docs: Add MongoDB connection verification document
  MONGODB_CONNECTION_VERIFICATION.md
Due: prettier --write

status: Mark delete functionality as production ready
  DELETE_FUNCTIONALITY_READY.txt
Due: none

feat: Change delete endpoint to require only admin secret code
  backend/routes/archive.js
Due: eslint --fix, prettier --write

feat: Add custom delete confirmation bubble modal
  Frontend/src/pages/AdminPage.css
  Frontend/src/pages/AdminPage.jsx
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

feat: Add mobile scrolling UI for archive entries
  Frontend/src/base.css
  Frontend/src/pages/EntryDetail.jsx
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

fix: Correct mobile scrolling layout structure
  Frontend/src/base.css
  Frontend/src/pages/EntryDetail.jsx
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

ROUND 1: Add home button to entry detail view header
  Frontend/src/base.css
  Frontend/src/pages/EntryDetail.jsx
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

ROUND 1B: Adjust home button colors for dark mode theme
  Frontend/src/base.css
Due: prettier --write, node qa/scripts/check-brand-tokens.js

ROUND 2: Fix login authentication - add whitespace trimming
  Frontend/src/pages/AdminPage.jsx
Due: eslint --fix, prettier --write

ROUND 3: Update entry navigation footer - Back to Home
  Frontend/src/pages/EntryDetail.jsx
Due: eslint --fix, prettier --write

docs: add production verification checklists and testing guides
  GLOBAL_VERIFICATION_CHECKLIST.md
  QUICK_TEST.md
  SESSION_SUMMARY.md
Due: prettier --write

style: darken home button colors (#4a90e2 normal, #2d5fa3 hover)
  Frontend/src/base.css
Due: prettier --write, node qa/scripts/check-brand-tokens.js

style: darken dark mode backgrounds to true dark (#0a0e27 archive, #0a0a15 admin)
  Frontend/src/pages/AdminPage.css
  Frontend/src/pages/ArchiveLibraryPage.css
Due: prettier --write, node qa/scripts/check-brand-tokens.js

polish: add hover animations and subtle shadows to buttons and navigation links
  Frontend/src/base.css
Due: prettier --write, node qa/scripts/check-brand-tokens.js
