Repository PVAGR/pva-bazaar-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js, forge fmt, sort-package-json

feat(frontend): overhaul UI to match reference site
  Frontend/src/app.js
  Frontend/src/base.css
  Frontend/src/components/HomeTabs.js
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

feat(frontend): update Journals and Writings to match reference site
  Frontend/src/components/Journals.js
  Frontend/src/components/Writings.js
Due: eslint --fix, prettier --write

fix(frontend): deploy app.js and index.html to dist root for SPA
  Frontend/dist/index.html
Due: none

fix(frontend): update dist assets and components for full rollout
  Frontend/dist/404.html
  Frontend/dist/assets/main-BHQBBWA4.css
  Frontend/dist/assets/main-Dd_L5Iq5.css
  Frontend/dist/src/app.js
  Frontend/dist/src/base.css
  Frontend/dist/src/components/HomeTabs.js
  Frontend/dist/src/components/Journals.js
  Frontend/dist/src/components/Writings.js
  Frontend/index.html
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

Create CNAME
  CNAME
Due: none

Add GitHub Actions workflow for frontend deployment
  .github/workflows/main.yml
Due: prettier --write

ci: remove duplicate deploy-frontend workflow
  .github/workflows/deploy-frontend.yml
Due: prettier --write

ci(frontend): restore gh-pages workflow and fix asset paths
  .github/workflows/deploy-frontend.yml
  Frontend/dist/index.html
Due: prettier --write

ci: skip husky in GitHub Actions
  .github/workflows/deploy-frontend.yml
Due: prettier --write

ci: skip npm scripts in CI environment
  .github/workflows/deploy-frontend.yml
Due: prettier --write

fix: use absolute asset paths
  Frontend/dist/index.html
Due: none

fix: load react globals before app
  Frontend/dist/404.html
  Frontend/dist/index.html
  Frontend/index.html
Due: none

fix: ensure homepage renders via cdn bundle
  Frontend/dist/app.js
  Frontend/dist/public/app.js
  Frontend/public/app.js
Due: eslint --fix, prettier --write

fix: load router dom from dist umd
  Frontend/dist/404.html
  Frontend/dist/index.html
  Frontend/index.html
Due: none

fix: include react-router umd
  Frontend/dist/404.html
  Frontend/dist/index.html
  Frontend/index.html
Due: none

fix: include remix router umd
  Frontend/dist/404.html
  Frontend/dist/index.html
  Frontend/index.html
Due: none

feat(frontend): add PVA Bazaar Magnum Opus homepage
  Frontend/dist/app.js
  Frontend/dist/assets/magnum-opus-joEw-N1J.css
  Frontend/dist/assets/magnum-opus-z9Xnfbef.js
  Frontend/dist/assets/main-Dd_L5Iq5.css
  Frontend/dist/assets/main-jNIerLCR.css
  Frontend/dist/magnum-opus.html
  Frontend/dist/magnum-opus.js
  Frontend/dist/public/app.js
  Frontend/dist/public/magnum-opus.js
  Frontend/dist/src/base.css
  Frontend/dist/src/styles/magnum-opus.css
  Frontend/magnum-opus.html
  Frontend/public/app.js
  Frontend/public/magnum-opus.js
  Frontend/scripts/copy-src-to-dist.cjs
  Frontend/src/base.css
  Frontend/src/styles/magnum-opus.css
  Frontend/vite.config.js
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

chore: Update API URL to production backend
  Frontend/.env.production
Due: none

Fix blank white screen: Adjust configs for GitHub Pages frontend + Vercel backend
  Frontend/.env.production
  Frontend/vite.config.js
  README.md
  backend/.env.example
  backend/vercel.json
  test-app.sh
  vercel.json.backup-root-not-needed
Due: eslint --fix, prettier --write

Additional fixes for blank screen: Verify deployments and resolve discrepancies
  Frontend/src/lib/api.js
  README.md
  backend/api/index.js
  verify-fixes.sh
Due: eslint --fix, prettier --write

Enhance deployment: Solidify GitHub Actions workflow, clean Vercel configs
  .gitattributes
  .github/workflows/deploy-frontend.yml
  README.md
Due: prettier --write

Fix deployment workflow: Deploy only Frontend/dist to gh-pages root
  .github/workflows/deploy-frontend.yml
  Frontend/dist/404.html
  Frontend/dist/assets/main-CiDa8UnW.js
  Frontend/dist/src/api-test.js
  Frontend/dist/src/lib/api.js
  README.md
  package-lock.json
  tsconfig.tsbuildinfo
  verify-fixes.sh
Due: eslint --fix, prettier --write

Refine workflow: Add force clean, env injection, and post-deploy verification
  .github/workflows/deploy-frontend.yml
  README.md
  verify-fixes.sh
Due: prettier --write

fix(deploy): delete/recreate gh-pages for clean build
  .github/workflows/deploy-frontend.yml
  README.md
  verify-fixes.sh
Due: prettier --write

feat: Complete Vercel backend deployment setup
  .gitignore
  DEPLOYMENT_SITREP.md
  QUICK_DEPLOY_BACKEND.md
  VERCEL_BACKEND_DEPLOYMENT.md
Due: prettier --write

docs: Add final deployment completion guide
  DEPLOYMENT_COMPLETE.md
Due: prettier --write

fix: Configure backend vercel.json for Node.js serverless API
  backend/.vercelignore
  backend/vercel.json
Due: prettier --write

fix: Skip husky install in production/Vercel environment
  package.json
Due: prettier --write, sort-package-json

fix: Update Vercel entry point to use serverless wrapper
  backend/vercel.json
Due: prettier --write

docs: Add comprehensive Vercel deployment guide
  VERCEL_READY_TO_DEPLOY.md
Due: prettier --write

Update production API URL for Vercel backend
  Frontend/.env.production
Due: none

fix: Update frontend to use actual Vercel backend URL
  Frontend/.env.production
Due: none

docs: Add comprehensive deployment verification checklist
  DEPLOYMENT_VERIFICATION.md
Due: prettier --write

fix: Correct VITE_API_URL to actual Vercel backend domain
  Frontend/.env.production
  PRODUCTION_READINESS_REPORT.md
Due: prettier --write

fix: Add MongoDB connection timeouts and global caching for serverless
  backend/api/index.js
Due: eslint --fix, prettier --write

fix: Remove eager DB connection on module load, add /api/ping endpoint
  DEPLOY_BACKEND_NOW.sh
  DISABLE_VERCEL_PROTECTION.sh
  Frontend/dist/assets/main-BVgM3-nT.js
  MERGE_CONFLICT_RESOLUTION_SUMMARY.md
  backend/.gitignore
  backend/api/index.js
Due: eslint --fix, prettier --write

test: Add /api/version endpoint to verify deployed commit SHA
  backend/api/index.js
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,yml,yaml,md})) or (any of: *.{css,scss})
  node qa/scripts/check-brand-tokens.js: any of: *.{css,scss}
  forge fmt: any of: apps/contracts/**/*.sol
  sort-package-json: any of: package.json
