Repository PVAGR/pva-bazaar-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js, forge fmt, sort-package-json

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,yml,yaml,md}": [
    "prettier --write"
  ],
  "*.{css,scss}": [
    "prettier --write",
    "node qa/scripts/check-brand-tokens.js"
  ],
  "apps/contracts/**/*.sol": [
    "forge fmt"
  ],
  "package.json": [
    "sort-package-json"
  ]
}

chore: ignore tsbuildinfo artifacts
  .gitignore
Due: none

Update Admin.html
  frontend/pages/Admin.html
Due: none

chore(cleanup): remove legacy shared-ui and stray files
  .gitignore
  packages/shared-ui/package.json
  packages/shared-ui/src/components/Button.tsx
  packages/shared-ui/src/components/Input.tsx
  packages/shared-ui/src/index.ts
  packages/shared-ui/vite.config.js
  packages/shared-ui/vite.config.ts
  packages/ui/package.json
Due: eslint --fix, prettier --write, sort-package-json

Add files via upload
  P1 Data research for pva.md
  P2 Answers inputted fofmr pva research.md
  P3 PVA Backend.md
  P4 Devops.md
  P5 QA Test.md
  P6 integration.md
  PVA Blueprint web page.md
Due: prettier --write

chore(security): gitleaks secret scan replaces grep
  .husky/pre-commit
  Frontend/pages/productshowcase.html
  Frontend/src/api/client.js
  Frontend/src/auth/authPrompt.js
  Frontend/src/pages/checkoutmint.js
  gitleaks.toml
  scripts/secret-scan.sh
  tsconfig.tsbuildinfo
Due: eslint --fix, prettier --write

chore(ci): add gitleaks secret scan workflow + README badge
  .github/workflows/secret-scan.yml
  readme.md
Due: prettier --write

fix(frontend): add test script and basic test to pass pre-commit checks
  Frontend/package.json
  Frontend/pages/PVA Bazaar - Shared Ownership Marketplace.html
  Frontend/pages/checkoutmint.html
  Frontend/pages/market.html
  Frontend/pages/portfolio.html
  Frontend/pages/productshowcase.html
  Frontend/pages/pvadashboard.html
  Frontend/sanity.test.js
  Frontend/src/styles/main.css
  backend/api/index.js
  backend/routes/market.js
  package-lock.json
  tsconfig.tsbuildinfo
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js, sort-package-json

feat(frontend): make provenance page fully API-driven and dynamic
  Frontend/pages/provenance.html
  Frontend/src/pages/provenance.js
Due: eslint --fix, prettier --write

feat(frontend): asset creation and cert preview integration
  Frontend/pages/admin.html
  Frontend/pages/assetcreate.html
  Frontend/pages/provtrack.html
  Frontend/pages/pvacertadmit.html
  apps/web-com/src/styles.css
  apps/web-org/src/styles.css
  backend/routes/market.js
  contracts/abi/Marketplace.json
  contracts/abi/PVA_NFT.json
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

feat(frontend): unify navigation, dynamic product page, and polish
  Frontend/index.html
  Frontend/pages/PVA Bazaar - Shared Ownership Marketplace.html
  Frontend/pages/admin.html
  Frontend/pages/assetcreate.html
  Frontend/pages/checkoutmint.html
  Frontend/pages/market.html
  Frontend/pages/portfolio.html
  Frontend/pages/productshowcase.html
  Frontend/pages/provenance.html
  Frontend/pages/provtrack.html
  Frontend/pages/provtracker.html
  Frontend/pages/pvacertadmit.html
  Frontend/pages/pvadashboard.html
  Frontend/pages/pvashares.html
  Frontend/pages/welcome.html
Due: none

feat(ui): merge and polish pages
  .gitignore
  Frontend/pages/admin-management.html
  Frontend/pages/dashboard-portfolio.html
  Frontend/pages/marketplace.html
  Frontend/pages/provenance-certificates.html
  api/server.js
  vercel.json
Due: eslint --fix, prettier --write

fix: unify provenance tracker and update header
  Frontend/pages/market.html
  Frontend/pages/provtrack.html
  Frontend/pages/provtracker.html
Due: none

fix
  README.md
  frontend/pages/Admin.html
  frontend/pages/welcome.html
Due: prettier --write

chore: remove pva-bazaar-app.env and add to .gitignore
  .gitignore
  pva-bazaar-app.env
Due: none

feat(nav): unify and modernize navigation/header across all main pages
  Frontend/index.html
  Frontend/pages/dashboard-portfolio.html
  Frontend/pages/marketplace.html
  Frontend/pages/portfolio.html
  Frontend/pages/productshowcase.html
  Frontend/pages/provenance.html
  Frontend/pages/provtrack.html
  Frontend/pages/pvacertadmit.html
  Frontend/pages/pvadashboard.html
  Frontend/pages/welcome.html
  Frontend/src/pages/provenance.js
  routes/artifacts.js
  routes/certificates.js
  routes/search.js
  routes/users.js
Due: eslint --fix, prettier --write

style(header): unify header/nav layout and responsive stacking
  Frontend/pages/pvadashboard.html
Due: none

Bypass pre-commit hook: emergency commit for dashboard and backend upgrades
  Frontend/index.html
  Frontend/pages/assetcreate.html
  Frontend/pages/marketplace.html
  Frontend/pages/productshowcase.html
  Frontend/pages/pvadashboard.html
  backend/api/index.js
  backend/models/Artifact.js
  backend/routes/activity.js
  backend/routes/artifacts.js
  backend/routes/transactions.js
Due: eslint --fix, prettier --write

Bypass pre-commit hook: navigation/header unification across all main pages
  Frontend/pages/assetcreate.html
  Frontend/pages/marketplace.html
  Frontend/pages/productshowcase.html
  Frontend/pages/pvadashboard.html
Due: none

Update welcome.html
  frontend/pages/welcome.html
Due: none

Update print statement from 'Hello' to 'Goodbye'
  Frontend/index.html
Due: none

new fixes
  Frontend/pages/welcome.html
  frontend/pages/welcome.html
  test-api.html
Due: none

Update welcome.html
  Frontend/pages/welcome.html
Due: none

Update dashboard-portfolio.html
  Frontend/pages/dashboard-portfolio.html
Due: none

aaa
  Frontend/pages/admin.html
  frontend/pages/Admin.html
Due: none

feat: clean up and consolidate HTML pages
  Frontend/pages/PVA Bazaar - Shared Ownership Marketplace.html
  Frontend/pages/admin-management.html
  Frontend/pages/admin.html
  Frontend/pages/assetcreate.html
  Frontend/pages/checkoutmint.html
  Frontend/pages/dashboard-portfolio.html
  Frontend/pages/marketplace.html
  Frontend/pages/portfolio.html
  Frontend/pages/productshowcase.html
  Frontend/pages/provenance-certificates.html
  Frontend/pages/provenance.html
  Frontend/pages/provtrack.html
  Frontend/pages/provtracker.html
  Frontend/pages/pvacertadmit.html
  Frontend/pages/pvadashboard.html
  Frontend/pages/pvashares.html
  Frontend/pages/welcome.html
  frontend/pages/Admin.html
  frontend/pages/provenancetrack.html
  frontend/pages/welcome.html
Due: none

Merge branch 'main' of https://github.com/PVAGR/pva-bazaar-app
  Frontend/pages/admin.html
  Frontend/pages/checkoutmint.html
  Frontend/pages/dashboard-portfolio.html
  Frontend/pages/dashboard.html
  Frontend/pages/home.html
  Frontend/pages/marketplace.html
  Frontend/pages/portfolio.html
  Frontend/pages/provenance.html
  Frontend/pages/provtracker.html
  Frontend/pages/pvashares.html
  Frontend/pages/welcome.html
  frontend/pages/provenancetrack.html
  frontend/pages/welcome.html
Due: none

Clean up frontend: archive old HTML files, polish 5 standard pages, resolve case-sensitivity issues
  Frontend/pages/_archive/Archtype.html
  Frontend/pages/_archive/assetcreate.html
  Frontend/pages/_archive/checkoutmint.html
  Frontend/pages/_archive/dashboard-portfolio.html
  Frontend/pages/_archive/portfolio.html
  Frontend/pages/_archive/productshowcase.html
  Frontend/pages/_archive/provenancetrack.html
  Frontend/pages/_archive/provtrack.html
  Frontend/pages/_archive/provtracker.html
  Frontend/pages/_archive/pvacertadmit.html
  Frontend/pages/_archive/pvadashboard.html
  Frontend/pages/_archive/pvashares.html
  Frontend/pages/marketplace.html
Due: none

ai
  Frontend/dist/index.html
  Frontend/dist/pages/market.html
  Frontend/dist/pages/welcome.html
  Frontend/dist/src/api/client.js
  Frontend/dist/src/pages/checkoutmint.js
  Frontend/dist/src/pages/provenance.js
  Frontend/dist/src/styles/main.css
  Frontend/package-lock.json
  demo/gateway.ts
  frontend/_redirects
  frontend/dist/pages/_archive/Archtype.html
  frontend/dist/pages/_archive/assetcreate.html
  frontend/dist/pages/_archive/checkoutmint.html
  frontend/dist/pages/_archive/dashboard-portfolio.html
  frontend/dist/pages/_archive/portfolio.html
  frontend/dist/pages/_archive/productshowcase.html
  frontend/dist/pages/_archive/provenancetrack.html
  frontend/dist/pages/_archive/provtrack.html
  frontend/dist/pages/_archive/provtracker.html
  frontend/dist/pages/_archive/pvacertadmit.html
  frontend/dist/pages/_archive/pvadashboard.html
  frontend/dist/pages/_archive/pvashares.html
  frontend/dist/pages/admin.html
  frontend/dist/pages/dashboard.html
  frontend/dist/pages/home.html
  frontend/dist/pages/marketplace.html
  frontend/dist/pages/provenance.html
  frontend/dist/public/css/pva-nav.css
  frontend/dist/public/js/pva-nav.js
  frontend/dist/src/auth/authPrompt.js
  frontend/dist/src/config.js
  frontend/dist/src/pages/PVA Bazaar - Shared Ownership Marketplace.js
  frontend/vercel.json
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

aaa
  Frontend/pages/provenance.html
  demo/package.json
Due: prettier --write, sort-package-json

fix: replace multi-page app with single static page - personal statement, project vision, and digital will
  Frontend/index.html
  Frontend/pages/admin.html
  Frontend/pages/marketplace.html
Due: none

fix: copy static personal statement index.html to dist directory for Vercel deployment
  dist/index.html
Due: none

fix: simplify vercel.json routing to serve static index.html correctly
  vercel.json
Due: prettier --write

Update index.html
  Frontend/index.html
Due: none

feat: integrate complete philosophy, spirituality, and vision content into index.html
  Frontend/index.html
  dist/index.html
Due: none

feat: integrate extensive extended writings - books, essays, stories, and philosophical pieces on spirituality, AI control, consciousness, and human evolution
  Frontend/index.html
  dist/index.html
Due: none

feat: reorganize all content into three professional archives - philosophical essays, future visions, and applied systems frameworks
  Frontend/index.html
  dist/index.html
Due: none

feat: expand to unlimited archives - add Archive 4 (Health & Nutrition Wisdom) and Archive 5 (Consciousness & Activation Practices)
  Frontend/index.html
  dist/index.html
Due: none
