Repository PVAGR/pva-bazaar-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js, forge fmt, sort-package-json

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,yml,yaml,md}": [
    "prettier --write"
  ],
  "*.{css,scss}": [
    "prettier --write",
    "node qa/scripts/check-brand-tokens.js"
  ],
  "apps/contracts/**/*.sol": [
    "forge fmt"
  ],
  "package.json": [
    "sort-package-json"
  ]
}

chore: bump frontend index comment for Pages deploy
  Frontend/index.html
Due: none

fix(ci): point npm cache to root lockfile for Frontend workspace
  .github/workflows/deploy-frontend.yml
  .github/workflows/deploy-to-github-pages.yml
  .github/workflows/frontend.yml
  .github/workflows/openclaw-integration.yml
Due: prettier --write

feat(qa): add feature-surface probes and live HTTP smoke tests
  package.json
  playwright.smoke-live.config.ts
  scripts/verify-backend-network.mjs
  scripts/verify-feature-surface.mjs
  tests/e2e.smoke.spec.js
Due: eslint --fix, prettier --write, sort-package-json

fix(frontend): avoid recharts runtime chunk crash on startup
  Frontend/vite.config.js
Due: eslint --fix, prettier --write

fix(frontend): remove fragile manual chunk overrides
  Frontend/vite.config.js
Due: eslint --fix, prettier --write

fix(ci): prioritize repo vars for VITE_API_URL
  .github/workflows/deploy-frontend.yml
  .github/workflows/deploy-to-github-pages.yml
  .github/workflows/frontend.yml
Due: prettier --write

fix(forum): coerce discussion preview values to strings
  Frontend/src/components/governance/ProposalCard.jsx
Due: eslint --fix, prettier --write

fix(governance): normalize forum comment count rendering
  Frontend/src/components/governance/index.jsx
Due: eslint --fix, prettier --write

fix(frontend): remove dead API calls from agent and treasury
  Frontend/src/components/AgentChat.jsx
  Frontend/src/config/env.ts
  Frontend/src/pages/TreasuryPage.jsx
Due: eslint --fix, prettier --write

fix(frontend): avoid dead external placeholder image URLs
  Frontend/src/pages/MarketplacePage.jsx
  Frontend/src/pages/ShowroomPage.jsx
Due: eslint --fix, prettier --write

fix(frontend): remove placeholder and guest draft request noise
  Frontend/src/pages/Forum.jsx
  Frontend/src/pages/MarketplacePage.jsx
  Frontend/src/pages/ShowroomPage.jsx
Due: eslint --fix, prettier --write

fix(openclaw): point telegram and workers to live backend
  .github/workflows/openclaw-agent.yml
  .github/workflows/openclaw-queue-worker.yml
  .github/workflows/openclaw-realtime-online.yml
  .github/workflows/openclaw-self-heal.yml
  .github/workflows/openclaw-telegram-bridge.yml
  .github/workflows/openclaw-uptime-monitor.yml
Due: prettier --write

fix(openclaw): default worker webhook to backend endpoint
  .github/workflows/openclaw-queue-worker.yml
Due: prettier --write

feat(openclaw): notify telegram when startup workflows boot
  .github/workflows/openclaw-agent.yml
  .github/workflows/openclaw-realtime-online.yml
  .github/workflows/openclaw-telegram-bridge.yml
Due: prettier --write

feat(frontend): polish get-started page visual presentation
  Frontend/src/pages/GetStartedPage.css
  Frontend/src/pages/GetStartedPage.jsx
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

feat(frontend): improve onboarding section readability
  Frontend/src/pages/OnboardingPage.css
Due: prettier --write, node qa/scripts/check-brand-tokens.js

feat(data): add downloadable occupations and skills starter pack
  backend/data/seed/onet-jobs-professions-skills.json
  package.json
  scripts/download-onet-jobs-skills.ps1
Due: prettier --write, sort-package-json

feat(library): expose and browse occupations skills starter data
  Frontend/src/pages/CivilizationLibraryPage.css
  Frontend/src/pages/CivilizationLibraryPage.jsx
  backend/routes/library.js
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

fix(openclaw): pass configured chat id to startup telegram notify
  .github/workflows/openclaw-telegram-bridge.yml
Due: prettier --write

fix(openclaw): unify startup telegram recipient routing
  .github/workflows/openclaw-agent.yml
  .github/workflows/openclaw-realtime-online.yml
Due: prettier --write

feat(frontend): elevate admin panel visual quality
  Frontend/src/components/AdminTabs.css
  Frontend/src/components/OpenClawTab.css
  Frontend/src/pages/AdminPage.css
Due: prettier --write, node qa/scripts/check-brand-tokens.js

feat(admin): expand layout and add user admin promotion controls
  Frontend/src/components/DashboardTab.css
  Frontend/src/components/UsersTab.css
  Frontend/src/components/UsersTab.jsx
  Frontend/src/pages/AdminPage.css
  backend/routes/admin.js
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

test: add live frontend route sweep verification
  package.json
  scripts/verify-frontend-routes-live.mjs
Due: prettier --write, sort-package-json

fix(api): wire live backend parity routes
  Frontend/src/components/AIHelpChat.jsx
  Frontend/src/components/ApiDocsTab.jsx
  Frontend/src/components/ProvenanceSubmission.jsx
  Frontend/src/components/SellerDashboard.jsx
  Frontend/src/components/ShipmentTracking.jsx
  Frontend/src/components/ShopPage.jsx
  Frontend/src/config/env.ts
  Frontend/src/lib/api.js
  Frontend/src/lib/axios.js
  Frontend/src/lib/openclaw-widget.js
  Frontend/src/pages/UserDashboard.jsx
  backend/api/index.js
  backend/models/Notification.js
  backend/models/RoyaltyEvent.js
  backend/routes/analytics.js
  backend/routes/notifications.js
Due: eslint --fix, prettier --write

fix(library): fallback when careers seed missing
  backend/routes/library.js
Due: eslint --fix, prettier --write

fix(verify): normalize live/local sha parity comparison
  scripts/verify-live-ready.mjs
  scripts/wait-prod-deploy.mjs
Due: none

feat(federation): add live world map check-in and intro quiz flow
  Frontend/src/App.jsx
  Frontend/src/config/publicRoutes.js
  Frontend/src/lib/api.js
  Frontend/src/pages/CareerQuizPage.jsx
  Frontend/src/pages/FederationMapPage.css
  Frontend/src/pages/FederationMapPage.jsx
  Frontend/src/pages/PassportPage.jsx
  backend/api/index.js
  backend/models/FederationPresence.js
  backend/routes/federation.js
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

feat(library): add decentralized collaboration module
  .github/workflows/ipfs-publish.yml
  AGPL-3.0-LICENSE.txt
  FORK.md
  Frontend/src/App.jsx
  Frontend/src/components/library/ArticleViewer.jsx
  Frontend/src/components/library/LibraryEditor.jsx
  Frontend/src/components/library/LibraryModule.css
  Frontend/src/components/library/ModerationQueue.jsx
  Frontend/src/lib/api.js
  Frontend/src/pages/CollaborativeLibraryPage.jsx
  SELF_HOSTING.md
  backend/models/LibraryArticle.js
  backend/models/ModerationLog.js
  backend/models/User.js
  backend/routes/admin.js
  backend/routes/library.js
  backend/services/libraryPublisher.js
  content/library/cid-map.json
  scripts/library/ipfs-publish.mjs
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

fix(ci): do not block backend deploy on telegram env sync
  .github/workflows/deploy-backend-live.yml
Due: prettier --write

fix(ci): allow backend deploy when telegram sync fails
  .github/workflows/deploy-backend-live.yml
Due: prettier --write

fix(ci): fail deploy only if both paths fail
  .github/workflows/deploy-backend-live.yml
Due: prettier --write

fix(ci): make live verify non-blocking on backend deploy
  .github/workflows/deploy-backend-live.yml
Due: prettier --write

fix(ci): fail render deploy when webhook is invalid
  .github/workflows/deploy-render.yml
Due: prettier --write

fix(ci): add render deploy API fallback
  .github/workflows/deploy-render.yml
Due: prettier --write

fix(ci): support more render secret aliases
  .github/workflows/deploy-render.yml
Due: prettier --write

fix(library): return 404 for invalid article identifiers
  backend/routes/library.js
Due: eslint --fix, prettier --write

fix(ci): fallback to default render service id
  .github/workflows/deploy-render.yml
Due: prettier --write

fix(ci): accept additional render token aliases
  .github/workflows/deploy-render.yml
Due: prettier --write
