Repository PVAGR/pva-bazaar-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js, forge fmt, sort-package-json

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,yml,yaml,md}": [
    "prettier --write"
  ],
  "*.{css,scss}": [
    "prettier --write",
    "node qa/scripts/check-brand-tokens.js"
  ],
  "apps/contracts/**/*.sol": [
    "forge fmt"
  ],
  "package.json": [
    "sort-package-json"
  ]
}

fix: Remove eager DB connection from serverless handler
  backend/server.js
Due: eslint --fix, prettier --write

fix: Add standalone ping.js serverless function
  backend/api/ping.js
  backend/vercel.json
Due: eslint --fix, prettier --write

fix: Add standalone health.js function bypassing Express
  backend/api/health.js
  backend/vercel.json
Due: eslint --fix, prettier --write

fix: Lazy-load Express app to avoid cold start timeout
  backend/server.js
Due: eslint --fix, prettier --write

test: Add minimal Express test endpoint
  backend/api/test.js
  backend/vercel.json
Due: eslint --fix, prettier --write

fix: Update frontend to use pva-backend-api.vercel.app
  Frontend/.env.production
Due: none

fix: correct Vercel routing and serverless handler
  backend/api/index.js
  backend/server.js
  backend/vercel.json
Due: eslint --fix, prettier --write

test: Add minimal Express function without api/index
  backend/api/minimal.js
  backend/vercel.json
Due: eslint --fix, prettier --write

test: Try direct Express export without serverless-http
  backend/api/direct.js
  backend/vercel.json
Due: eslint --fix, prettier --write

fix: Remove serverless-http, export Express app directly
  backend/server.js
Due: eslint --fix, prettier --write

fix: Add DB connection middleware before routes
  backend/api/index.js
Due: eslint --fix, prettier --write

fix: Add missing closing brace in middleware
  backend/api/index.js
Due: eslint --fix, prettier --write

build: Deploy frontend with stable backend API
  Frontend/dist/assets/main-B0dpod8M.js
  backend/.env.production
  vercel-backend.json
Due: eslint --fix, prettier --write

fix: correct Vite bundling to serve compiled assets instead of raw JSX
  Frontend/dist/404.html
  Frontend/dist/index.html
  Frontend/vite.config.js
Due: eslint --fix, prettier --write

Add PVA Eternal Custodian agent and documentation
  .github/agents/my-agent.agent.md
Due: prettier --write

fix(frontend): stop shipping legacy bundles + remove localhost footguns
  .gitignore
  Frontend/dist/404.html
  Frontend/dist/app.js
  Frontend/dist/assets/main-BZypuri7.js
  Frontend/dist/index.html
  Frontend/dist/public/app.js
  Frontend/dist/public/status.html
  Frontend/dist/src/api-test.js
  Frontend/dist/status.html
  Frontend/index.html
  Frontend/public/app.js
  Frontend/public/status.html
  Frontend/scripts/copy-src-to-dist.cjs
Due: eslint --fix, prettier --write

fix(frontend): support VITE_API_URL with api-base.json fallback
  .github/workflows/main.yml
  Frontend/public/api-base.json
  Frontend/src/lib/api.js
Due: eslint --fix, prettier --write

feat(admin): token login + create archive entries from UI
  Frontend/src/lib/archiveApi.js
  backend/.env.example
  backend/routes/admin.js
  backend/scripts/smoke-admin-token.js
Due: eslint --fix, prettier --write

fix(backend): gate legacy marketplace routes behind LEGACY_MODE
  backend/.env.example
  backend/api/index.js
  backend/scripts/smoke-legacy-mode.js
Due: eslint --fix, prettier --write

fix(frontend): stop shipping raw src, remove api-test, and use backend search
  .gitignore
  Frontend/scripts/copy-src-to-dist.cjs
  Frontend/src/App.jsx
  Frontend/src/api-test.js
  Frontend/src/pages/SearchPage.jsx
Due: eslint --fix, prettier --write

feat(journal): api-first entries, archive fetch, secure archive search
  Frontend/src/App.jsx
  Frontend/src/lib/archiveApi.js
  Frontend/src/pages/AdminNewEntry.jsx
  Frontend/src/pages/EntryDetail.jsx
  VERIFICATION_REPORT.md
  backend/routes/search.js
Due: eslint --fix, prettier --write

fix(frontend): update api-base.json to correct backend URL
  Frontend/public/api-base.json
Due: prettier --write

test: add production verification and e2e smoke tests
  scripts/verify-prod.mjs
  tests/e2e.smoke.spec.js
Due: eslint --fix, prettier --write

feat: Complete Archive Preservation - 110,000+ words from ages 24-28
  ARCHIVE_MASTER_INDEX.md
  Archive-Entry-002-Man-From-Taured-Part-2.md
  Archive-Entry-003-Spiritual-Core-Asha-vs-Druj.md
  Archive-Entry-004-Divine-Connection-Consciousness.md
  Archive-Entry-005-The-Distributed-Flame.md
  Archive-Entry-006-Religious-Texts-Manipulation.md
  Archive-Entry-007-Unsettled-Soul-Demiurge.md
  Archive-Entry-008-Dharmic-Quest.md
  Archive-Entry-009-Bioharmonic-Suit.md
  Archive-Entry-010-Vimana-Technology.md
  Archive-Entry-011-PVA-Bazaar-Business-Model.md
  Archive-Entry-012-Hermit-Journey.md
  Archive-Entry-013-Simulation-Reality-Consciousness.md
  Archive-Entry-014-Essays-Reflections.md
  Archive-Entry-015-Ziggurat-Hub-Architecture.md
  Archive-Entry-016-Master-Integration.md
  import/Archive-Entry-001-Man-From-Taured-Part-1.md
Due: prettier --write

chore: Add deployment documentation and archive import tooling
  DEPLOYMENT_SUCCESS.md
  FINAL_VERIFICATION.md
  backend/scripts/import-archive-md.mjs
  import/Archive.md
  import/README.md
  package-lock.json
  package.json
  tsconfig.tsbuildinfo
Due: prettier --write, sort-package-json

feat: Add Archive Library with complete 110K word preservation
  Frontend/public/archive/ARCHIVE_MASTER_INDEX.md
  Frontend/public/archive/Archive-Entry-001-Man-From-Taured-Part-1.md
  Frontend/public/archive/Archive-Entry-002-Man-From-Taured-Part-2.md
  Frontend/public/archive/Archive-Entry-003-Spiritual-Core-Asha-vs-Druj.md
  Frontend/public/archive/Archive-Entry-004-Divine-Connection-Consciousness.md
  Frontend/public/archive/Archive-Entry-005-The-Distributed-Flame.md
  Frontend/public/archive/Archive-Entry-006-Religious-Texts-Manipulation.md
  Frontend/public/archive/Archive-Entry-007-Unsettled-Soul-Demiurge.md
  Frontend/public/archive/Archive-Entry-008-Dharmic-Quest.md
  Frontend/public/archive/Archive-Entry-009-Bioharmonic-Suit.md
  Frontend/public/archive/Archive-Entry-010-Vimana-Technology.md
  Frontend/public/archive/Archive-Entry-011-PVA-Bazaar-Business-Model.md
  Frontend/public/archive/Archive-Entry-012-Hermit-Journey.md
  Frontend/public/archive/Archive-Entry-013-Simulation-Reality-Consciousness.md
  Frontend/public/archive/Archive-Entry-014-Essays-Reflections.md
  Frontend/public/archive/Archive-Entry-015-Ziggurat-Hub-Architecture.md
  Frontend/public/archive/Archive-Entry-016-Master-Integration.md
  Frontend/src/App.jsx
  Frontend/src/components/Layout.jsx
  Frontend/src/pages/ArchiveLibraryPage.css
  Frontend/src/pages/ArchiveLibraryPage.jsx
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

docs: Add complete archive website integration documentation
  ARCHIVE_WEBSITE_INTEGRATION_COMPLETE.md
Due: prettier --write

feat: Make Archive Library the homepage - remove old journal interface
  Frontend/src/App.jsx
  Frontend/src/components/Layout.jsx
Due: eslint --fix, prettier --write

feat: Full-screen archive library - remove all wrappers
  Frontend/src/App.jsx
  Frontend/src/pages/ArchiveLibraryPage.css
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

feat: Add light/dark mode toggle + improved readability
  Frontend/src/pages/ArchiveLibraryPage.css
  Frontend/src/pages/ArchiveLibraryPage.jsx
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

fix: Softer light mode colors + proper scrolling
  Frontend/src/pages/ArchiveLibraryPage.css
Due: prettier --write, node qa/scripts/check-brand-tokens.js

fix: Light green theme for better readability
  Frontend/src/pages/ArchiveLibraryPage.css
Due: prettier --write, node qa/scripts/check-brand-tokens.js

fix: Rich emerald/jade green theme for better contrast
  Frontend/src/pages/ArchiveLibraryPage.css
Due: prettier --write, node qa/scripts/check-brand-tokens.js

fix: Darker emerald backgrounds for better white text visibility
  Frontend/src/pages/ArchiveLibraryPage.css
Due: prettier --write, node qa/scripts/check-brand-tokens.js

fix: Enable smooth scrolling throughout the archive
  Frontend/src/pages/ArchiveLibraryPage.css
Due: prettier --write, node qa/scripts/check-brand-tokens.js

feat: Add admin panel for creating new archive entries
  Frontend/src/App.jsx
  Frontend/src/pages/AdminPage.css
  Frontend/src/pages/AdminPage.jsx
  Frontend/src/pages/ArchiveLibraryPage.jsx
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

feat: Add visible Admin link in archive header
  Frontend/src/pages/ArchiveLibraryPage.css
  Frontend/src/pages/ArchiveLibraryPage.jsx
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

feat: Update admin credentials with username/password
  Frontend/src/pages/AdminPage.jsx
Due: eslint --fix, prettier --write
