Repository PVAGR/pva-bazaar-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js, forge fmt, sort-package-json

chore: Connect frontend to production backend URL
  Frontend/.env.production
  STEP_BY_STEP_MOBILE_FIX.md
  VERIFICATION_CHECKLIST.md
Due: prettier --write

fix: Connect to existing pva-backend-api + add startup documentation
  Frontend/.env.production
  STARTUP_NOTE.md
Due: prettier --write

docs: Add extensions reference guide
  EXTENSIONS_REFERENCE.md
Due: prettier --write

feat: Magnum Opus - Digital Legacy & Immortality System
  Frontend/src/pages/legacy.html
  MAGNUM_OPUS.md
  backend/legacy-system.js
  backend/routes/legacy-routes.js
Due: eslint --fix, prettier --write

docs: Complete Magnum Opus documentation and user guide
  LEGACY_README.md
Due: prettier --write

feat: Manifesto AI - Critical questions for architecture design
  MANIFESTO_AI_QUESTIONS.md
Due: prettier --write

feat: Manifesto AI Skeleton - Voice Learning & Post-Mortem Intelligence
  backend/manifesto-ai.js
  backend/manifesto-token.sol
  backend/routes/manifesto-ai-routes.js
Due: eslint --fix, prettier --write

docs: Manifesto AI - Complete skeletal architecture guide
  MANIFESTO_AI_GUIDE.md
Due: prettier --write

fix: remove trailing whitespace in public/index.html
  public/index.html
Due: none

feat: setup GitHub Pages and Vercel deployment pipelines
  .github/workflows/deploy-backend.yml
  .github/workflows/deploy-frontend.yml
  .github/workflows/deploy-to-github-pages.yml
  DEPLOYMENT_SETUP.md
  Frontend/vite.config.js
  backend/package.json
  backend/routes/transactions.js
  backend/vercel.json
  package-lock.json
  scripts/setup-github-secrets.sh
Due: eslint --fix, prettier --write, sort-package-json

docs: add quick deployment setup guide
  QUICK_DEPLOY_GUIDE.md
Due: prettier --write

scripts: add deployment status verification tool
  scripts/check-deployment-status.sh
Due: none

docs: add deployment status completion summary
  DEPLOYMENT_STATUS.md
Due: prettier --write

fix: resolve README merge conflict
  readme.md
Due: prettier --write

fix: configure development environment and fix build issues
  Frontend/package.json
  Frontend/vite.config.js
  package-lock.json
Due: eslint --fix, prettier --write, sort-package-json

chore: add build script to trigger Vercel deployment
  backend/package.json
Due: prettier --write, sort-package-json

docs: add deployment status and monitoring guides
  DEPLOYMENT_LIVE.md
  DEPLOYMENT_STATUS_FINAL.md
Due: prettier --write

docs: update deployment complete status - frontend live, backend verified
  DEPLOYMENT_COMPLETE.md
Due: prettier --write

docs: add final deployment status report - all systems operational
  FINAL_DEPLOYMENT_REPORT.md
Due: prettier --write

chore: resolve README state
  readme.md
Due: prettier --write

docs: add comprehensive verification and testing report - all systems verified
  VERIFICATION_AND_TESTING_REPORT.md
Due: prettier --write

docs: add session complete summary - deployment successful
  SESSION_COMPLETE_SUMMARY.md
Due: prettier --write

fix: correct vercel.json paths for backend deployment - use explicit ./ paths
  backend/vercel.json
Due: prettier --write

docs: add Vercel root directory fix guide
  VERCEL_FIX_ROOT_DIRECTORY.md
Due: prettier --write

chore: cleanup docs - trigger backend deploy
  VERCEL_FIX_ROOT_DIRECTORY.md
Due: prettier --write

fix: remove invalid envs property from vercel.json
  backend/vercel.json
Due: prettier --write

feat: add schema validation to vercel.json
  backend/vercel.json
Due: prettier --write

fix: remove schema from vercel.json
  backend/vercel.json
Due: prettier --write

fix: add outputDirectory to vercel.json
  backend/vercel.json
Due: prettier --write

fix: export app as default for Vercel serverless
  backend/api/index.js
Due: eslint --fix, prettier --write

fix: remove buildCommand and outputDirectory from backend vercel.json
  backend/vercel.json
Due: prettier --write

fix: add public directory and outputDirectory config for Vercel
  backend/public/index.html
  backend/vercel.json
Due: prettier --write

fix: remove outputDirectory - will use Vercel dashboard setting
  backend/vercel.json
Due: prettier --write

fix: remove unnecessary public directory for serverless API
  backend/public/index.html
Due: none

fix: add build script and outputDirectory for dist folder
  backend/package.json
  backend/vercel.json
Due: prettier --write, sort-package-json

fix: remove buildCommand and outputDirectory - pure serverless functions
  backend/package.json
  backend/vercel.json
Due: prettier --write, sort-package-json

fix: remove conflicting 'functions' property from vercel.json
  backend/vercel.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,yml,yaml,md})) or (any of: *.{css,scss})
  node qa/scripts/check-brand-tokens.js: any of: *.{css,scss}
  forge fmt: any of: apps/contracts/**/*.sol
  sort-package-json: any of: package.json
