Repository PVAGR/pva-bazaar-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js, forge fmt, sort-package-json

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,yml,yaml,md}": [
    "prettier --write"
  ],
  "*.{css,scss}": [
    "prettier --write",
    "node qa/scripts/check-brand-tokens.js"
  ],
  "apps/contracts/**/*.sol": [
    "forge fmt"
  ],
  "package.json": [
    "sort-package-json"
  ]
}

fix(ci): quote verify workflow path globs
  .github/workflows/verify.yml
Due: prettier --write

fix(ci): remove secrets from verify step if expression
  .github/workflows/verify.yml
Due: prettier --write

fix(ci): repair verify workflow YAML parsing
  .github/workflows/verify.yml
Due: prettier --write

fix(ci): simplify verify payload command for YAML safety
  .github/workflows/verify.yml
Due: prettier --write

feat(openclaw): ship always-on site assistant and crawler-readable layer
  Frontend/index.html
  Frontend/public/llms.txt
  Frontend/public/readable-site.json
  Frontend/public/robots.txt
  Frontend/public/sitemap.xml
  Frontend/src/components/Layout.jsx
  Frontend/src/components/OpenClawFloatingAssistant.css
  Frontend/src/components/OpenClawFloatingAssistant.jsx
  backend/routes/openclaw.js
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

feat(governance): add civic governance interface and routing
  Frontend/package.json
  Frontend/src/App.jsx
  Frontend/src/components/governance/index.jsx
  Frontend/src/pages/Forum.jsx
  Frontend/src/pages/OtherPages.jsx
  Frontend/src/store/governanceStore.js
  Frontend/src/styles/governance.css
  package-lock.json
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js, sort-package-json

feat: add home page, routing consolidation, Pages deploy
  .github/workflows/deploy-to-github-pages.yml
  .github/workflows/deploy.yml
  .github/workflows/frontend.yml
  Frontend/index.html
  Frontend/public/llms.txt
  Frontend/public/readable-site.json
  Frontend/public/sitemap.xml
  Frontend/src/App.jsx
  Frontend/src/base.css
  Frontend/src/components/Layout.jsx
  Frontend/src/config/publicRoutes.js
  Frontend/src/lib/archiveFeed.js
  Frontend/src/pages/ArchiveLibraryPage.jsx
  Frontend/src/pages/HomePage.css
  Frontend/src/pages/HomePage.jsx
  Frontend/src/pages/PopularConferencePage.jsx
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

feat: replace conference page with governance board
  Frontend/src/components/governance/ProposalCard.jsx
  Frontend/src/components/governance/ProposalForm.jsx
  Frontend/src/pages/PopularConferencePage.jsx
Due: eslint --fix, prettier --write

fix: conference page live selectors + wallet CTA
  Frontend/src/pages/PopularConferencePage.jsx
Due: eslint --fix, prettier --write

fix: backend governance API connectivity — CORS, route mount, env vars
  backend/.env.example
  backend/api/index.js
Due: eslint --fix, prettier --write

fix: wallet integration + button selector for live deploy
  Frontend/src/pages/PopularConferencePage.jsx
Due: eslint --fix, prettier --write

fix: ensure /deploy route and nav link are wired correctly
  Frontend/src/App.jsx
  Frontend/src/components/Layout.jsx
  Frontend/src/pages/DeployPage.jsx
Due: eslint --fix, prettier --write

feat: unify governance theme and scrolling
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  Frontend/.env.example
  Frontend/src/components/governance/ProofOfPersonhood.jsx
  Frontend/src/lib/contracts.js
  Frontend/src/lib/federation.js
  Frontend/src/lib/offlineSync.js
  Frontend/src/pages/PopularConferencePage.jsx
  Frontend/src/pages/TreasuryPage.jsx
  Frontend/src/store/governanceStore.js
  Frontend/src/styles/governance.css
  readme.md
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

docs: add deploy and federation README notes
  README.md
Due: prettier --write

feat: add static federation markers for crawler/AI discovery
  Frontend/index.html
  Frontend/src/pages/DeployPage.jsx
  Frontend/src/pages/PopularConferencePage.jsx
  readable-site.json
Due: eslint --fix, prettier --write

feat: add multilingual dropdown and production readiness updates
  Frontend/.env.example
  Frontend/src/App.jsx
  Frontend/src/components/Layout.jsx
  Frontend/src/lib/i18n.js
  Frontend/src/lib/telemetry.js
  Frontend/src/pages/AdminGovernancePage.jsx
  Frontend/src/pages/DeployPage.jsx
  Frontend/src/pages/PopularConferencePage.jsx
  Frontend/src/store/governanceStore.js
  contracts/scripts/deploy-amoy.js
  vercel.json
Due: eslint --fix, prettier --write

fix: restore frontend build and remove competing root rewrite
  Frontend/index.html
  vercel.json
Due: prettier --write

feat: add clear route identity banner in shared layout
  Frontend/src/components/Layout.jsx
Due: eslint --fix, prettier --write

feat: implement popular conference direct-democracy MVP
  Frontend/src/components/governance/ProposalCard.jsx
  Frontend/src/components/governance/ProposalForm.jsx
  Frontend/src/pages/AdminGovernancePage.jsx
  Frontend/src/pages/PopularConferencePage.jsx
  Frontend/src/store/governanceStore.js
Due: eslint --fix, prettier --write

fix: preserve admin governance redirect after auth
  Frontend/src/components/RequireAdminAuth.jsx
  Frontend/src/pages/AdminPage.jsx
Due: eslint --fix, prettier --write

ci: verify pages asset propagation after deploy
  .github/workflows/deploy-frontend.yml
Due: prettier --write

ci: harden frontend asset manifest parsing
  .github/workflows/deploy-frontend.yml
Due: prettier --write

fix(admin): default auth mode to login after bootstrap
  Frontend/src/pages/AdminPage.jsx
Due: eslint --fix, prettier --write

feat(governance): persist admin moderation responses
  Frontend/src/lib/api.js
  Frontend/src/pages/AdminGovernancePage.jsx
  Frontend/src/pages/AdminPage.jsx
  Frontend/src/pages/PopularConferencePage.jsx
  Frontend/src/store/governanceStore.js
  backend/models/GovernanceAdminResponse.js
  backend/routes/adminLogin.js
  backend/routes/governance.js
Due: eslint --fix, prettier --write

fix(governance): keep local moderation fallback on sync errors
  Frontend/src/pages/AdminGovernancePage.jsx
Due: eslint --fix, prettier --write

feat: ship proposal engine and fix live SPA loading fallback
  Frontend/public/llms.txt
  Frontend/public/readable-site.json
  Frontend/public/sw.js
  Frontend/src/App.jsx
  Frontend/src/components/Layout.jsx
  Frontend/src/config/publicRoutes.js
  Frontend/src/lib/api.js
  Frontend/src/pages/HomePage.css
  Frontend/src/pages/HomePage.jsx
  Frontend/src/pages/ProposalDetailPage.jsx
  Frontend/src/pages/ProposalEngine.css
  Frontend/src/pages/ProposalsPage.jsx
  Frontend/src/pages/SubmitProposalPage.jsx
  Frontend/vercel.json
  backend/api/index.js
  backend/middleware/verifiedCitizenOnly.js
  backend/models/Proposal.js
  backend/routes/proposals.js
  backend/seed.js
  vercel.json
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

fix: resolve CI build failures by removing empty vite.config file
  Frontend/vite.config
Due: none

fix: resolve CI pipeline failures with env var fallbacks
  .github/workflows/frontend.yml
  Frontend/vite.config
Due: prettier --write

ci: add build output verification for debugging
  .github/workflows/frontend.yml
Due: prettier --write

ci: add env var fallbacks and build verification step
  .github/workflows/frontend.yml
Due: prettier --write

fix: add missing VITE_FEDERATION_ENABLED env var to CI build
  .github/workflows/frontend.yml
Due: prettier --write

fix: properly resolve env vars with fallbacks using GITHUB_ENV
  .github/workflows/frontend.yml
Due: prettier --write

fix: use step outputs for env vars to ensure fallbacks work correctly
  .github/workflows/frontend.yml
Due: prettier --write

fix: hardcode required env vars for CI build
  .github/workflows/frontend.yml
Due: prettier --write

ci: add verbose output to debug build failure
  .github/workflows/frontend.yml
Due: prettier --write

fix: upgrade Node.js to v24 in CI workflow to match local environment
  .github/workflows/frontend.yml
Due: prettier --write

ci: bypass npm scripts and run vite build directly
  .github/workflows/frontend.yml
Due: prettier --write

ci: add explicit prebuild step with verbose output
  .github/workflows/frontend.yml
Due: prettier --write

ci: add comprehensive error reporting to build step
  .github/workflows/frontend.yml
Due: prettier --write

fix: simplify CI build and add missing VITE env vars
  .github/workflows/frontend.yml
Due: prettier --write
