Repository PVAGR/pva-bazaar-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js, forge fmt, sort-package-json

fix(OpenClawTab): move loadStatus before saveRuntimeConfig to fix TDZ crash
  Frontend/src/components/OpenClawTab.jsx
Due: eslint --fix, prettier --write

feat(solana): server-side direct SOL transfer + hot wallet balance
  Frontend/src/components/PayoutTab.css
  Frontend/src/components/PayoutTab.jsx
  Frontend/src/lib/api.js
  backend/.env.example
  backend/routes/solana.js
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

fix(openclaw): harden message rendering against malformed payloads
  Frontend/src/components/OpenClawTab.jsx
Due: eslint --fix, prettier --write

feat(payouts): add one-click transfer readiness checker in admin UI
  Frontend/src/components/PayoutTab.css
  Frontend/src/components/PayoutTab.jsx
  Frontend/src/lib/api.js
  backend/routes/solana.js
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

feat(payouts): add go-live quick actions and devnet airdrop helper
  Frontend/src/components/PayoutTab.jsx
  Frontend/src/lib/api.js
  backend/routes/solana.js
Due: eslint --fix, prettier --write

feat(payouts): add one-click guided test flow for direct SOL transfer
  Frontend/src/components/PayoutTab.jsx
  Frontend/src/lib/api.js
  backend/routes/solana.js
Due: eslint --fix, prettier --write

feat(payouts): add safe-mode guardrails, retry, and receipt history
  Frontend/src/components/PayoutTab.css
  Frontend/src/components/PayoutTab.jsx
  backend/routes/solana.js
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

feat(payouts-ui): add live control ribbon with repair guidance
  Frontend/src/components/PayoutTab.css
  Frontend/src/components/PayoutTab.jsx
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

feat(payouts-ui): add Autopilot one-click execution in control ribbon
  Frontend/src/components/PayoutTab.css
  Frontend/src/components/PayoutTab.jsx
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

feat(openclaw): add website-managed autonomous runtime controls
  Frontend/src/components/OpenClawTab.css
  Frontend/src/components/OpenClawTab.jsx
  backend/models/AdminRuntimeConfig.js
  backend/routes/admin.js
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

feat(openclaw+payouts): add heartbeat telemetry and autopilot run history
  Frontend/src/components/OpenClawTab.jsx
  Frontend/src/components/PayoutTab.jsx
  Frontend/src/lib/api.js
  backend/routes/solana.js
Due: eslint --fix, prettier --write

feat(ops): add OpenClaw self-heal and payout anomaly alerts
  Frontend/src/components/OpenClawTab.jsx
  Frontend/src/components/PayoutTab.css
  Frontend/src/components/PayoutTab.jsx
  backend/routes/openclaw.js
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

feat(admin): add ops cockpit and openclaw auto-heal watchdog
  Frontend/src/components/DashboardTab.css
  Frontend/src/components/DashboardTab.jsx
  Frontend/src/components/OpenClawTab.css
  Frontend/src/components/OpenClawTab.jsx
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

feat(ops): add dashboard recovery action and openclaw recovery history
  Frontend/src/components/DashboardTab.css
  Frontend/src/components/DashboardTab.jsx
  Frontend/src/components/OpenClawTab.css
  Frontend/src/components/OpenClawTab.jsx
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

feat(dashboard): add live deployment workflow status panel
  Frontend/src/components/DashboardTab.css
  Frontend/src/components/DashboardTab.jsx
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

feat(ops): add deploy success/failure badges and incident timeline
  Frontend/src/components/DashboardTab.css
  Frontend/src/components/DashboardTab.jsx
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

feat(ops): add critical incident filter and operator checklist
  Frontend/src/components/DashboardTab.css
  Frontend/src/components/DashboardTab.jsx
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

fix(openclaw): allow safe unauth recent-events for monitors and CI
  backend/routes/openclaw.js
Due: eslint --fix, prettier --write

ci(backend): stabilize tests job and reduce non-blocking scanner noise
  .github/workflows/backend.yml
Due: prettier --write

feat(ops): add incident dismiss controls and checklist drill-downs
  Frontend/src/components/DashboardTab.css
  Frontend/src/components/DashboardTab.jsx
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

ci(backend): make deploy stages non-blocking in backend workflow
  .github/workflows/backend.yml
Due: prettier --write

fix(payout): align Solana fallback policy to 5-50000 defaults
  backend/routes/solana.js
Due: eslint --fix, prettier --write

feat(payout): add quick 5 USD guided send action
  Frontend/src/components/PayoutTab.jsx
Due: eslint --fix, prettier --write

fix(admin): recover cleanly from expired sessions and sync auth state
  Frontend/src/components/SettingsTab.jsx
  Frontend/src/lib/axios.js
  Frontend/src/pages/AdminPage.jsx
  Frontend/src/pages/LoginPage.jsx
  Frontend/src/pages/RegisterPage.jsx
Due: eslint --fix, prettier --write

chore(frontend): sync lockfile for ci installs
  Frontend/package-lock.json
Due: prettier --write

ci(frontend): fall back when npm ci lock drift occurs
  .github/workflows/deploy-frontend.yml
  .github/workflows/deploy-to-github-pages.yml
  .github/workflows/frontend.yml
Due: prettier --write

ci(frontend): upgrade pages actions to supported versions
  .github/workflows/frontend.yml
Due: prettier --write

fix(backend): add solana web3 dependency for payout routes
  backend/package-lock.json
  backend/package.json
Due: prettier --write, sort-package-json

fix(backend): honor payout network when choosing solana rpc
  backend/routes/solana.js
Due: eslint --fix, prettier --write

feat(payouts): add one-click network switching for live rails
  Frontend/src/components/PayoutTab.css
  Frontend/src/components/PayoutTab.jsx
  backend/routes/solana.js
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

feat(openclaw): Creator-God override, memory, marketplace snapshot, QoL
  .github/scripts/openclaw-respond.mjs
  Frontend/src/components/OpenClawTab.css
  Frontend/src/components/OpenClawTab.jsx
  backend/models/OpenClawAgentConfig.js
  backend/models/OpenClawMemory.js
  backend/routes/openclaw.js
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

feat(openclaw): add live chat endpoint and mission control UI
  Frontend/src/components/OpenClawTab.css
  Frontend/src/components/OpenClawTab.jsx
  OPENCLAW_INTEGRATION.md
  backend/routes/openclaw.js
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

fix: replace deprecated artifacts docs endpoint refs
  Frontend/src/components/ApiDocsTab.jsx
Due: eslint --fix, prettier --write

fix(health): expose legacyMode in health response
  backend/routes/health.js
Due: eslint --fix, prettier --write

feat(phase6): royalty tracking dashboard & analytics
  Frontend/package.json
  Frontend/src/App.jsx
  Frontend/src/components/Layout.jsx
  Frontend/src/lib/api.js
  Frontend/src/pages/CreatorDashboard.css
  Frontend/src/pages/CreatorDashboard.jsx
  package-lock.json
  server/db.js
  server/index.js
  server/package.json
  server/royaltyTracker.js
  server/scripts/phase6-smoke.js
  server/syncEngine.js
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js, sort-package-json

feat(phase7a): admin royalty analytics tab
  Frontend/src/components/AdminTabs.jsx
  Frontend/src/components/RoyaltyAnalyticsTab.css
  Frontend/src/components/RoyaltyAnalyticsTab.jsx
  Frontend/src/lib/api.js
  Frontend/src/pages/AdminPage.jsx
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

feat(phase7b): in-app notification system
  Frontend/src/components/Layout.jsx
  Frontend/src/components/NotificationBell.css
  Frontend/src/components/NotificationBell.jsx
  Frontend/src/lib/api.js
  server/db.js
  server/index.js
  server/notificationService.js
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

feat(phase7c): unified discovery search for entries and artifacts
  Frontend/src/lib/api.js
  Frontend/src/pages/SearchPage.css
  Frontend/src/pages/SearchPage.jsx
  backend/routes/search.js
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

feat(phase7d): finalize checkout to mint/sync on success redirect
  Frontend/src/lib/api.js
  Frontend/src/pages/CheckoutSuccessPage.jsx
  backend/routes/checkout.js
  backend/routes/webhooksStripe.js
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,yml,yaml,md})) or (any of: *.{css,scss})
  node qa/scripts/check-brand-tokens.js: any of: *.{css,scss}
  forge fmt: any of: apps/contracts/**/*.sol
  sort-package-json: any of: package.json
