Repository PVAGR/pva-bazaar-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js, forge fmt, sort-package-json

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,yml,yaml,md}": [
    "prettier --write"
  ],
  "*.{css,scss}": [
    "prettier --write",
    "node qa/scripts/check-brand-tokens.js"
  ],
  "apps/contracts/**/*.sol": [
    "forge fmt"
  ],
  "package.json": [
    "sort-package-json"
  ]
}

feat: add production environment setup script and configuration
  setup-production.ps1
Due: none

docs: add final deployment status with generated secrets
  DEPLOYMENT_FINAL_STATUS.md
Due: prettier --write

chore: add production setup scripts and final configuration checklist
  PRODUCTION_SETUP_CHECKLIST.md
  backend/.env.prod-backup
  setup-production.sh
Due: prettier --write

docs: add quick reference production ready document
  READY_FOR_PRODUCTION.md
Due: prettier --write

feat: add vercel.json with production environment configuration
  pvabazaar-livestream/vercel.json
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

update
  CONTINUATION_PLAN_CORRECTED.md
  Frontend/src/App.jsx
  Frontend/src/components/Layout.jsx
  backend/.env.example
  backend/api/index.js
  backend/package.json
  backend/routes/items.js
Due: eslint --fix, prettier --write, sort-package-json

chore: update project configuration and documentation for improved clarity
  PHASE1_COMPLETE.md
  PHASE2_COMPLETE.md
Due: prettier --write

chore: refine project configuration and enhance documentation for better usability
  Frontend/src/pages/OracleAssessmentPage.jsx
  backend/routes/oracle.js
Due: eslint --fix, prettier --write

chore: enhance project configuration and update documentation for improved usability
  backend/PHASE1_TEST_INSTRUCTIONS.md
  backend/models/OracleAssessment.js
Due: eslint --fix, prettier --write

chore: further refine project configuration and update documentation for enhanced clarity and usability
  backend/service/emailService.js
  backend/service/oracleAI.js
Due: eslint --fix, prettier --write

feat: stabilize marketplace and platform core flows
  .husky/pre-commit
  Frontend/package.json
  Frontend/src/App.jsx
  Frontend/src/components/Layout.jsx
  Frontend/src/lib/api.js
  Frontend/src/pages/ArchiveLibraryPage.css
  Frontend/src/pages/ListItemPage.css
  Frontend/src/pages/ListItemPage.jsx
  Frontend/src/pages/MarketplacePage.css
  Frontend/src/pages/MarketplacePage.jsx
  ROLL_OUT_PHASES.md
  backend/lib/itemNormalize.js
  backend/models/PartnerSubmission.js
  backend/package.json
  backend/routes/items.js
  backend/routes/market.js
  backend/routes/partners.js
  backend/routes/streams.js
  backend/scripts/smoke-core-flows.js
  backend/service/emailService.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js, sort-package-json

fix: make smoke hook cross-environment stable
  package.json
Due: prettier --write, sort-package-json

chore: strengthen smoke verification and frontend runtime stability
  Frontend/src/lib/api.js
  Frontend/status.html
  backend/scripts/smoke-core-flows.js
  package.json
Due: eslint --fix, prettier --write, sort-package-json

fix: de-duplicate health metadata endpoints
  backend/api/index.js
  backend/scripts/smoke-core-flows.js
Due: eslint --fix, prettier --write

fix: serve frontend and api from root vercel config
  vercel.json
Due: prettier --write

chore: modernize production verification and redact docs
  PRODUCTION_READINESS_REPORT.md
  package.json
  scripts/verify-prod.mjs
Due: prettier --write, sort-package-json

fix: make prod verifier match live deployment variants
  scripts/verify-prod.mjs
Due: none

chore: expose legacy mode in health and align verifiers
  backend/api/index.js
  backend/scripts/smoke-core-flows.js
  scripts/verify-prod.mjs
Due: eslint --fix, prettier --write

fix: validate deployed runtime api base directly
  scripts/verify-prod.mjs
Due: none

chore: publish health mode flags and soften verifier unknowns
  backend/routes/health.js
  scripts/verify-prod.mjs
Due: eslint --fix, prettier --write

chore: align version endpoint contracts
  backend/api/index.js
  backend/routes/health.js
  backend/scripts/smoke-core-flows.js
Due: eslint --fix, prettier --write

chore: add deploy parity signal to prod verifier
  scripts/verify-prod.mjs
Due: none

fix: normalize frontend apiFetch paths against api base
  Frontend/src/lib/api.js
Due: eslint --fix, prettier --write

chore: add live deploy parity wait command
  package.json
  scripts/wait-prod-deploy.mjs
Due: prettier --write, sort-package-json

feat: add one-command live connectivity readiness check
  package.json
  scripts/verify-live-ready.mjs
Due: prettier --write, sort-package-json

feat: add strict mode for live readiness gating
  package.json
  scripts/verify-live-ready.mjs
Due: prettier --write, sort-package-json

ci: add automated live readiness workflow
  .github/workflows/live-readiness.yml
Due: prettier --write

ci: restore automated frontend/backend deployment paths
  .github/workflows/deploy-backend-live.yml
  .github/workflows/deploy.yml
Due: prettier --write

ci: unblock deploy pipelines at install step
  .github/workflows/deploy-backend-live.yml
  .github/workflows/deploy.yml
Due: prettier --write

ci: add backend deploy preflight secret validation
  .github/workflows/deploy-backend-live.yml
Due: prettier --write

ci: remove unnecessary local install from backend deploy
  .github/workflows/deploy-backend-live.yml
Due: prettier --write

chore: harden live rollout and secret hygiene
  .github/workflows/deploy-backend-live.yml
  .github/workflows/deploy-backend.yml
  404.html
  GLOBAL_VERIFICATION_CHECKLIST.md
  QUICK_TEST.md
  STEP_BY_STEP_MOBILE_FIX.md
  VERCEL_ENV_CHECKLIST.md
  VERIFICATION_CHECKLIST.md
  assets/main-BA_WjhAs.css
  assets/main-BE_pv7pm.js
  backend/.env.example
  backend/.env.prod-backup
  backend/.env.production
  backend/models/Artifact.js
  backend/models/DecentralizedIdentity.js
  backend/models/Order.js
  backend/models/StripeEventLog.js
  backend/scripts/smoke-core-flows.js
  index.html
  scripts/verify-live-ready.mjs
  test-connection.js
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

ci: broaden backend vercel secret fallbacks
  .github/workflows/deploy-backend-live.yml
  .github/workflows/deploy-backend.yml
Due: prettier --write

fix: resolve vercel config functions/builds conflict
  vercel.json
Due: prettier --write

feat: add livestream manager UI
  Frontend/src/App.jsx
  Frontend/src/lib/axios.js
  Frontend/src/pages/AdminPage.jsx
  Frontend/src/pages/StreamsPage.css
  Frontend/src/pages/StreamsPage.jsx
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

ci: replace npm ci with npm install in frontend workflow
  .github/workflows/frontend.yml
Due: prettier --write

ci: update deprecated artifact actions and fix gitleaks workflow
  .github/workflows/frontend.yml
  .github/workflows/quality-gates.yml
  .github/workflows/secret-scan.yml
  .github/workflows/security-audit.yml
Due: prettier --write

fix: make admin token compatible with streams and restyle streams UI
  Frontend/src/pages/StreamsPage.css
  Frontend/src/pages/StreamsPage.jsx
  backend/routes/admin.js
  backend/routes/adminLogin.js
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

feat: add Deals foundation (payments, milestones, messages)
  Frontend/src/App.jsx
  Frontend/src/pages/AdminPage.jsx
  Frontend/src/pages/DealsPage.css
  Frontend/src/pages/DealsPage.jsx
  backend/api/index.js
  backend/models/Deal.js
  backend/routes/deals.js
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js
