Repository PVAGR/pva-bazaar-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js, forge fmt, sort-package-json

fix: align live verifiers to serverless contract, add sanctuary project (#56)
  .github/workflows/temp-create-sanctuary-project.yml
  scripts/verify-frontend-routes-live.mjs
  scripts/verify-live-decentralized.mjs
Due: prettier --write

fix: pass Vercel secrets to sanctuary validate step
  .github/workflows/deploy-sanctuary.yml
Due: prettier --write

fix: pass Vercel secrets to sanctuary validate step (#57)
  .github/workflows/deploy-sanctuary.yml
Due: prettier --write

fix: deploy sanctuary via remote Vercel build
  .github/workflows/deploy-sanctuary.yml
Due: prettier --write

fix: deploy sanctuary via remote Vercel build (#58)
  .github/workflows/deploy-sanctuary.yml
Due: prettier --write

fix: run sanctuary deploy from repo root
  .github/workflows/deploy-sanctuary.yml
Due: prettier --write

fix: run sanctuary deploy from repo root (#59)
  .github/workflows/deploy-sanctuary.yml
Due: prettier --write

fix: unset sanctuary rootDirectory, deploy from app dir
  .github/workflows/deploy-sanctuary.yml
Due: prettier --write

fix: unset sanctuary rootDirectory, deploy from app dir (#60)
  .github/workflows/deploy-sanctuary.yml
Due: prettier --write

chore: remove temp sanctuary project workflow
  .github/workflows/temp-create-sanctuary-project.yml
Due: prettier --write

chore: remove temp sanctuary project workflow (#61)
  .github/workflows/temp-create-sanctuary-project.yml
Due: prettier --write

feat(books): add admin delete button to published bookshelf
  Frontend/src/pages/BookShelfPage.jsx
  backend/routes/bookPublishing.js
Due: eslint --fix, prettier --write

fix(api): add missing /api/items route to serverless
  backend/api/index-serverless.js
Due: eslint --fix, prettier --write

fix(api): add missing auth, governance, blockchain, dashboard routes
  backend/api/index-serverless.js
Due: eslint --fix, prettier --write

feat: partners admin panel, email delivery status, SEO polish
  Frontend/src/components/AdminTabs.jsx
  Frontend/src/components/PartnersAdminTab.css
  Frontend/src/components/PartnersAdminTab.jsx
  Frontend/src/pages/AdminPage.jsx
  Frontend/src/pages/ReferralPage.jsx
  apps/pva-bazaar-web/src/app/partners/layout.tsx
  apps/pva-bazaar-web/src/app/referrals/layout.tsx
  apps/pva-bazaar-web/src/app/referrals/page.tsx
  apps/pva-bazaar-web/src/app/sitemap.ts
  backend/routes/referrals.js
  backend/services/referralService.js
  qa/reports/vitest-results.json
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

feat: richer referral dashboard — clicks, conversion, payout history
  Frontend/src/components/ReferralTab.jsx
  Frontend/src/pages/ReferralPage.css
  Frontend/src/pages/ReferralPage.jsx
  apps/pva-bazaar-web/src/app/referrals/page.tsx
  backend/routes/__tests__/referrals.test.js
  backend/routes/referrals.js
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

fix: mount missing serverless API surfaces
  backend/api/index-serverless.js
  scripts/verify-feature-surface.mjs
  scripts/verify-library-deployment.ps1
  scripts/verify-library-deployment.sh
Due: eslint --fix, prettier --write

ci(config): point quality gates at real workspace packages
  .github/workflows/quality-gates.yml
Due: prettier --write

docs(config): collapse status docs, add runbook, fix stale guides
  ARCHITECTURE.md
  CANONICAL_MAP.md
  CLAUDE.md
  RUNBOOK.md
  STATUS.md
  docs/CLEANUP-PLAN.md
  docs/history/ACTIVE_STATUS.md
  docs/history/AGENT_HANDOFF.md
  docs/history/CURRENT_STATUS.md
  docs/history/FORK.md
  docs/history/MAGNUM_OPUS.md
  docs/history/PLAN-multi-format-upload.md
  docs/history/ROADMAP.md
  docs/history/SELF_HOSTING.md
  qa/reports/vitest-results.json
  readme.md
Due: prettier --write

build(config): prune dead and duplicate npm scripts
  .dockerignore
  Dockerfile
  docker-compose.clean.yml
  docker-compose.yml
  package.json
  scripts/deploy-flyio.sh
  scripts/deploy-railway.sh
  scripts/deploy-render.sh
  scripts/download-onet-jobs-skills.ps1
  scripts/one-command-deploy.sh
Due: prettier --write, sort-package-json

docs(config): merge duplicate readme into single README.md
  README.md
  readme.md
Due: prettier --write

docs(config): mark cleanup phases complete in plan
  docs/CLEANUP-PLAN.md
Due: prettier --write

feat(frontend): ui vision doc, canonical tokens, section intro
  Frontend/src/App.jsx
  Frontend/src/components/SectionIntro.css
  Frontend/src/components/SectionIntro.jsx
  Frontend/src/pages/MarketplacePage.jsx
  Frontend/src/styles/vision.css
  docs/UI-VISION.md
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

feat(frontend): rebuild home as the living bazaar front door
  Frontend/src/pages/HomePage.jsx
  Frontend/src/styles/vision.css
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

feat(frontend): marketplace and archive brand restyle
  Frontend/src/styles/vision.css
  docs/UI-VISION.md
Due: prettier --write, node qa/scripts/check-brand-tokens.js

feat(frontend): books page shelf restyle
  Frontend/src/pages/BooksPage.jsx
  Frontend/src/styles/vision.css
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

feat(frontend): partnerships and get-started growth path restyle
  Frontend/src/pages/GetStartedPage.jsx
  Frontend/src/pages/PartnershipsPage.jsx
  Frontend/src/styles/vision.css
  docs/UI-VISION.md
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

feat(frontend): public verification page and provenance chips
  Frontend/src/App.jsx
  Frontend/src/lib/api.js
  Frontend/src/pages/HomePage.jsx
  Frontend/src/pages/MarketplacePage.jsx
  Frontend/src/pages/VerificationPage.css
  Frontend/src/pages/VerificationPage.jsx
  Frontend/src/styles/vision.css
  docs/UI-VISION.md
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

feat(frontend): about and contact intros, item verify action
  Frontend/src/pages/AboutPage.jsx
  Frontend/src/pages/ContactPage.jsx
  Frontend/src/pages/MarketplaceItemPage.jsx
Due: eslint --fix, prettier --write

fix(backend): mount missing serverless routes, silence 401/404 noise
  Frontend/src/components/OpenClawFloatingAssistant.jsx
  Frontend/src/pages/BookShelfPage.jsx
  Frontend/src/pages/PartnersPage.jsx
  Frontend/src/pages/RecoveryPage.jsx
  backend/api/index-serverless.js
Due: eslint --fix, prettier --write

fix(frontend): route rebuilt home, gate guest calls, placeholder
  Frontend/public/placeholder.png
  Frontend/src/App.jsx
  Frontend/src/lib/api.js
  Frontend/src/pages/FederationMapPage.jsx
Due: eslint --fix, prettier --write

fix(backend): mount proposals route in serverless bundle
  backend/api/index-serverless.js
Due: eslint --fix, prettier --write

fix(backend): mount proposals router at api root
  backend/api/index-serverless.js
Due: eslint --fix, prettier --write

fix(frontend): declare svg favicon to end 404 probe
  Frontend/index.html
Due: none

fix(backend): generate unique serial and slug for user listings
  backend/routes/items.js
Due: eslint --fix, prettier --write

fix(backend): stop subdoc spread from nuking provenance subobjects
  backend/__tests__/items-register.test.js
  backend/routes/items.js
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,yml,yaml,md})) or (any of: *.{css,scss})
  node qa/scripts/check-brand-tokens.js: any of: *.{css,scss}
  forge fmt: any of: apps/contracts/**/*.sol
  sort-package-json: any of: package.json
