Repository PVAGR/pva-bazaar-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js, forge fmt, sort-package-json

Unblock backend deploy workflow
  .github/workflows/deploy-backend-live.yml
  CHANGELOG.md
  CURRENT_STATUS.md
Due: prettier --write

Add multi-host backend failover
  CHANGELOG.md
  CURRENT_STATUS.md
  Frontend/src/config/env.ts
  Frontend/src/lib/api.js
  Frontend/src/lib/apiBase.js
  Frontend/src/lib/axios.js
  backend/api/index.js
  backend/lib/mongoConnection.js
  backend/package.json
  backend/server.js
Due: eslint --fix, prettier --write, sort-package-json

Note live Render backend is still stale
  CURRENT_STATUS.md
Due: prettier --write

Fix invisible login button contrast
  Frontend/src/styles/admin-common.css
Due: prettier --write, node qa/scripts/check-brand-tokens.js

Improve auth visibility and local fallback
  Frontend/src/lib/localAuthVault.js
  Frontend/src/pages/LoginPage.css
  Frontend/src/pages/LoginPage.jsx
  Frontend/src/pages/RegisterPage.css
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

Simplify sign-in and persist shared auth store
  CHANGELOG.md
  CURRENT_STATUS.md
  Frontend/src/hooks/useConnectionMode.js
  Frontend/src/pages/AccountPage.jsx
  Frontend/src/pages/LoginPage.jsx
  Frontend/src/pages/RegisterPage.jsx
  Frontend/src/pages/WritingStudioPage.jsx
  backend/api/index.js
  backend/lib/mockUserStore.js
  backend/routes/health-check.js
  backend/routes/health.js
Due: eslint --fix, prettier --write

Support DOCX manuscript uploads
  CHANGELOG.md
  CURRENT_STATUS.md
  Frontend/src/pages/BookPublishingPage.css
  Frontend/src/pages/BookPublishingPage.jsx
  backend/package-lock.json
  backend/package.json
  backend/routes/bookPublishing.js
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js, sort-package-json

Accept PDF and DOCX manuscripts
  CHANGELOG.md
  CURRENT_STATUS.md
  Frontend/src/pages/BookPublishingPage.css
  Frontend/src/pages/BookPublishingPage.jsx
  backend/package-lock.json
  backend/package.json
  backend/routes/bookPublishing.js
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js, sort-package-json

Make manuscript picker mobile-visible
  CHANGELOG.md
  CURRENT_STATUS.md
  Frontend/src/pages/BookPublishingPage.css
  Frontend/src/pages/BookPublishingPage.jsx
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

Add file-backed book publishing fallback
  CHANGELOG.md
  CURRENT_STATUS.md
  Frontend/src/lib/api.js
  backend/lib/bookProjectStore.js
  backend/routes/bookPublishing.js
  backend/routes/health-check.js
  backend/routes/health.js
Due: eslint --fix, prettier --write

Extract DOCX in browser and add local book fallback
  CHANGELOG.md
  CURRENT_STATUS.md
  Frontend/package.json
  Frontend/src/lib/localBookVault.js
  Frontend/src/pages/BookPublishingPage.jsx
  Frontend/src/pages/BookReaderPage.jsx
  Frontend/src/pages/BookShelfPage.jsx
  package-lock.json
Due: eslint --fix, prettier --write, sort-package-json

Update AdminPage styling and add BookHomePage
  Frontend/src/base.css
  Frontend/src/components/AdminTabs.css
  Frontend/src/pages/AdminPage.css
  Frontend/src/pages/AdminPage.jsx
  Frontend/src/pages/BookHomePage.jsx
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

fix: consolidate AdminPage.css — remove duplicate conflicting style rules
  Frontend/src/pages/AdminPage.css
Due: prettier --write, node qa/scripts/check-brand-tokens.js

fix: make .layout full-width — remove 1240px-centered box constraint that broke all pages
  Frontend/src/base.css
Due: prettier --write, node qa/scripts/check-brand-tokens.js

fix: prevent admin from being logged out during session
  Frontend/src/lib/axios.js
  Frontend/src/pages/AdminPage.jsx
  readme.md
Due: eslint --fix, prettier --write

fix: handle localStorage quota exceeded in localBookVault with automatic image stripping
  Frontend/src/lib/localBookVault.js
  Frontend/src/pages/BookPublishingPage.jsx
Due: eslint --fix, prettier --write

feat: redesign homepage - prominent 4-category grid with clear hierarchy
  Frontend/src/pages/OpeningHomePage.css
  Frontend/src/pages/OpeningHomePage.jsx
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

feat: trim nav to 5 clear items - Archive, Books, Marketplace, HeelKawn, About
  Frontend/src/config/publicRoutes.js
Due: eslint --fix, prettier --write

feat: restructure footer into 3 columns + remove intent chooser panel
  Frontend/src/components/Layout.jsx
Due: eslint --fix, prettier --write

feat: replace jargon route labels with human badge labels
  Frontend/src/components/Layout.jsx
Due: eslint --fix, prettier --write

feat: suppress route identity panel on homepage
  Frontend/src/components/Layout.jsx
Due: eslint --fix, prettier --write

feat: replace debug-style header status bar with real user controls
  Frontend/src/components/Layout.jsx
Due: eslint --fix, prettier --write

feat: remove orphaned/peripheral routes from nav traversal
  Frontend/src/config/publicRoutes.js
Due: eslint --fix, prettier --write

feat: clarify get-started route + remove duplicate root-home entry
  Frontend/src/config/publicRoutes.js
Due: eslint --fix, prettier --write

fix: convert localBookVault.js from mixed CJS/ESM to pure ESM
  Frontend/src/lib/localBookVault.js
Due: eslint --fix, prettier --write

fix: restore gitleaks.toml, fix Node 24 secret-scan, kill bounty-hunter crons
  .github/workflows/bounty-money-run-b.yml
  .github/workflows/bounty-money-run.yml
  .github/workflows/bounty-scan.yml
  .github/workflows/secret-scan.yml
  gitleaks.toml
Due: prettier --write

fix: gitleaks scan working tree only, skip 1304-commit history
  .github/workflows/secret-scan.yml
Due: prettier --write

fix: gitleaks report findings without failing CI
  .github/workflows/secret-scan.yml
Due: prettier --write

fix: simplify gitleaks workflow YAML - remove problematic embedded python
  .github/workflows/secret-scan.yml
Due: prettier --write

chore: delete deploy-railway.yml - Railway not in use
  .github/workflows/deploy-railway.yml
Due: prettier --write

fix: point live-map.json to active Render backend
  Frontend/public/live-map.json
Due: prettier --write

fix: update yaml, yauzl, and vitest to address security vulnerabilities
  package-lock.json
Due: prettier --write

fix: update security packages
  package-lock.json
Due: prettier --write

chore: update React to 19, TypeScript to 6, and Vite to 8
  Frontend/package.json
  apps/pva-bazaar-web/package.json
  apps/web-com/package.json
  backend/package.json
  package-lock.json
  package.json
  packages/ui/package.json
  qa/reports/vitest-results.json
Due: prettier --write, sort-package-json

refactor: remove TODO comments from backend code
  backend/routes/admin-dashboard.js
  backend/routes/agent.js
  backend/routes/pricingLookup.js
  backend/routes/votingAuth.js
  backend/services/paymentSplitService.js
  backend/services/provenanceService.js
  backend/services/reclaimVerificationService.js
Due: eslint --fix, prettier --write

fix: replace TODO status with OPEN in Dework GraphQL query
  backend/service/bountyHunter.js
Due: eslint --fix, prettier --write

Make book publishing local-first
  CHANGELOG.md
  Frontend/src/pages/BookPublishingPage.jsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,yml,yaml,md})) or (any of: *.{css,scss})
  node qa/scripts/check-brand-tokens.js: any of: *.{css,scss}
  forge fmt: any of: apps/contracts/**/*.sol
  sort-package-json: any of: package.json
