Repository PVAGR/pva-bazaar-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js, forge fmt, sort-package-json

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,yml,yaml,md}": [
    "prettier --write"
  ],
  "*.{css,scss}": [
    "prettier --write",
    "node qa/scripts/check-brand-tokens.js"
  ],
  "apps/contracts/**/*.sol": [
    "forge fmt"
  ],
  "package.json": [
    "sort-package-json"
  ]
}

feat(frontend): add admin blogs and comments pages
  Frontend/dist/index.html
  Frontend/index.html
  Frontend/public/admin-blogs.html
  Frontend/public/admin-comments.html
  Frontend/public/new-post.html
  README.md
  backend/.env.example
  backend/api/index.js
  backend/routes/comments.js
  backend/seed.js
  backend/vercel.json
  docker-compose.clean.yml
  docker-compose.yml
  gitleaks-report.json
  run-app.sh
  scripts/smoke-test.sh
  scripts/stage2-fix-env.sh
  test-apis.js
  tsconfig.json
Due: eslint --fix, prettier --write

fix(frontend): new-post supports admin fallback
  Frontend/public/new-post.html
  tsconfig.tsbuildinfo
Due: none

fix(frontend): blogs page supports admin fallback for publishing
  Frontend/public/blogs.html
Due: none

fix(compat): restore legacy frontend folder and add /frontend/* rewrites
  Frontend/vercel.json
  frontend/biography/index.html
  frontend/i
  frontend/index.html
  frontend/legacy/_redirects
  frontend/legacy/api/health.js
  frontend/legacy/api/health.json
  frontend/legacy/js/api.js
  frontend/legacy/js/index-data.js
  frontend/legacy/pages/portfolio.html
  frontend/legacy/pages/productshowcase.html
  frontend/legacy/status.html
  frontend/legacy/writings/aetherzamin.html
  frontend/legacy/writings/akashic-records.html
  frontend/legacy/writings/amnesia-consciousness.html
  frontend/legacy/writings/balance.html
  frontend/legacy/writings/divine-duality.html
  frontend/legacy/writings/eden-theory.html
  frontend/legacy/writings/eternal-renewal.html
  frontend/legacy/writings/kenya-initiative.html
  frontend/legacy/writings/oracle-assessment.html
  frontend/legacy/writings/personal-chronicle.html
  frontend/legacy/writings/personal-reflections.html
  frontend/legacy/writings/pilgrimage.html
  frontend/legacy/writings/pura-vida.html
  frontend/legacy/writings/pva-archive.html
  frontend/legacy/writings/pva-business-model.html
  frontend/legacy/writings/pva-food.html
  frontend/legacy/writings/sacred-cannabis.html
  frontend/legacy/writings/sacred-texts.html
  frontend/legacy/writings/stream.html
  frontend/legacy/writings/this-or-that.html
  frontend/novel/index.html
  frontend/public/css/pva-nav.css
  frontend/public/js/pva-nav.js
  frontend/research/index.html
  frontend/status.html
  frontend/writings/pva-archive.html
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

docs(ci): add Perplexity prompt for GitHub Pages optimization
  Frontend/dist/admin-blogs.html
  Frontend/dist/admin-comments.html
  Frontend/dist/blog.html
  Frontend/dist/blogs.html
  Frontend/dist/new-post.html
  Frontend/dist/public/admin-blogs.html
  Frontend/dist/public/admin-comments.html
  Frontend/dist/public/blog.html
  Frontend/dist/public/blogs.html
  Frontend/dist/public/new-post.html
  LLM_PROMPT_PAGES.md
Due: prettier --write

feat(frontend): SEO hardening for GitHub Pages (canonical, robots.txt, sitemap, 404)\n\nchore: remove in-repo LLM prompt per user request
  Frontend/index.html
  Frontend/public/404.html
  Frontend/public/robots.txt
  Frontend/public/sitemap.xml
  LLM_PROMPT_PAGES.md
Due: prettier --write

ci(pages): bypass Husky during CI npm ci for Frontend
  .github/workflows/deploy.yml
Due: prettier --write

ci(pages): fix Frontend build by using npm install (no package-lock)
  .github/workflows/deploy.yml
Due: prettier --write

ci(pages): use Node 20 and ignore lifecycle scripts during npm install for workspace safety
  .github/workflows/deploy.yml
Due: prettier --write

content(writings): add missing entry pages for journal links
  Frontend/writings/eternal-renewal.html
  Frontend/writings/kenya-initiative.html
  Frontend/writings/oracle-assessment.html
  Frontend/writings/personal-chronicle.html
  Frontend/writings/pva-business-model.html
  Frontend/writings/sacred-cannabis.html
  Frontend/writings/stream.html
Due: none

build(frontend): add 404.html fallback for SPA routing on GitHub Pages
  Frontend/scripts/copy-src-to-dist.cjs
Due: none

Clean rebuild: add cache-busting to index, rebuild writings, remove stale dist
  Frontend/scripts/copy-src-to-dist.cjs
Due: none

Complete rebuild: remove old marketplace content, whitelist public assets, journal-only dist
  Frontend/public/admin-blogs.html
  Frontend/public/admin-comments.html
  Frontend/public/blog.html
  Frontend/public/blogs.html
  Frontend/public/comments.html
  Frontend/public/legacy/i
  Frontend/public/legacy/legacy/_redirects
  Frontend/public/legacy/legacy/api/health.js
  Frontend/public/legacy/legacy/api/health.json
  Frontend/public/legacy/legacy/js/api.js
  Frontend/public/legacy/legacy/js/index-data.js
  Frontend/public/legacy/legacy/pages/portfolio.html
  Frontend/public/legacy/legacy/pages/productshowcase.html
  Frontend/public/legacy/legacy/status.html
  Frontend/public/legacy/legacy/writings/aetherzamin.html
  Frontend/public/legacy/legacy/writings/akashic-records.html
  Frontend/public/legacy/legacy/writings/amnesia-consciousness.html
  Frontend/public/legacy/legacy/writings/balance.html
  Frontend/public/legacy/legacy/writings/divine-duality.html
  Frontend/public/legacy/legacy/writings/eden-theory.html
  Frontend/public/legacy/legacy/writings/eternal-renewal.html
  Frontend/public/legacy/legacy/writings/kenya-initiative.html
  Frontend/public/legacy/legacy/writings/oracle-assessment.html
  Frontend/public/legacy/legacy/writings/personal-chronicle.html
  Frontend/public/legacy/legacy/writings/personal-reflections.html
  Frontend/public/legacy/legacy/writings/pilgrimage.html
  Frontend/public/legacy/legacy/writings/pura-vida.html
  Frontend/public/legacy/legacy/writings/pva-archive.html
  Frontend/public/legacy/legacy/writings/pva-business-model.html
  Frontend/public/legacy/legacy/writings/pva-food.html
  Frontend/public/legacy/legacy/writings/sacred-cannabis.html
  Frontend/public/legacy/legacy/writings/sacred-texts.html
  Frontend/public/legacy/legacy/writings/stream.html
  Frontend/public/legacy/legacy/writings/this-or-that.html
  Frontend/public/legacy/public/css/pva-nav.css
  Frontend/public/legacy/public/js/pva-nav.js
  Frontend/public/legacy/status.html
  Frontend/public/legacy/writings/pva-archive.html
  Frontend/public/new-post.html
  Frontend/scripts/copy-src-to-dist.cjs
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

Remove root dist folder - use Frontend/dist only
  dist/i
  dist/index.html
  dist/main.css
  dist/pages/Archtype.html
  dist/pages/admin.html
  dist/pages/market.html
  dist/pages/provtrack.html
  dist/pages/provtracker.html
  dist/pages/pvashares.html
  dist/pages/welcome.html
  dist/preview-index.html
  dist/src/Components/Search.css
  dist/src/Components/Search.jsx
  dist/src/api/client.js
  dist/src/assets/services/auth.js
  dist/src/main.js
  dist/src/pages/PVA Bazaar - Shared Ownership Marketplace.js
  dist/src/pages/artifact-admin.js
  dist/src/pages/artifact.js
  dist/src/pages/checkoutmint.js
  dist/src/pages/portfolio.js
  dist/src/pages/productshowcase.js
  dist/src/pages/provenance.js
  dist/src/pages/pvadashboard.js
  dist/src/styles/main.css
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

UX: compact layout + homepage tabs + latest entries
  Frontend/dist/app.js
  Frontend/dist/assets/main-B_urcqIM.css
  Frontend/dist/assets/main-Bgzz9hqK.css
  Frontend/dist/index.html
  Frontend/dist/public/app.js
  Frontend/dist/public/styles/base.css
  Frontend/dist/public/styles/home.css
  Frontend/dist/styles/base.css
  Frontend/dist/styles/home.css
  Frontend/public/app.js
  Frontend/public/styles/base.css
  Frontend/public/styles/home.css
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

Fix: SPA-only index (remove stray static blocks)
  Frontend/dist/404.html
  Frontend/dist/index.html
  Frontend/index.html
Due: none

feat(frontend): add Journals and Admin pages; chore(scripts): Cloudflare purge helper
  Frontend/public/app.js
  scripts/README-cloudflare.md
  scripts/purge-cloudflare-cache.sh
Due: eslint --fix, prettier --write

style(ui): compact layout (720px/15.5px); feat(spa): add Writings/Biography/Novel/Research routes + Home tabs (Writings|Journals|Blogs) and denser latest entries
  Frontend/public/app.js
  Frontend/public/styles/base.css
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

chore(secrets): ignore env files; add backend .env.example + README; remove tracked env; obfuscate test key in doc
  .gitignore
  P6 integration.md
  backend/.env.example
  backend/README-SECRETS.md
Due: prettier --write

feat(spa): add category filters to Writings and Blogs pages (consistent with Journal)
  Frontend/public/app.js
Due: eslint --fix, prettier --write

feat(spa): expand sitemap (Marketplace/PVA Food/PVA Nation/Partners/Admin); add wallet connect, Mermaid diagrams, Three.js preview; update palette/typography and Home tabs
  Frontend/public/app.js
  Frontend/public/styles/base.css
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

chore(backend): env validation + API readiness guard; feat(api): add /api/partners stub endpoint
  backend/api/index.js
  backend/routes/partners.js
Due: eslint --fix, prettier --write

backend: add admin auth gate and /api/admin/status; frontend: wire AdminDashboard to check status (dev token flow)
  Frontend/public/app.js
  backend/api/index.js
  backend/middleware/adminOnly.js
  backend/routes/admin.js
Due: eslint --fix, prettier --write

dev: make readiness guard non-blocking; admin status returns OK in dev without auth
  backend/api/index.js
  backend/routes/admin.js
Due: eslint --fix, prettier --write

frontend: wire Writings/Blogs to backend pages/blogs; Biography/Novel/Research pull editable page content; Search integrates /api/search/text with fallback
  Frontend/public/app.js
Due: eslint --fix, prettier --write

frontend: add BlogDetailPage; link blogs to /blog/:slug; Marketplace pulls stats/categories/crypto from backend
  Frontend/public/app.js
Due: eslint --fix, prettier --write

frontend: add Gallery page wired to /api/artifacts; nav + route updated
  Frontend/public/app.js
Due: eslint --fix, prettier --write

frontend: add BlogEditorPage and ArtifactDetailPage; link from BlogDetail and Gallery; register routes
  Frontend/public/app.js
Due: eslint --fix, prettier --write

frontend: add BlogPublishPage and NewArtifactPage; link publish action; gallery link to new artifact; routes added
  Frontend/public/app.js
Due: eslint --fix, prettier --write

feat(journal): deploy complete app with local storage and dark mode
  Frontend/README-JOURNAL.md
  Frontend/dist/api-base.json
  Frontend/dist/app.js
  Frontend/dist/assets/main-B_urcqIM.css
  Frontend/dist/assets/main-DW2kgXnu.css
  Frontend/dist/index.html
  Frontend/dist/public/api-base.json
  Frontend/dist/public/app.js
  Frontend/dist/public/styles/base.css
  Frontend/dist/styles/base.css
  Frontend/public/api-base.json
  Frontend/public/app.js
  Frontend/scripts/copy-src-to-dist.cjs
  package-lock.json
  packages/ui/package.json
  public/api-base.json
  tsconfig.tsbuildinfo
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js, sort-package-json

feat(frontend): Phase 1 overhaul with new Home, tabs, archive
  Frontend/index.html
  Frontend/src/app.js
  Frontend/src/base.css
  Frontend/src/components/Biography.js
  Frontend/src/components/Blogs.js
  Frontend/src/components/BusinessModel.js
  Frontend/src/components/HomeTabs.js
  Frontend/src/components/Journals.js
  Frontend/src/components/MermaidDiagram.js
  Frontend/src/components/Novel.js
  Frontend/src/components/PVAFood.js
  Frontend/src/components/Research.js
  Frontend/src/components/Writings.js
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

ci: add GitHub Pages deployment workflow
  .github/workflows/deploy-frontend.yml
Due: prettier --write

feat(frontend): Phase 1 overhaul – tabs, archive, Mermaid
  Frontend/dist/404.html
  Frontend/dist/assets/main-BHQBBWA4.css
  Frontend/dist/assets/main-DW2kgXnu.css
  Frontend/dist/index.html
  Frontend/dist/src/app.js
  Frontend/dist/src/base.css
  Frontend/dist/src/components/Biography.js
  Frontend/dist/src/components/Blogs.js
  Frontend/dist/src/components/BusinessModel.js
  Frontend/dist/src/components/HomeTabs.js
  Frontend/dist/src/components/Journals.js
  Frontend/dist/src/components/MermaidDiagram.js
  Frontend/dist/src/components/Novel.js
  Frontend/dist/src/components/PVAFood.js
  Frontend/dist/src/components/Research.js
  Frontend/dist/src/components/Writings.js
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

chore: update lockfile and build info for deployment
  Frontend/package.json
  package-lock.json
  tsconfig.tsbuildinfo
Due: prettier --write, sort-package-json
