Repository PVAGR/pva-bazaar-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js, forge fmt, sort-package-json

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,yml,yaml,md}": [
    "prettier --write"
  ],
  "*.{css,scss}": [
    "prettier --write",
    "node qa/scripts/check-brand-tokens.js"
  ],
  "apps/contracts/**/*.sol": [
    "forge fmt"
  ],
  "package.json": [
    "sort-package-json"
  ]
}

feat: complete production infrastructure setup
  backend/api/index.js
  backend/docs/INTEGRATION-GUIDE.md
  backend/middleware/auth.js
  backend/middleware/errorHandler.js
  backend/middleware/validation.js
  backend/routes/admin-dashboard.js
  backend/services/cacheService.js
  backend/services/emailService.js
  backend/services/paymentService.js
  backend/services/searchService.js
Due: eslint --fix, prettier --write

chore: add test and deployment scripts to backend package.json
  backend/docs/FINAL-STATUS.md
  backend/package.json
Due: prettier --write, sort-package-json

docs: add deployment guide and status dashboard script
  backend/docs/DEPLOYMENT-GUIDE.md
Due: prettier --write

docs: add comprehensive production readme and status script
  README-PRODUCTION.md
  scripts/status-dashboard.sh
Due: prettier --write

feat: add free deployment setup (Railway, Render, Fly.io, Docker)
  .dockerignore
  .env.production.template
  DEPLOY-FREE-NOW.md
  DEPLOY-NOW.md
  DEPLOYMENT-FREE.md
  Dockerfile
  docker-compose.yml
  fly.toml
  package.json
  railway.toml
  render.yaml
  scripts/deploy-flyio.sh
  scripts/deploy-railway.sh
  scripts/deploy-render.sh
  scripts/one-command-deploy.sh
Due: prettier --write, sort-package-json

feat: implement autonomous agent system for self-maintaining platform
  backend/api/index.js
  backend/docs/AUTONOMOUS-AGENT.md
  backend/models/AgentBillingSchedule.js
  backend/models/AgentTransaction.js
  backend/models/AutonomousAgent.js
  backend/routes/autonomousAgent.js
  backend/services/autonomousEmailService.js
  backend/services/autonomousMaintenanceScheduler.js
  backend/services/autonomousPaymentService.js
Due: eslint --fix, prettier --write

docs: add autonomous agent implementation guide
  backend/docs/AUTONOMOUS-AGENT-GUIDE.md
Due: prettier --write

docs: add instant cloud deployment scripts for Railway and Fly.io
  DEPLOY-LIVE.md
  scripts/deploy-live-flyio.sh
  scripts/deploy-live-now.sh
Due: prettier --write

chore: automated deployment configuration
  AUTONOMOUSAGENT-DEPLOYMENT.md
Due: prettier --write

feat: implement autonomous agent system for self-maintaining platform
  .github/workflows/deploy-render.yml
  backend/api/index.js
  backend/routes/autonomous-agent.js
  backend/services/autonomousAgentService.js
  backend/workers/autonomousAgentScheduler.js
Due: eslint --fix, prettier --write

docs: add final deployment guide for Render + autonomous agent setup
  DEPLOY-LIVE-NOW.md
Due: prettier --write

chore: add automated go-live setup script
  scripts/go-live.sh
Due: none

chore: add render deployment config and docs
  .mcp.json
  ENV-VARIABLES-COMPLETE.md
  render.yaml
Due: prettier --write

chore: add render mcp integration and deployment automation
  scripts/deploy-now.sh
Due: none

chore: update API URL to point to Render deployment
  Frontend/src/config/env.ts
Due: eslint --fix, prettier --write

chore: add deployment configuration and automated setup scripts
  .github/workflows/deploy-railway.yml
  DEPLOY-NOW.sh
  Frontend/public/config.js
  health-check.sh
  package-lock.json
  package.json
  render-deploy-config.json
  start.js
Due: eslint --fix, prettier --write, sort-package-json

docs: add deployment readiness status script
  STATUS-READY-TO-DEPLOY.sh
Due: none

fix: repair authentication middleware imports and web3 initialization
  backend/package.json
  backend/routes/admin.js
  backend/routes/ai-help.js
  backend/routes/artifacts.js
  backend/routes/attribution.js
  backend/routes/auth.js
  backend/routes/blockchain.js
  backend/routes/databases.js
  backend/routes/deals.js
  backend/routes/did.js
  backend/routes/dpp.js
  backend/routes/fulfillment.js
  backend/routes/governance.js
  backend/routes/integrations.js
  backend/routes/items.js
  backend/routes/journal.js
  backend/routes/oauthTwitch.js
  backend/routes/oauthYouTube.js
  backend/routes/omnichannel.js
  backend/routes/oracle.js
  backend/routes/orders.js
  backend/routes/passport.js
  backend/routes/portfolio.js
  backend/routes/proposals.js
  backend/routes/sales.js
  backend/routes/streams.js
  backend/routes/transactions.js
  backend/routes/users.js
  backend/services/provenanceService.js
  package-lock.json
  start.js
Due: eslint --fix, prettier --write, sort-package-json

fix: repair authentication middleware imports and web3 initialization
  DEPLOYMENT-STATUS.md
  ENDPOINTS-TEST-AFTER-DEPLOY.md
  RENDER-DEPLOY-NOW.md
  scripts/autonomous-deploy.sh
Due: prettier --write

feat(deals): PVA flows and UI; fix invite author + dispute save
  Frontend/src/lib/api.js
  Frontend/src/pages/DealsPage.css
  Frontend/src/pages/DealsPage.jsx
  backend/models/Deal.js
  backend/routes/deals.js
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

chore: Render free API blueprint, slower crons, safer env
  .github/workflows/bounty-money-run-b.yml
  .github/workflows/bounty-money-run.yml
  .github/workflows/openclaw-agent.yml
  .github/workflows/openclaw-queue-worker.yml
  .github/workflows/openclaw-self-heal.yml
  .github/workflows/openclaw-uptime-monitor.yml
  DEPLOY-FREE-NOW.md
  render.yaml
  vercel.json
Due: prettier --write

chore: sync Render env bundle script and expand blueprint keys
  .gitignore
  DEPLOY-FREE-NOW.md
  render.yaml
  scripts/sync-render-dashboard-env.ps1
Due: prettier --write

fix(deploy): allow vercel.json in Docker context; sync package-lock
  .dockerignore
  package-lock.json
Due: prettier --write

fix(docker): ship start.js and prod node_modules; quiet CI noise
  .github/workflows/deploy-railway.yml
  .github/workflows/openclaw-integration.yml
  Dockerfile
Due: prettier --write

fix(config): detect localhost Mongo URI on cloud; clarify Render docs
  DEPLOY-FREE-NOW.md
  backend/api/index.js
  backend/routes/health-check.js
Due: eslint --fix, prettier --write

chore(render): sync env bundle from Vercel export; Atlas + OpenClaw URLs
  DEPLOY-FREE-NOW.md
  render.yaml
  scripts/sync-render-dashboard-env.ps1
Due: prettier --write

chore: add Render env push script
  .gitignore
  scripts/push-render-env-from-file.ps1
Due: none

fix: use Node for Render env PUT JSON
  scripts/push-render-env-from-file.mjs
  scripts/push-render-env-from-file.ps1
Due: none

fix: skip dotenv on Render and tighten dockerignore
  .dockerignore
  backend/api/index.js
  scripts/list-render-services.mjs
  start.js
Due: eslint --fix, prettier --write

fix: point default API and smoke tests at Render host
  Frontend/public/api-base.json
  Frontend/src/config/env.ts
  Frontend/src/main.jsx
  backend/api/index.js
  backend/routes/openclaw.js
  backend/scripts/smoke-openclaw.js
  backend/scripts/smoke-telegram-openclaw.js
  backend/service/api.js
  backend/utils/api.js
  scripts/verify-live-decentralized.mjs
Due: eslint --fix, prettier --write

test: align career quiz test with narrative question set
  backend/tests/careerQuizScoring.test.js
  vitest.config.ts
Due: eslint --fix, prettier --write

fix: add js-yaml for OpenAPI in production and network verify
  backend/api/index.js
  backend/package.json
  backend/utils/openapi.js
  package-lock.json
  package.json
  scripts/verify-backend-network.mjs
Due: eslint --fix, prettier --write, sort-package-json

fix: openapi skip-db sync-json verify-network-wait
  backend/api/index.js
  package.json
  scripts/wait-verify-network.mjs
Due: eslint --fix, prettier --write, sort-package-json

fix: user-session 401 handling login timeouts and auth allowlist
  Frontend/src/lib/axios.js
  Frontend/src/pages/GetStartedPage.jsx
  Frontend/src/pages/LoginPage.jsx
  Frontend/src/pages/RegisterPage.jsx
  backend/api/index.js
Due: eslint --fix, prettier --write

chore(wip): preserve local broker chat commodities from clone1
  Frontend/src/pages/BrokerHubPage.css
  Frontend/src/pages/BrokerHubPage.jsx
  Frontend/src/pages/ChatPage.css
  Frontend/src/pages/ChatPage.jsx
  Frontend/src/pages/CommoditiesPage.css
  Frontend/src/pages/CommoditiesPage.jsx
  Frontend/src/pages/ContactsPage.css
  Frontend/src/pages/ContactsPage.jsx
  Frontend/src/pages/TemplatesPage.css
  Frontend/src/pages/TemplatesPage.jsx
  backend/models/Commodity.js
  backend/models/Contact.js
  backend/models/Template.js
  backend/routes/chat.js
  backend/routes/commodities.js
  backend/routes/contacts.js
  backend/routes/templates.js
  docs/AKASHIC_RECORD_VISION.md
  scripts/seed-templates.js
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

feat(broker): mount hub APIs routes nav and network probes
  Frontend/src/App.jsx
  Frontend/src/components/AdminNav.jsx
  Frontend/src/pages/CommoditiesPage.jsx
  Frontend/src/pages/ContactsPage.jsx
  Frontend/src/pages/TemplatesPage.jsx
  backend/api/index.js
  backend/middleware/auth.js
  scripts/verify-backend-network.mjs
Due: eslint --fix, prettier --write

fix(ci): default frontend API to Render and verify live api-base
  .github/workflows/deploy-frontend.yml
  .github/workflows/deploy-to-github-pages.yml
  .github/workflows/frontend.yml
  Frontend/src/components/ApiDocsTab.jsx
  Frontend/src/lib/openclaw-widget.js
  scripts/verify-backend-network.mjs
  scripts/verify-live-ready.mjs
Due: eslint --fix, prettier --write

ci: read vars VITE_API_URL in frontend deploy workflows
  .github/workflows/deploy-frontend.yml
  .github/workflows/deploy-to-github-pages.yml
  .github/workflows/openclaw-integration.yml
Due: prettier --write
