Repository PVAGR/pva-bazaar-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js, forge fmt, sort-package-json

Prefer live backend for published books
  Frontend/src/lib/apiBase.js
  Frontend/src/pages/BookPublishingPage.jsx
Due: eslint --fix, prettier --write

Point public config at live backend
  Frontend/public/api-base.json
  Frontend/public/live-map.json
Due: prettier --write

Switch live config to Vercel backend
  .github/workflows/deploy-backend-live.yml
  .github/workflows/deploy-backend.yml
  .github/workflows/deploy-frontend.yml
  .github/workflows/deploy-render.yml
  .github/workflows/deploy-to-github-pages.yml
  .github/workflows/deploy-web-vercel.yml
  .github/workflows/frontend.yml
  .github/workflows/openclaw-agent.yml
  .github/workflows/openclaw-integration.yml
  .github/workflows/openclaw-queue-worker.yml
  .github/workflows/openclaw-realtime-online.yml
  .github/workflows/openclaw-self-heal.yml
  .github/workflows/openclaw-telegram-bridge.yml
  CHANGELOG.md
  Frontend/.env.production
  Frontend/public/api-base.json
  Frontend/public/live-map.json
  Frontend/src/config/env.ts
  Frontend/src/lib/apiBase.js
  Frontend/src/main.jsx
  Frontend/src/pages/DeployPage.jsx
  backend/routes/openclaw.js
  backend/scripts/smoke-openclaw.js
  backend/scripts/smoke-telegram-openclaw.js
  backend/scripts/test-connection.js
  backend/service/api.js
  backend/utils/api.js
Due: eslint --fix, prettier --write

Remove remaining non-Vercel live defaults
  .github/scripts/telegram-send-now.mjs
  .github/workflows/openclaw-uptime-monitor.yml
  Frontend/public/live-map.json
  Frontend/src/lib/apiBase.js
  Frontend/src/main.jsx
  vercel.json
Due: eslint --fix, prettier --write

Mount book publishing on serverless backend
  CHANGELOG.md
  backend/api/index-serverless.js
  backend/lib/buildInfo.js
Due: eslint --fix, prettier --write

Reduce API catchall startup fragility
  CHANGELOG.md
  api/[...path].js
Due: eslint --fix, prettier --write

Stabilize backend dependency installs
  .github/workflows/backend.yml
  .github/workflows/deploy-backend.yml
  .npmrc
  CHANGELOG.md
  backend/.npmrc
Due: prettier --write

Sync published books to live backend
  .gitignore
  Frontend/src/pages/BookPublishingPage.jsx
  backend/routes/bookPublishing.js
Due: eslint --fix, prettier --write

Reframe homepage as civilization bazaar
  Frontend/public/llms.txt
  Frontend/public/readable-site.json
  Frontend/src/config/publicRoutes.js
  Frontend/src/pages/OpeningHomePage.css
  Frontend/src/pages/OpeningHomePage.jsx
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

Add civilization atlas landing pages
  Frontend/public/llms.txt
  Frontend/public/readable-site.json
  Frontend/src/App.jsx
  Frontend/src/config/publicRoutes.js
  Frontend/src/data/civilizationAtlas.js
  Frontend/src/pages/CivilizationCategoryPage.css
  Frontend/src/pages/CivilizationCategoryPage.jsx
  Frontend/src/pages/OpeningHomePage.css
  Frontend/src/pages/OpeningHomePage.jsx
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

Add institution hub and knowledge dossiers
  CHANGELOG.md
  CURRENT_STATUS.md
  Frontend/public/llms.txt
  Frontend/public/readable-site.json
  Frontend/public/sitemap.xml
  Frontend/src/App.jsx
  Frontend/src/config/publicRoutes.js
  Frontend/src/data/civilizationAtlas.js
  Frontend/src/data/institutions.js
  Frontend/src/pages/CivilizationCategoryPage.css
  Frontend/src/pages/CivilizationCategoryPage.jsx
  Frontend/src/pages/InstitutionPage.css
  Frontend/src/pages/InstitutionPage.jsx
  Frontend/src/pages/InstitutionsPage.css
  Frontend/src/pages/InstitutionsPage.jsx
  Frontend/src/pages/ListItemPage.css
  Frontend/src/pages/ListItemPage.jsx
  Frontend/src/pages/MarketplaceItemPage.css
  Frontend/src/pages/MarketplaceItemPage.jsx
  Frontend/src/pages/MarketplacePage.jsx
  Frontend/src/pages/OpeningHomePage.jsx
  backend/lib/itemNormalize.js
  backend/models/Artifact.js
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

Add perennial item stewardship flow
  CHANGELOG.md
  CURRENT_STATUS.md
  Frontend/src/App.jsx
  Frontend/src/lib/api.js
  Frontend/src/pages/ListItemPage.css
  Frontend/src/pages/ListItemPage.jsx
  Frontend/src/pages/MarketplaceItemPage.css
  Frontend/src/pages/MarketplaceItemPage.jsx
  Frontend/src/pages/MyListingsPage.jsx
  backend/lib/itemNormalize.js
  backend/models/Artifact.js
  backend/routes/items.js
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

Add QR access codes for perennial listings
  CHANGELOG.md
  CURRENT_STATUS.md
  Frontend/package-lock.json
  Frontend/package.json
  Frontend/src/lib/api.js
  Frontend/src/pages/ListItemPage.css
  Frontend/src/pages/ListItemPage.jsx
  Frontend/src/pages/MarketplaceItemPage.jsx
  Frontend/src/pages/MyListingsPage.jsx
  backend/lib/itemAccessCode.js
  backend/lib/itemNormalize.js
  backend/models/Artifact.js
  backend/routes/items.js
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js, sort-package-json

Fix book persistence and publish sync
  CHANGELOG.md
  CURRENT_STATUS.md
  Frontend/src/lib/localBookVault.js
  Frontend/src/pages/BookPublishingPage.jsx
  Frontend/src/pages/BookShelfPage.jsx
  backend/lib/bookProjectStore.js
  backend/services/gitHubService.js
Due: eslint --fix, prettier --write

Fix book store source selection
  CURRENT_STATUS.md
  backend/lib/bookProjectStore.js
  backend/routes/adminLogin.js
  backend/routes/bookPublishing.js
  backend/services/gitHubService.js
Due: eslint --fix, prettier --write

Add shared publish key and raw bookshelf fallback
  CHANGELOG.md
  CURRENT_STATUS.md
  Frontend/src/lib/api.js
  Frontend/src/lib/bookStoreTokenVault.js
  Frontend/src/pages/BookPublishingPage.jsx
  backend/routes/bookPublishing.js
Due: eslint --fix, prettier --write

Fix Pages build blocker and expose route map
  .github/workflows/deploy-frontend.yml
  Frontend/public/readable-site.json
Due: prettier --write

Fix frontend workflow dependency installs
  .github/workflows/deploy-frontend.yml
Due: prettier --write

Replace hardcoded light surfaces in frontend modules
  Frontend/src/components/ProvenanceSubmission.module.css
  Frontend/src/components/SellerDashboard.module.css
  Frontend/src/components/ShipmentTracking.module.css
  Frontend/src/components/ShopPage.module.css
  Frontend/src/pages/ListItemPage.css
  Frontend/src/pages/LoginPage.css
  Frontend/src/pages/RegisterPage.css
Due: prettier --write, node qa/scripts/check-brand-tokens.js

Add static status page fallback
  Frontend/public/status.html
  status.html
Due: none

Sync public surfaces and writing fallbacks
  Frontend/writings/aetherzamin.html
  Frontend/writings/amnesia-consciousness.html
  Frontend/writings/balance.html
  Frontend/writings/eden-theory.html
  Frontend/writings/personal-reflections.html
  Frontend/writings/pilgrimage.html
  Frontend/writings/pura-vida.html
  Frontend/writings/pva-food.html
  Frontend/writings/sacred-texts.html
  Frontend/writings/this-or-that.html
  llms.txt
  public/404.html
  public/llms.txt
  public/robots.txt
  public/sitemap.xml
  public/status.html
  readable-site.json
  robots.txt
  sitemap.xml
  status.html
Due: prettier --write

Add static onboarding and recovery fallbacks
  Frontend/public/get-started/index.html
  Frontend/public/llms.txt
  Frontend/public/readable-site.json
  Frontend/public/recovery/index.html
  Frontend/public/sitemap.xml
  get-started/index.html
  llms.txt
  public/get-started/index.html
  public/llms.txt
  public/readable-site.json
  public/recovery/index.html
  public/sitemap.xml
  readable-site.json
  recovery/index.html
  scripts/verify-seo-surface.mjs
  sitemap.xml
Due: prettier --write

Harden frontend CI build
  Frontend/vite.config.js
Due: eslint --fix, prettier --write

feat: wire book-publishing route into serverless API
  Frontend/src/App.jsx
  Frontend/src/pages/BooksPage.jsx
  apps/pva-bazaar-web/src/app/get-started/page.tsx
  apps/pva-bazaar-web/src/app/layout.tsx
  apps/pva-bazaar-web/src/app/library/LibraryGrid.tsx
  apps/pva-bazaar-web/src/app/library/[slug]/BookReader.tsx
  apps/pva-bazaar-web/src/app/library/[slug]/page.tsx
  apps/pva-bazaar-web/src/app/library/page.tsx
  apps/pva-bazaar-web/src/app/library/publish/PublishBook.tsx
  apps/pva-bazaar-web/src/app/library/publish/page.tsx
  apps/pva-bazaar-web/src/app/sitemap.ts
  apps/pva-bazaar-web/src/lib/libraryApi.ts
  backend/api/index-serverless.js
  backend/data/book-projects.json
  backend/models/BookProject.js
  backend/routes/bookPublishing.js
  backend/uploads/books/.gitkeep
  package-lock.json
Due: eslint --fix, prettier --write

fix: resolve build errors - CSS import and qrcode
  Frontend/src/pages/BookHomePage.jsx
  Frontend/vite.config.js
Due: eslint --fix, prettier --write

fix: allow MongoDB connection when MONGODB_URI is set on Vercel
  backend/api/index-serverless.js
Due: eslint --fix, prettier --write

perf: add manual chunking for large vendor bundles
  Frontend/vite.config.js
  apps/pva-bazaar-web/tsconfig.json
  package-lock.json
  package.json
  packages/ui/package.json
  qa/reports/vitest-results.json
Due: eslint --fix, prettier --write, sort-package-json

fix: add descriptive alt text to artifact thumbnail images
  Frontend/src/pages/ArtifactDetailPage.jsx
Due: eslint --fix, prettier --write

fix(api): enable CSP and restrict CORS origins
  backend/api/index-serverless.js
Due: eslint --fix, prettier --write

fix(api): prevent mock mode when MONGODB_URI is set in production
  backend/api/index-serverless.js
Due: eslint --fix, prettier --write

fix(vercel): change cron to daily for Hobby plan
  vercel.json
Due: prettier --write

fix(api): trigger deployment for MongoDB connection fix
  backend/api/index-serverless.js
Due: eslint --fix, prettier --write

fix: connect to MongoDB when MONGODB_URI is set on Vercel
  backend/api/index-serverless.js
  backend/lib/mongoConnection.js
  backend/routes/health.js
Due: eslint --fix, prettier --write

fix: expose MongoDB error message in health endpoint when mode=error
  backend/api/index-serverless.js
  backend/lib/mongoConnection.js
  backend/routes/health.js
Due: eslint --fix, prettier --write

fix: use fresh mongoose connection in health to bypass cached state
  backend/api/index-serverless.js
Due: eslint --fix, prettier --write

fix: remove /api/health router mount to prevent warm-cache override
  backend/api/index-serverless.js
Due: eslint --fix, prettier --write

fix: patch root api catch-all with fresh-connection health diagnostic
  api/[...path].js
Due: eslint --fix, prettier --write

fix: add URI parse diagnostics to health endpoint
  api/[...path].js
Due: eslint --fix, prettier --write

fix: add Cloudinary diagnostics to /api/health endpoint
  api/[...path].js
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,yml,yaml,md})) or (any of: *.{css,scss})
  node qa/scripts/check-brand-tokens.js: any of: *.{css,scss}
  forge fmt: any of: apps/contracts/**/*.sol
  sort-package-json: any of: package.json
