Repository PVAGR/pva-bazaar-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js, forge fmt, sort-package-json

docs: cross-links from product and Etsy docs to OPS and each other
  docs/ETSY-LISTINGS-KENYA.md
  docs/PRODUCT-SOURCING-KENYA.md
Due: prettier --write

feat(web): My artifacts dashboard – multi-ID verification lookup; nav, sitemap, docs
  apps/pva-bazaar-web/README.md
  apps/pva-bazaar-web/src/app/dashboard/layout.tsx
  apps/pva-bazaar-web/src/app/dashboard/page.tsx
  apps/pva-bazaar-web/src/app/layout.tsx
  apps/pva-bazaar-web/src/app/sitemap.ts
  docs/README.md
  docs/VENTURE-ROADMAP.md
Due: eslint --fix, prettier --write

docs: verification page links to My artifacts; CLAUDE and Web3 MVP doc note dashboard
  CLAUDE.md
  apps/pva-bazaar-web/src/app/verification/page.tsx
  docs/PVABAZAAR-MVP-WEB3.md
Due: eslint --fix, prettier --write

docs: DEPLOY-SANCTUARY (Vercel steps) and PHASE1-EXECUTION checklist; index updated
  docs/DEPLOY-SANCTUARY.md
  docs/PHASE1-EXECUTION.md
  docs/README.md
Due: prettier --write

docs: roadmap and CLAUDE point to DEPLOY-SANCTUARY and PHASE1-EXECUTION
  CLAUDE.md
  docs/VENTURE-ROADMAP.md
Due: prettier --write

docs: cross-link DEPLOY-SANCTUARY and PHASE1-EXECUTION
  docs/DEPLOY-SANCTUARY.md
  docs/PHASE1-EXECUTION.md
Due: prettier --write

docs: Start here in docs index; Next README links to DEPLOY-SANCTUARY
  apps/pva-bazaar-web/README.md
  docs/README.md
Due: prettier --write

docs: OPS workflow links to PHASE1-EXECUTION checklist
  docs/OPS-ORDER-WORKFLOW.md
Due: prettier --write

docs: PHASE1-EXECUTION quick links include DEPLOY-SANCTUARY
  docs/PHASE1-EXECUTION.md
Due: prettier --write

feat(web): friendlier verification and dashboard behavior when API URL is missing
  apps/pva-bazaar-web/src/app/dashboard/page.tsx
  apps/pva-bazaar-web/src/app/verification/VerifyArtifactBlock.tsx
Due: eslint --fix, prettier --write

feat(web): phase banner under nav to clarify current focus
  apps/pva-bazaar-web/src/app/layout.tsx
Due: eslint --fix, prettier --write

style(web): unify new accent color to deep sky blue to match dark theme
  apps/pva-bazaar-web/src/app/archive/page.tsx
  apps/pva-bazaar-web/src/app/cart/page.tsx
  apps/pva-bazaar-web/src/app/dashboard/page.tsx
  apps/pva-bazaar-web/src/app/error.tsx
  apps/pva-bazaar-web/src/app/layout.tsx
  apps/pva-bazaar-web/src/app/loading.tsx
  apps/pva-bazaar-web/src/app/manifesto/page.tsx
  apps/pva-bazaar-web/src/app/not-found.tsx
  apps/pva-bazaar-web/src/app/page.tsx
  apps/pva-bazaar-web/src/app/verification/page.tsx
Due: eslint --fix, prettier --write

fix: unify theme system across admin and archive pages
  Frontend/src/pages/AdminDashboard.jsx
  Frontend/src/pages/AdminPage.css
  Frontend/src/pages/AdminPage.jsx
  Frontend/src/pages/ArchiveLibraryPage.css
  Frontend/src/pages/ArchiveLibraryPage.jsx
  Frontend/src/styles/magnum-opus.css
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

fix: apply theme system to AdminOrdersPage
  .turbo/cookies/1.cookie
  Frontend/src/pages/AdminOrdersPage.css
Due: prettier --write, node qa/scripts/check-brand-tokens.js

Revert "style(web): unify new accent color to deep sky blue to match dark theme"
  apps/pva-bazaar-web/src/app/archive/page.tsx
  apps/pva-bazaar-web/src/app/cart/page.tsx
  apps/pva-bazaar-web/src/app/dashboard/page.tsx
  apps/pva-bazaar-web/src/app/error.tsx
  apps/pva-bazaar-web/src/app/layout.tsx
  apps/pva-bazaar-web/src/app/loading.tsx
  apps/pva-bazaar-web/src/app/manifesto/page.tsx
  apps/pva-bazaar-web/src/app/not-found.tsx
  apps/pva-bazaar-web/src/app/page.tsx
  apps/pva-bazaar-web/src/app/verification/page.tsx
Due: eslint --fix, prettier --write

Revert "fix: apply theme system to AdminOrdersPage"
  .turbo/cookies/1.cookie
  Frontend/src/pages/AdminOrdersPage.css
Due: prettier --write, node qa/scripts/check-brand-tokens.js

Revert "fix: unify theme system across admin and archive pages"
  Frontend/src/pages/AdminDashboard.jsx
  Frontend/src/pages/AdminPage.css
  Frontend/src/pages/AdminPage.jsx
  Frontend/src/pages/ArchiveLibraryPage.css
  Frontend/src/pages/ArchiveLibraryPage.jsx
  Frontend/src/styles/magnum-opus.css
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

fix(web): remove nested reading container box
  Frontend/src/base.css
Due: prettier --write, node qa/scripts/check-brand-tokens.js

Revert "fix(web): remove nested reading container box"
  Frontend/src/base.css
Due: prettier --write, node qa/scripts/check-brand-tokens.js

fix(archive): remove nested reader scroll and keep sidebar-only nesting
  Frontend/src/pages/ArchiveLibraryPage.css
Due: prettier --write, node qa/scripts/check-brand-tokens.js

fix(frontend): add framer-motion dependency for production build
  Frontend/package.json
  package-lock.json
Due: prettier --write, sort-package-json

fix(reader): remove nested scrolling from entry detail view
  Frontend/src/base.css
Due: prettier --write, node qa/scripts/check-brand-tokens.js

style(marketplace): align item detail UI with archive baseline
  Frontend/src/pages/MarketplaceItemPage.css
  Frontend/src/pages/MarketplaceItemPage.jsx
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

Revert "style(marketplace): align item detail UI with archive baseline"
  Frontend/src/pages/MarketplaceItemPage.css
  Frontend/src/pages/MarketplaceItemPage.jsx
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

refactor(marketplace): move inline styles to css with no visual changes
  Frontend/src/pages/MarketplaceItemPage.css
  Frontend/src/pages/MarketplaceItemPage.jsx
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

refactor(ui): replace inline styles with equivalent css classes
  Frontend/src/base.css
  Frontend/src/pages/JournalPage.jsx
  Frontend/src/pages/SearchPage.jsx
  Frontend/src/pages/VerificationPage.jsx
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

fix(theme): enforce full-site hardcoded night/day backgrounds and remove white spacers
  Frontend/src/base.css
Due: prettier --write, node qa/scripts/check-brand-tokens.js

fix(theme): remove remaining light spacer styles in marketplace/admin pages
  Frontend/src/pages/AdminDashboard.jsx
  Frontend/src/pages/AdminOrdersPage.css
  Frontend/src/pages/MarketplaceItemPage.css
  Frontend/src/pages/MarketplacePage.css
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

docs(theme): lock full-site night/day baseline and anti-white drift rules
  .github/copilot-instructions.md
  .github/instructions/frontend.instructions.md
  Frontend/src/base.css
Due: prettier --write, node qa/scripts/check-brand-tokens.js

fix(theme): remove light spacer blocks from oracle assessment results
  Frontend/src/pages/OracleAssessmentPage.jsx
Due: eslint --fix, prettier --write

refactor(theme): replace remaining inline page styles with tokenized classes
  Frontend/src/base.css
  Frontend/src/pages/ArchivePage.jsx
  Frontend/src/pages/CartPage.jsx
  Frontend/src/pages/ManifestoPage.jsx
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

fix(theme): tokenized remaining admin/list light styles
  Frontend/src/pages/AdminPage.css
  Frontend/src/pages/AdminPage.jsx
  Frontend/src/pages/ListItemPage.css
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

theme: remove residual hardcoded muted/light colors
  Frontend/src/pages/AdminPage.css
  Frontend/src/pages/ArchiveLibraryPage.css
Due: prettier --write, node qa/scripts/check-brand-tokens.js

theme: remove remaining light hardcoded shared backgrounds
  Frontend/src/base.css
  Frontend/src/components/VerificationBadge.css
  Frontend/src/components/VerificationHashBlock.css
  Frontend/src/styles/magnum-opus.css
Due: prettier --write, node qa/scripts/check-brand-tokens.js

chore: add frontend theme hardcoded background guard
  Frontend/package.json
  Frontend/scripts/check-theme-hardcoded.cjs
Due: prettier --write, sort-package-json

chore: add static html theme audit report
  Frontend/package.json
  Frontend/scripts/audit-static-light-backgrounds.cjs
Due: prettier --write, sort-package-json

theme: remove white static content panels
  Frontend/novel/index.html
  Frontend/writings/aetherzamin.html
  Frontend/writings/amnesia-consciousness.html
  Frontend/writings/balance.html
  Frontend/writings/eden-theory.html
  Frontend/writings/personal-reflections.html
  Frontend/writings/pilgrimage.html
  Frontend/writings/pura-vida.html
  Frontend/writings/pva-food.html
  Frontend/writings/sacred-texts.html
Due: none

theme: darken remaining static shell backgrounds
  Frontend/home.html
  Frontend/novel/index.html
  Frontend/research/index.html
  Frontend/writings/balance.html
  Frontend/writings/pilgrimage.html
  Frontend/writings/this-or-that.html
Due: none

theme: clear remaining static audit backgrounds
  Frontend/writings/aetherzamin.html
  Frontend/writings/amnesia-consciousness.html
  Frontend/writings/personal-reflections.html
  Frontend/writings/pilgrimage.html
  Frontend/writings/pura-vida.html
  Frontend/writings/pva-food.html
  Frontend/writings/sacred-texts.html
Due: none

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,yml,yaml,md})) or (any of: *.{css,scss})
  node qa/scripts/check-brand-tokens.js: any of: *.{css,scss}
  forge fmt: any of: apps/contracts/**/*.sol
  sort-package-json: any of: package.json
