Repository PVAGR/pva-bazaar-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js, forge fmt, sort-package-json

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,yml,yaml,md}": [
    "prettier --write"
  ],
  "*.{css,scss}": [
    "prettier --write",
    "node qa/scripts/check-brand-tokens.js"
  ],
  "apps/contracts/**/*.sol": [
    "forge fmt"
  ],
  "package.json": [
    "sort-package-json"
  ]
}

feat: improve Streams layout and add Twitch connect foundation
  Frontend/src/pages/StreamsPage.css
  Frontend/src/pages/StreamsPage.jsx
  backend/api/index.js
  backend/middleware/auth.js
  backend/models/User.js
  backend/routes/oauthTwitch.js
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

feat: add inline help tips and save user defaults for forms
  Frontend/src/components/HelpTip.css
  Frontend/src/components/HelpTip.jsx
  Frontend/src/pages/DealsPage.css
  Frontend/src/pages/DealsPage.jsx
  Frontend/src/pages/StreamsPage.css
  Frontend/src/pages/StreamsPage.jsx
  backend/models/User.js
  backend/routes/users.js
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

fix: make Connect Twitch button use authenticated start flow
  Frontend/src/pages/StreamsPage.jsx
  backend/routes/oauthTwitch.js
Due: eslint --fix, prettier --write

refactor: add shared AdminNav and ui components
  Frontend/src/components/AdminNav.css
  Frontend/src/components/AdminNav.jsx
  Frontend/src/components/ui/Button.css
  Frontend/src/components/ui/Button.jsx
  Frontend/src/components/ui/Card.css
  Frontend/src/components/ui/Card.jsx
  Frontend/src/components/ui/SectionHeader.css
  Frontend/src/components/ui/SectionHeader.jsx
  Frontend/src/pages/AdminPage.jsx
  Frontend/src/pages/DealsPage.jsx
  Frontend/src/pages/StreamsPage.jsx
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

feat: improve HelpTip behavior and add inline help to key forms
  Frontend/src/components/HelpTip.css
  Frontend/src/components/HelpTip.jsx
  Frontend/src/pages/AdminPage.jsx
  Frontend/src/pages/ListItemPage.css
  Frontend/src/pages/ListItemPage.jsx
  Frontend/src/pages/OracleAssessmentPage.jsx
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

feat: add Mongo-backed defaults and draft autosave for streams/deals
  Frontend/src/pages/DealsPage.jsx
  Frontend/src/pages/StreamsPage.css
  Frontend/src/pages/StreamsPage.jsx
  backend/models/User.js
  backend/routes/deals.js
  backend/routes/streams.js
  backend/routes/users.js
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

feat: add login/register/account pages and unify token handling
  Frontend/src/App.jsx
  Frontend/src/components/AdminNav.jsx
  Frontend/src/lib/auth.js
  Frontend/src/lib/axios.js
  Frontend/src/pages/AccountPage.css
  Frontend/src/pages/AccountPage.jsx
  Frontend/src/pages/AdminPage.jsx
  Frontend/src/pages/LoginPage.css
  Frontend/src/pages/LoginPage.jsx
  Frontend/src/pages/OracleAssessmentPage.jsx
  Frontend/src/pages/RegisterPage.css
  Frontend/src/pages/RegisterPage.jsx
  Frontend/src/pages/StreamsPage.jsx
  Frontend/src/styles/admin-common.css
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

feat: add Twitch OAuth status endpoint and UI setup guidance
  Frontend/src/pages/StreamsPage.jsx
  backend/routes/oauthTwitch.js
Due: eslint --fix, prettier --write

feat: add deal join links and evidence submissions
  Frontend/src/App.jsx
  Frontend/src/pages/DealJoinPage.css
  Frontend/src/pages/DealJoinPage.jsx
  Frontend/src/pages/DealsPage.css
  Frontend/src/pages/DealsPage.jsx
  backend/models/Deal.js
  backend/routes/deals.js
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

test: add coverage for deals and help tips
  .gitignore
  Frontend/src/components/HelpTip.test.jsx
  Frontend/src/pages/DealsPage.test.jsx
  backend/tests/deals.test.js
  package-lock.json
  package.json
  qa/config/vitest.setup.ts
  scripts/verify-live-ready.mjs
  tsconfig.json
  vitest.config.ts
Due: eslint --fix, prettier --write, sort-package-json

feat: add onboarding guide and OAuth token vault
  .gitignore
  Frontend/src/App.jsx
  Frontend/src/components/AdminNav.jsx
  Frontend/src/pages/DealJoinPage.css
  Frontend/src/pages/DealJoinPage.jsx
  Frontend/src/pages/DealsPage.jsx
  Frontend/src/pages/LoginPage.jsx
  Frontend/src/pages/OnboardingPage.css
  Frontend/src/pages/OnboardingPage.jsx
  Frontend/src/pages/RegisterPage.jsx
  Frontend/src/pages/StreamsPage.css
  Frontend/src/pages/StreamsPage.jsx
  VERCEL_ENV_CHECKLIST.md
  backend/api/index.js
  backend/models/Deal.js
  backend/models/User.js
  backend/routes/deals.js
  backend/routes/oauthTwitch.js
  backend/routes/oauthYouTube.js
  backend/routes/users.js
  backend/utils/cryptoVault.js
  package-lock.json
  package.json
  scripts/verify-live-ready.mjs
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js, sort-package-json

feat: streaming EventSub, EIP-712 deals, escrow prepare, QoL upgrades
  Frontend/src/components/ErrorBanner.css
  Frontend/src/components/ErrorBanner.jsx
  Frontend/src/components/LoadingSpinner.css
  Frontend/src/components/LoadingSpinner.jsx
  Frontend/src/lib/eip712.js
  Frontend/src/lib/errorUtils.js
  Frontend/src/main.jsx
  Frontend/src/pages/DealJoinPage.jsx
  Frontend/src/pages/DealsPage.jsx
  Frontend/src/pages/StreamsPage.css
  Frontend/src/pages/StreamsPage.jsx
  TWITCH_EVENTSUB_SETUP.md
  VERCEL_ENV_CHECKLIST.md
  backend/api/index.js
  backend/lib/eip712.js
  backend/package.json
  backend/routes/deals.js
  backend/routes/oauthYouTube.js
  backend/routes/webhooksTwitch.js
  package-lock.json
  scripts/verify-live-ready.mjs
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js, sort-package-json

fix(admin): improve login error handling, credentials, and retry UX
  Frontend/src/pages/AdminPage.jsx
Due: eslint --fix, prettier --write

feat(broker): add commodities, contacts, templates, Richard AI chat
  Frontend/src/App.jsx
  Frontend/src/components/AdminNav.jsx
  Frontend/src/components/Layout.jsx
  Frontend/src/pages/BrokerHubPage.css
  Frontend/src/pages/BrokerHubPage.jsx
  Frontend/src/pages/ChatPage.css
  Frontend/src/pages/ChatPage.jsx
  Frontend/src/pages/CommoditiesPage.css
  Frontend/src/pages/CommoditiesPage.jsx
  Frontend/src/pages/ContactsPage.css
  Frontend/src/pages/ContactsPage.jsx
  Frontend/src/pages/DealsPage.jsx
  Frontend/src/pages/TemplatesPage.css
  Frontend/src/pages/TemplatesPage.jsx
  backend/.env.example
  backend/api/index.js
  backend/models/Commodity.js
  backend/models/Contact.js
  backend/models/Deal.js
  backend/models/Template.js
  backend/routes/chat.js
  backend/routes/commodities.js
  backend/routes/contacts.js
  backend/routes/deals.js
  backend/routes/templates.js
  package-lock.json
  package.json
  scripts/seed-templates.js
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js, sort-package-json

test: add broker tests, e2e fix, Chat back link
  Frontend/src/pages/BrokerHubPage.test.jsx
  Frontend/src/pages/ChatPage.css
  Frontend/src/pages/ChatPage.jsx
  Frontend/src/pages/ChatPage.test.jsx
  Frontend/src/pages/CommoditiesPage.test.jsx
  Frontend/src/pages/ContactsPage.test.jsx
  Frontend/src/pages/TemplatesPage.test.jsx
  backend/tests/broker.test.js
  playwright.config.ts
  qa/config/playwright.global-setup.ts
  tests/e2e.smoke.spec.js
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

feat: Phase 2.2 hermeneutic, 3.1 vault, 3.2 escrow
  Frontend/src/App.jsx
  Frontend/src/components/AdminNav.jsx
  Frontend/src/pages/BrokerHubPage.jsx
  Frontend/src/pages/ContactsPage.jsx
  Frontend/src/pages/ContactsPage.test.jsx
  Frontend/src/pages/DealsPage.jsx
  Frontend/src/pages/VaultPage.css
  Frontend/src/pages/VaultPage.jsx
  backend/api/index.js
  backend/models/Contact.js
  backend/models/Deal.js
  backend/models/VaultNote.js
  backend/routes/contacts.js
  backend/routes/deals.js
  backend/routes/vaultNotes.js
  backend/tests/broker.test.js
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

feat: link vault notes to Contact, Commodity, Deal
  Frontend/src/pages/CommoditiesPage.jsx
  Frontend/src/pages/ContactsPage.jsx
  Frontend/src/pages/DealsPage.jsx
  Frontend/src/pages/VaultPage.jsx
  Frontend/src/pages/VaultPage.test.jsx
Due: eslint --fix, prettier --write

feat: Broker Hub vault card, template variables
  Frontend/src/pages/BrokerHubPage.jsx
  Frontend/src/pages/BrokerHubPage.test.jsx
  Frontend/src/pages/TemplatesPage.jsx
Due: eslint --fix, prettier --write

feat: log outreach on template send, add seed:commodities
  Frontend/src/pages/TemplatesPage.jsx
  package.json
  scripts/seed-commodities.js
Due: eslint --fix, prettier --write, sort-package-json

feat: outreach log channel display, Copy resolved, outreach API test
  Frontend/src/pages/ContactsPage.jsx
  Frontend/src/pages/TemplatesPage.jsx
  backend/tests/broker.test.js
Due: eslint --fix, prettier --write

feat: Broker Hub deep links, deal search, stage display
  Frontend/src/pages/BrokerHubPage.jsx
  Frontend/src/pages/CommoditiesPage.jsx
  Frontend/src/pages/ContactsPage.jsx
  Frontend/src/pages/DealsPage.jsx
  Frontend/src/pages/TemplatesPage.jsx
  Frontend/src/pages/VaultPage.jsx
Due: eslint --fix, prettier --write

feat: Deals stage filter, Broker Hub counts and seed hints
  Frontend/src/pages/BrokerHubPage.jsx
  Frontend/src/pages/DealsPage.jsx
Due: eslint --fix, prettier --write

fix: deal search by counterparty.name, hub limit 25, CLAUDE broker docs
  CLAUDE.md
  Frontend/src/pages/BrokerHubPage.jsx
Due: eslint --fix, prettier --write

feat: contact outreach badge, Broker Hub link on archive
  Frontend/src/pages/ArchiveLibraryPage.jsx
  Frontend/src/pages/ContactsPage.jsx
Due: eslint --fix, prettier --write

feat: Broker Hub in Layout nav, Escape closes template modal
  Frontend/src/components/Layout.jsx
  Frontend/src/pages/TemplatesPage.jsx
Due: eslint --fix, prettier --write

feat: commodities search, deep links for linked contacts/templates
  Frontend/src/pages/CommoditiesPage.jsx
Due: eslint --fix, prettier --write

feat: deal links to commodity/contacts, search on contacts/templates
  Frontend/src/pages/ContactsPage.jsx
  Frontend/src/pages/DealsPage.jsx
  Frontend/src/pages/TemplatesPage.jsx
Due: eslint --fix, prettier --write

feat: vault search filter, Chat Broker Hub link when logged in
  Frontend/src/pages/ChatPage.css
  Frontend/src/pages/ChatPage.jsx
  Frontend/src/pages/VaultPage.jsx
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

feat: vault note links from contact/commodity/deal, vault link to record
  Frontend/src/pages/CommoditiesPage.jsx
  Frontend/src/pages/ContactsPage.jsx
  Frontend/src/pages/DealsPage.jsx
  Frontend/src/pages/VaultPage.jsx
Due: eslint --fix, prettier --write

feat: Deals Hub link, Copy again for invite URL
  Frontend/src/pages/DealsPage.jsx
Due: eslint --fix, prettier --write

feat: no-match empty states for search, Use with contact hint
  Frontend/src/pages/ContactsPage.jsx
  Frontend/src/pages/TemplatesPage.jsx
  Frontend/src/pages/VaultPage.jsx
Due: eslint --fix, prettier --write

feat: View all in Vault when >5 notes on contact/commodity/deal
  Frontend/src/pages/CommoditiesPage.jsx
  Frontend/src/pages/ContactsPage.jsx
  Frontend/src/pages/DealsPage.jsx
Due: eslint --fix, prettier --write

feat: page titles (Helmet) for broker pages
  Frontend/src/pages/BrokerHubPage.jsx
  Frontend/src/pages/ChatPage.jsx
  Frontend/src/pages/CommoditiesPage.jsx
  Frontend/src/pages/ContactsPage.jsx
  Frontend/src/pages/DealsPage.jsx
  Frontend/src/pages/TemplatesPage.jsx
  Frontend/src/pages/VaultPage.jsx
  qa/config/vitest.setup.ts
Due: eslint --fix, prettier --write

fix: aria-labels for search inputs and deal stage filter
  Frontend/src/pages/BrokerHubPage.jsx
  Frontend/src/pages/CommoditiesPage.jsx
  Frontend/src/pages/ContactsPage.jsx
  Frontend/src/pages/DealsPage.jsx
  Frontend/src/pages/TemplatesPage.jsx
  Frontend/src/pages/VaultPage.jsx
Due: eslint --fix, prettier --write

feat: View all links on Broker Hub when section has >8 items
  Frontend/src/pages/BrokerHubPage.jsx
Due: eslint --fix, prettier --write

test: Broker Hub View all link when section has >8 items
  Frontend/src/pages/BrokerHubPage.test.jsx
Due: eslint --fix, prettier --write

feat: / key focuses Broker Hub search
  Frontend/src/pages/BrokerHubPage.jsx
Due: eslint --fix, prettier --write

feat: / key focuses search on Commodities, Contacts, Templates, Vault
  Frontend/src/pages/CommoditiesPage.jsx
  Frontend/src/pages/ContactsPage.jsx
  Frontend/src/pages/TemplatesPage.jsx
  Frontend/src/pages/VaultPage.jsx
Due: eslint --fix, prettier --write

feat: QoL UI for fans, fix lint, add engagement links
  .eslintignore
  Frontend/package.json
  Frontend/src/App.jsx
  Frontend/src/components/HelpTip.jsx
  Frontend/src/main.jsx
  Frontend/src/pages/AboutPage.jsx
  Frontend/src/pages/AdminNewEntry.jsx
  Frontend/src/pages/AdminOrdersPage.jsx
  Frontend/src/pages/AdminPage.jsx
  Frontend/src/pages/ArchiveLibraryPage.jsx
  Frontend/src/pages/DealsPage.jsx
  Frontend/src/pages/EntryDetail.jsx
  Frontend/src/pages/MarketplaceItemPage.jsx
  Frontend/src/pages/MarketplacePage.jsx
  Frontend/src/pages/OracleAssessmentPage.jsx
  Frontend/src/pages/TemplatesPage.jsx
  Frontend/vite.config.js
  eslint.config.mjs
Due: eslint --fix, prettier --write, sort-package-json

feat: Chat/Marketplace nav, About contact, footer links
  Frontend/src/pages/AboutPage.jsx
  Frontend/src/pages/ChatPage.jsx
  Frontend/src/pages/ChatPage.test.jsx
  Frontend/src/pages/MarketplacePage.jsx
Due: eslint --fix, prettier --write
