Repository PVAGR/pva-bazaar-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js, forge fmt, sort-package-json

chore: enforce theme audits in prebuild
  Frontend/package.json
Due: prettier --write, sort-package-json

docs: add frontend theme guardrail commands
  Frontend/README-JOURNAL.md
Due: prettier --write

ci: add explicit frontend theme guard jobs
  .github/workflows/deploy-frontend.yml
  .github/workflows/frontend.yml
Due: prettier --write

perf: implement route-based code splitting and optimize vendor bundles
  Frontend/src/App.jsx
  Frontend/vite.config.js
Due: eslint --fix, prettier --write

feat: replace alert/prompt/confirm with modern modal components
  Frontend/src/components/ui/Button.css
  Frontend/src/components/ui/DialogModals.jsx
  Frontend/src/components/ui/Modal.css
  Frontend/src/components/ui/Modal.jsx
  Frontend/src/pages/AdminDashboard.jsx
  Frontend/src/pages/AdminNewEntry.jsx
  Frontend/src/pages/ArtifactDetailPage.jsx
  Frontend/src/pages/MarketplaceItemPage.jsx
  Frontend/src/pages/StreamsPage.jsx
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

feat(logging): add structured logging with Sentry integration
  Frontend/.eslintrc.json
  Frontend/src/config/env.ts
  Frontend/src/lib/axios.js
  Frontend/src/lib/decentralizedApi.js
  Frontend/src/lib/entries.js
  Frontend/src/lib/logger.js
  Frontend/src/lib/openclaw-widget.js
  Frontend/src/pages/AdminNewEntry.jsx
  Frontend/src/pages/AdminPage.jsx
  Frontend/src/pages/ArchiveLibraryPage.jsx
  Frontend/src/pages/EntryDetail.jsx
  Frontend/src/pages/SearchPage.jsx
Due: eslint --fix, prettier --write

feat(error-handling): add React error boundaries with themed fallbacks
  Frontend/src/App.jsx
  Frontend/src/components/ErrorFallback.css
  Frontend/src/components/ErrorFallback.jsx
  Frontend/src/components/RouteErrorBoundary.jsx
  Frontend/src/main.jsx
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

feat(frontend): Add comprehensive loading state components
  Frontend/src/components/LoadingSpinner.css
  Frontend/src/components/LoadingSpinner.jsx
  Frontend/src/components/PageLoader.css
  Frontend/src/components/PageLoader.jsx
  Frontend/src/components/SkeletonLoader.css
  Frontend/src/components/SkeletonLoader.jsx
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

feat(frontend): integrate loading states in key data pages
  Frontend/src/pages/AdminPage.jsx
  Frontend/src/pages/ArchiveLibraryPage.jsx
  Frontend/src/pages/MarketplacePage.jsx
Due: eslint --fix, prettier --write

fix(frontend): resolve theme guard violations with CSS variables
  Frontend/src/base.css
  Frontend/src/lib/openclaw-widget.css
  Frontend/src/pages/AdminPage.css
Due: prettier --write, node qa/scripts/check-brand-tokens.js

feat(admin): add comprehensive tabbed admin interface
  ADMIN_TABS_DOCUMENTATION.md
  Frontend/src/components/AdminTabs.css
  Frontend/src/components/AdminTabs.jsx
  Frontend/src/components/HealthTab.css
  Frontend/src/components/HealthTab.jsx
  Frontend/src/components/MarketplaceTab.css
  Frontend/src/components/MarketplaceTab.jsx
  Frontend/src/components/SettingsTab.css
  Frontend/src/components/SettingsTab.jsx
  Frontend/src/components/UsersTab.css
  Frontend/src/components/UsersTab.jsx
  Frontend/src/pages/AdminPage.jsx
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

fix(backend): configure admin authentication with username/password env vars
  backend/.env.example
  backend/package.json
  package-lock.json
Due: prettier --write, sort-package-json

docs: add comprehensive admin authentication setup guide
  ADMIN_AUTHENTICATION_SETUP.md
Due: prettier --write

feat(admin): add universal cloud storage management with one-click uploads
  CLOUD_STORAGE_COMPLETE.md
  Frontend/src/components/AdminTabs.jsx
  Frontend/src/components/CloudStorageTab.css
  Frontend/src/components/CloudStorageTab.jsx
  Frontend/src/pages/AdminPage.jsx
  backend/.env.example
  backend/api/index.js
  backend/package.json
  backend/routes/cloudStorage.js
  package-lock.json
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js, sort-package-json

feat(admin): Implement comprehensive user management system
  Frontend/src/components/UsersTab.css
  Frontend/src/components/UsersTab.jsx
  backend/routes/admin.js
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

feat(admin): Add comprehensive API Documentation tab
  Frontend/src/components/AdminTabs.jsx
  Frontend/src/components/ApiDocsTab.css
  Frontend/src/components/ApiDocsTab.jsx
  Frontend/src/pages/AdminPage.jsx
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

feat(admin): Enhance SettingsTab with comprehensive admin tools
  Frontend/src/components/SettingsTab.css
  Frontend/src/components/SettingsTab.jsx
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

feat(admin): Add comprehensive Dashboard overview tab
  Frontend/src/components/AdminTabs.jsx
  Frontend/src/components/DashboardTab.css
  Frontend/src/components/DashboardTab.jsx
  Frontend/src/pages/AdminPage.jsx
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

fix(admin): stabilize marketplace management auth and UX
  Frontend/src/components/MarketplaceTab.css
  Frontend/src/components/MarketplaceTab.jsx
  backend/routes/items.js
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

feat(admin): wire dashboard actions to real tab navigation
  Frontend/src/components/DashboardTab.jsx
  Frontend/src/pages/AdminPage.jsx
Due: eslint --fix, prettier --write

refactor(admin): extract Archive tab into ArchiveTab component
  Frontend/src/components/ArchiveTab.css
  Frontend/src/components/ArchiveTab.jsx
  Frontend/src/pages/AdminPage.jsx
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

feat(admin): add keyboard shortcuts and improve code quality
  Frontend/src/components/AdminTabs.css
  Frontend/src/components/AdminTabs.jsx
  Frontend/src/components/CloudStorageTab.jsx
  Frontend/src/pages/AdminPage.jsx
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

feat(admin): add error boundaries and performance optimizations
  Frontend/src/components/AdminTabs.jsx
  Frontend/src/components/ApiDocsTab.jsx
  Frontend/src/components/ErrorBoundary.css
  Frontend/src/components/ErrorBoundary.jsx
  Frontend/src/components/SettingsTab.jsx
  Frontend/src/pages/AdminPage.jsx
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

feat(admin): ship clean admin UX with attribution and payouts rollout
  Frontend/pages/admin/+Page.jsx
  Frontend/src/components/AdminTabs.jsx
  Frontend/src/components/AttributionTab.css
  Frontend/src/components/AttributionTab.jsx
  Frontend/src/components/PayoutTab.css
  Frontend/src/components/PayoutTab.jsx
  Frontend/src/lib/axios.js
  Frontend/src/pages/AdminPage.jsx
  backend/api/index.js
  backend/middleware/adminSession.js
  backend/models/Order.js
  backend/models/Payout.js
  backend/models/User.js
  backend/routes/admin.js
  backend/routes/attribution.js
  backend/routes/auth.js
  backend/routes/payouts.js
  backend/utils/attributionParser.js
  docs/README.md
  docs/TECH-STACK-TOOLS-BLUEPRINT.md
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

fix(frontend): add clean admin redirect entrypoints for pages deploy
  Frontend/public/admin/index.html
  Frontend/public/admin/orders/index.html
Due: none

feat(admin): add OpenClaw tab + fix CI node version + add custodian agent
  .github/agents/my-agent.agent.md
  .github/agents/pva-eternal-custodian.agent.md
  .github/workflows/openclaw-integration.yml
  Frontend/src/components/AdminTabs.jsx
  Frontend/src/components/OpenClawTab.css
  Frontend/src/components/OpenClawTab.jsx
  Frontend/src/pages/AdminPage.jsx
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

refactor(agents): merge into single PVA Magnum Opus agent
  .github/agents/my-agent.agent.md
  .github/agents/pva-eternal-custodian.agent.md
  .github/agents/pva-magnum-opus.agent.md
Due: prettier --write

feat(openclaw): add autonomous 24/7 message queue + responder workflow
  .github/scripts/openclaw-respond.mjs
  .github/workflows/openclaw-agent.yml
  Frontend/src/components/OpenClawTab.css
  Frontend/src/components/OpenClawTab.jsx
  backend/models/OpenClawMessage.js
  backend/routes/openclaw.js
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

fix(auth): allow admin login by username and recover env admin account
  backend/routes/auth.js
  backend/seed.js
Due: eslint --fix, prettier --write

fix(auth): make env-admin login deterministic when DB user is out of sync
  backend/routes/auth.js
Due: eslint --fix, prettier --write

chore(openclaw): harden autonomous production runtime
  .github/scripts/openclaw-respond.mjs
  .github/workflows/openclaw-agent.yml
  backend/routes/openclaw.js
Due: eslint --fix, prettier --write

ci(openclaw): make dependency install resilient in integration workflow
  .github/workflows/openclaw-integration.yml
Due: prettier --write

fix(openclaw): allow admin JWT for console dispatch and message reads
  backend/routes/openclaw.js
Due: eslint --fix, prettier --write

fix(openclaw): force backend redeploy + fix 401 logout loop in admin UI
  .github/agents/my-agent.agent.md
  Frontend/src/components/OpenClawTab.jsx
  Frontend/src/lib/axios.js
  backend/api/index.js
Due: eslint --fix, prettier --write

feat(bounty-hunter): AI crypto bounty scanning agent with HITL admin dashboard
  .github/workflows/bounty-scan.yml
  Frontend/src/components/AdminTabs.jsx
  Frontend/src/components/BountyHunterTab.css
  Frontend/src/components/BountyHunterTab.jsx
  Frontend/src/pages/AdminPage.jsx
  backend/api/index.js
  backend/models/Bounty.js
  backend/routes/bounties.js
  backend/service/bountyHunter.js
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

feat(openclaw): add queue diagnostics, replay recovery, and uptime monitor
  .github/workflows/openclaw-uptime-monitor.yml
  Frontend/src/components/OpenClawTab.jsx
  backend/routes/openclaw.js
Due: eslint --fix, prettier --write

feat(openclaw): add self-heal automation and store maintenance
  .github/workflows/openclaw-self-heal.yml
  .github/workflows/openclaw-store-maintenance.yml
  .github/workflows/openclaw-uptime-monitor.yml
  backend/routes/openclaw.js
Due: eslint --fix, prettier --write

fix(ci): use env vars in uptime monitor if conditions
  .github/workflows/openclaw-uptime-monitor.yml
Due: prettier --write

fix(ci): skip openclaw heal/maintenance when admin jwt missing
  .github/workflows/openclaw-self-heal.yml
  .github/workflows/openclaw-store-maintenance.yml
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,yml,yaml,md})) or (any of: *.{css,scss})
  node qa/scripts/check-brand-tokens.js: any of: *.{css,scss}
  forge fmt: any of: apps/contracts/**/*.sol
  sort-package-json: any of: package.json
