Repository PVAGR/pva-bazaar-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js, forge fmt, sort-package-json

feat(phase7e): fractional ownership panel and ledger on item detail
  Frontend/src/pages/MarketplaceItemPage.css
  Frontend/src/pages/MarketplaceItemPage.jsx
  backend/lib/itemNormalize.js
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

feat(phase7-launch): production deployment automation and readiness assets
  Frontend/.env.example
  backend/.env.example
  contracts/.env.example
  contracts/hardhat.config.js
  contracts/package.json
  contracts/scripts/deploy.js
  package.json
  scripts/deploy-production.mjs
  server/healthCheck.js
  server/package.json
Due: eslint --fix, prettier --write, sort-package-json

feat(phase7e): live share purchase — Stripe checkout, SharePurchase model, webhook + finalize handlers
  Frontend/src/lib/api.js
  Frontend/src/pages/CheckoutSuccessPage.jsx
  Frontend/src/pages/MarketplaceItemPage.jsx
  backend/models/SharePurchase.js
  backend/routes/checkout.js
  backend/routes/items.js
  backend/routes/webhooksStripe.js
Due: eslint --fix, prettier --write

fix(phase7e): release reserved shares on failed/expired checkout and rollback on session-create errors
  backend/routes/items.js
  backend/routes/webhooksStripe.js
Due: eslint --fix, prettier --write

feat(admin): add share purchase ops endpoint and dashboard stats
  backend/routes/admin.js
Due: eslint --fix, prettier --write

feat(dpp): add Digital Product Passport core model and API
  backend/api/index.js
  backend/models/DigitalProductPassport.js
  backend/routes/dpp.js
Due: eslint --fix, prettier --write

feat(dpp): auto-append lifecycle sale events from checkout and webhook flows
  backend/routes/checkout.js
  backend/routes/webhooksStripe.js
  backend/service/dppLifecycleService.js
Due: eslint --fix, prettier --write

feat(dpp-omni): append transformed/resold/shipped events from omnichannel flows
  backend/routes/omnichannel.js
  backend/service/omnichannelSyncService.js
Due: eslint --fix, prettier --write

feat(dpp): add timeline query and event stats endpoints
  backend/routes/dpp.js
Due: eslint --fix, prettier --write

fix(dev): restore stable root startup for website stack
  package.json
Due: prettier --write, sort-package-json

Revert "fix(dev): restore stable root startup for website stack"
  package.json
Due: prettier --write, sort-package-json

Revert "fix(phase7e): release reserved shares on failed/expired checkout and rollback on session-create errors"
  backend/routes/items.js
  backend/routes/webhooksStripe.js
Due: eslint --fix, prettier --write

Revert "feat(dpp): auto-append lifecycle sale events from checkout and webhook flows"
  backend/routes/checkout.js
  backend/routes/webhooksStripe.js
  backend/service/dppLifecycleService.js
Due: eslint --fix, prettier --write

Revert "feat(phase7e): live share purchase — Stripe checkout, SharePurchase model, webhook + finalize handlers"
  Frontend/src/lib/api.js
  Frontend/src/pages/CheckoutSuccessPage.jsx
  Frontend/src/pages/MarketplaceItemPage.jsx
  backend/models/SharePurchase.js
  backend/routes/checkout.js
  backend/routes/items.js
  backend/routes/webhooksStripe.js
Due: eslint --fix, prettier --write

Revert "feat(admin): add share purchase ops endpoint and dashboard stats"
  backend/routes/admin.js
Due: eslint --fix, prettier --write

Revert "feat(dpp-omni): append transformed/resold/shipped events from omnichannel flows"
  backend/routes/omnichannel.js
  backend/service/omnichannelSyncService.js
Due: eslint --fix, prettier --write

Revert "feat(dpp): add timeline query and event stats endpoints"
  backend/routes/dpp.js
Due: eslint --fix, prettier --write

Revert "feat(dpp): add Digital Product Passport core model and API"
  backend/api/index.js
  backend/models/DigitalProductPassport.js
  backend/routes/dpp.js
Due: eslint --fix, prettier --write

Restore live content with static fallback APIs
  backend/lib/staticContent.js
  backend/routes/archive.js
  backend/routes/items.js
  backend/routes/search.js
Due: eslint --fix, prettier --write

Revert "Restore live content with static fallback APIs"
  backend/lib/staticContent.js
  backend/routes/archive.js
  backend/routes/items.js
  backend/routes/search.js
Due: eslint --fix, prettier --write

rollback(frontend): restore static archive/journal rendering from 6f50f08
  Frontend/src/App.jsx
  Frontend/src/components/Layout.jsx
  Frontend/src/lib/archiveApi.js
  Frontend/src/lib/entries.js
  Frontend/src/pages/AboutPage.jsx
  Frontend/src/pages/ArchivePage.jsx
  Frontend/src/pages/EntryDetail.jsx
  Frontend/src/pages/JournalPage.jsx
  Frontend/src/pages/SearchPage.jsx
Due: eslint --fix, prettier --write

Revert "rollback(frontend): restore static archive/journal rendering from 6f50f08"
  Frontend/src/App.jsx
  Frontend/src/components/Layout.jsx
  Frontend/src/lib/archiveApi.js
  Frontend/src/lib/entries.js
  Frontend/src/pages/AboutPage.jsx
  Frontend/src/pages/ArchivePage.jsx
  Frontend/src/pages/EntryDetail.jsx
  Frontend/src/pages/JournalPage.jsx
  Frontend/src/pages/SearchPage.jsx
Due: eslint --fix, prettier --write

Reapply "Restore live content with static fallback APIs"
  backend/lib/staticContent.js
  backend/routes/archive.js
  backend/routes/items.js
  backend/routes/search.js
Due: eslint --fix, prettier --write

fix(routing): redirect deep-link 404s to hash routes
  404.html
  Frontend/public/404.html
Due: none

fix(frontend): publish SPA 404 hash redirect source
  Frontend/404.html
Due: none

fix(frontend): normalize deep-link paths into hash routes at app bootstrap
  Frontend/index.html
Due: none

restore(candidate): align core app to f3b7917 pre-revert state
  Frontend/index.html
  Frontend/public/404.html
  Frontend/src/lib/api.js
  Frontend/src/pages/CheckoutSuccessPage.jsx
  Frontend/src/pages/MarketplaceItemPage.jsx
  backend/api/index.js
  backend/models/DigitalProductPassport.js
  backend/models/SharePurchase.js
  backend/routes/admin.js
  backend/routes/archive.js
  backend/routes/checkout.js
  backend/routes/dpp.js
  backend/routes/items.js
  backend/routes/omnichannel.js
  backend/routes/search.js
  backend/routes/webhooksStripe.js
  backend/service/dppLifecycleService.js
  backend/service/omnichannelSyncService.js
  package.json
Due: eslint --fix, prettier --write, sort-package-json

restore(candidate): align core app to 0c39544 live-content state
  Frontend/src/lib/api.js
  Frontend/src/pages/CheckoutSuccessPage.jsx
  Frontend/src/pages/MarketplaceItemPage.jsx
  backend/api/index.js
  backend/routes/admin.js
  backend/routes/archive.js
  backend/routes/checkout.js
  backend/routes/items.js
  backend/routes/omnichannel.js
  backend/routes/search.js
  backend/routes/webhooksStripe.js
  backend/service/omnichannelSyncService.js
  package.json
Due: eslint --fix, prettier --write, sort-package-json

fix(ci): restore deploy workflows from 7a94aa1 to unblock production rollouts
  .github/workflows/deploy-backend.yml
  .github/workflows/deploy-frontend.yml
  .github/workflows/deploy-to-github-pages.yml
  .github/workflows/deploy.yml
  .github/workflows/quality-gates.yml
  .github/workflows/secret-scan.yml
  .github/workflows/security-audit.yml
Due: prettier --write

Revert "fix(ci): restore deploy workflows from 7a94aa1 to unblock production rollouts"
  .github/workflows/deploy-backend.yml
  .github/workflows/deploy-frontend.yml
  .github/workflows/deploy-to-github-pages.yml
  .github/workflows/deploy.yml
  .github/workflows/quality-gates.yml
  .github/workflows/secret-scan.yml
  .github/workflows/security-audit.yml
Due: prettier --write

fix(archive): show full archive corpus from api in library view
  Frontend/src/pages/ArchiveLibraryPage.jsx
Due: eslint --fix, prettier --write

fix(ci): restore deploy-safe env/config/theme files on content candidate
  Frontend/.env.production
  Frontend/package-lock.json
  Frontend/package.json
  Frontend/src/base.css
  Frontend/src/pages/AdminOrdersPage.css
  Frontend/src/pages/AdminPage.css
  Frontend/src/pages/MarketplaceItemPage.css
  Frontend/src/pages/MarketplacePage.css
  backend/.env.example
  backend/.env.production
  backend/package-lock.json
  backend/package.json
  package-lock.json
  package.json
  vercel.json
Due: prettier --write, node qa/scripts/check-brand-tokens.js, sort-package-json

fix(live-content): restore archive/items/search fallback merge logic
  backend/routes/archive.js
  backend/routes/items.js
  backend/routes/search.js
Due: eslint --fix, prettier --write

fix(recovery): restore backend runtime to known good live baseline
  backend/README.md
  backend/api/index.js
  backend/lib/itemNormalize.js
  backend/lib/stripeClient.js
  backend/middleware/adminSession.js
  backend/middleware/auth.js
  backend/models/Artifact.js
  backend/models/Order.js
  backend/models/StripeEventLog.js
  backend/models/User.js
  backend/routes/admin.js
  backend/routes/adminLogin.js
  backend/routes/artifacts.js
  backend/routes/auth.js
  backend/routes/blockchain.js
  backend/routes/certificates.js
  backend/routes/checkout.js
  backend/routes/comments.js
  backend/routes/contribute.js
  backend/routes/dashboard.js
  backend/routes/health.js
  backend/routes/manifesto-ai-routes.js
  backend/routes/market.js
  backend/routes/orders.js
  backend/routes/partners.js
  backend/routes/transactions.js
  backend/routes/users.js
  backend/routes/webhooksStripe.js
  backend/seed.js
  backend/utils/blockchain.js
Due: eslint --fix, prettier --write

restore(admin): reinstate wide multi-channel tabbed admin cockpit
  Frontend/src/components/AdminTabs.jsx
  Frontend/src/components/CloudStorageTab.jsx
  Frontend/src/components/DashboardTab.jsx
  Frontend/src/components/HealthTab.jsx
  Frontend/src/lib/api.js
  Frontend/src/pages/AdminPage.jsx
Due: eslint --fix, prettier --write

fix(admin): restore royalty analytics and settlements tabs
  Frontend/src/components/AdminTabs.jsx
  Frontend/src/pages/AdminPage.jsx
Due: eslint --fix, prettier --write

fix(ci): stabilize frontend tests and gate vercel deploy on secrets
  .github/workflows/deploy-frontend.yml
  Frontend/vite.config.js
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,yml,yaml,md})) or (any of: *.{css,scss})
  node qa/scripts/check-brand-tokens.js: any of: *.{css,scss}
  forge fmt: any of: apps/contracts/**/*.sol
  sort-package-json: any of: package.json
