Repository PVAGR/pva-bazaar-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js, forge fmt, sort-package-json

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,yml,yaml,md}": [
    "prettier --write"
  ],
  "*.{css,scss}": [
    "prettier --write",
    "node qa/scripts/check-brand-tokens.js"
  ],
  "apps/contracts/**/*.sol": [
    "forge fmt"
  ],
  "package.json": [
    "sort-package-json"
  ]
}

docs(library): add deployment verification suite and tests
  backend/routes/__tests__/library.test.js
  docs/DEPLOYMENT-ORCHESTRATION.md
  docs/DEPLOYMENT-VERIFY-LIBRARY.md
  scripts/verify-library-deployment.ps1
  scripts/verify-library-deployment.sh
Due: eslint --fix, prettier --write

docs: add comprehensive deployment status report
  DEPLOYMENT-STATUS-LIBRARY.md
Due: prettier --write

docs: add comprehensive next-phase roadmap and recommendations
  ROADMAP-NEXT-PHASE.md
Due: prettier --write

fix(frontend): point production API to live backend for dynamic data
  Frontend/.env.production
  Frontend/src/config/env.ts
Due: eslint --fix, prettier --write

feat(creator): add tabbed public item submission portal
  Frontend/.env.example
  Frontend/src/config/env.ts
  Frontend/src/pages/CreatorPortalPage.css
  Frontend/src/pages/CreatorPortalPage.jsx
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

feat(deals): add public share and participant verification flow
  Frontend/src/App.jsx
  Frontend/src/components/Layout.jsx
  Frontend/src/lib/api.js
  Frontend/src/pages/DealPublicPage.jsx
  Frontend/src/pages/DealsPage.jsx
  backend/__tests__/dealVisibility.test.js
  backend/models/Deal.js
  backend/routes/deals.js
  backend/utils/dealVisibility.js
Due: eslint --fix, prettier --write

ci(workflows): soften theme debt gate and enable manual render dispatch
  .github/workflows/deploy-render.yml
  .github/workflows/frontend.yml
Due: prettier --write

ci(backend): enforce real deploy success and live sha parity
  .github/workflows/deploy-backend-live.yml
Due: prettier --write

fix(frontend): add invite-token fallback for live deal sharing
  Frontend/src/pages/DealPublicPage.jsx
  Frontend/src/pages/DealsPage.jsx
Due: eslint --fix, prettier --write

feat(frontend): add local-only deal mode without backend
  Frontend/src/App.jsx
  Frontend/src/components/Layout.jsx
  Frontend/src/lib/localDealStore.js
  Frontend/src/pages/DealLocalPublicPage.jsx
  Frontend/src/pages/DealsLocalPage.jsx
Due: eslint --fix, prettier --write

fix(frontend): remove local-only deal mode
  Frontend/src/App.jsx
  Frontend/src/components/Layout.jsx
  Frontend/src/lib/localDealStore.js
  Frontend/src/pages/DealLocalPublicPage.jsx
  Frontend/src/pages/DealsLocalPage.jsx
Due: eslint --fix, prettier --write

feat(frontend): add seamless global navigation flow
  Frontend/src/App.jsx
  Frontend/src/base.css
  Frontend/src/components/Layout.jsx
  Frontend/src/config/publicRoutes.js
  Frontend/src/pages/OpeningHomePage.css
  Frontend/src/pages/OpeningHomePage.jsx
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

style(frontend): convert plain hyperlinks to themed button links
  Frontend/src/base.css
Due: prettier --write, node qa/scripts/check-brand-tokens.js

feat(frontend): add dynamic sitemap and interactive planet map tab
  Frontend/src/pages/FederationMapPage.css
  Frontend/src/pages/FederationMapPage.jsx
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

feat(federation): add persistent map game state and world feed
  Frontend/src/lib/api.js
  Frontend/src/pages/FederationMapPage.css
  Frontend/src/pages/FederationMapPage.jsx
  backend/models/FederationGameState.js
  backend/models/FederationWorldEvent.js
  backend/routes/federation.js
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

feat(federation): add factions and sector control gameplay
  Frontend/src/lib/api.js
  Frontend/src/pages/FederationMapPage.css
  Frontend/src/pages/FederationMapPage.jsx
  backend/models/FederationFaction.js
  backend/models/FederationSectorControl.js
  backend/models/FederationWorldEvent.js
  backend/routes/federation.js
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

feat(federation): add HK progression and TS config cleanup
  Frontend/src/lib/api.js
  Frontend/src/pages/FederationMapPage.css
  Frontend/src/pages/FederationMapPage.jsx
  Frontend/tsconfig.json
  apps/pva-bazaar-web/tsconfig.json
  backend/models/FederationPassportHash.js
  backend/models/FederationProgressionEvent.js
  backend/models/User.js
  backend/routes/federation.js
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

fix(frontend): ignore unsafe API overrides
  Frontend/src/lib/api.js
  Frontend/src/lib/axios.js
Due: eslint --fix, prettier --write

fix(federation): proxy ip detect and soften bootstrap
  Frontend/src/lib/api.js
  Frontend/src/pages/FederationMapPage.jsx
  backend/routes/federation.js
Due: eslint --fix, prettier --write

fix(federation): remove blue CTA links and harden map errors
  Frontend/src/config/publicRoutes.js
  Frontend/src/pages/FederationMapPage.jsx
  Frontend/src/pages/OpeningHomePage.css
  Frontend/src/pages/OpeningHomePage.jsx
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

fix(passport): add federation map access
  Frontend/src/pages/PassportPage.css
  Frontend/src/pages/PassportPage.jsx
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

fix: restore archive legacy db login
  backend/api/index.js
  backend/archive/ARCHIVE_MASTER_INDEX.md
  backend/archive/Archive-Entry-001-Man-From-Taured-Part-1.md
  backend/archive/Archive-Entry-002-Man-From-Taured-Part-2.md
  backend/archive/Archive-Entry-003-Spiritual-Core-Asha-vs-Druj.md
  backend/archive/Archive-Entry-004-Divine-Connection-Consciousness.md
  backend/archive/Archive-Entry-005-The-Distributed-Flame.md
  backend/archive/Archive-Entry-006-Religious-Texts-Manipulation.md
  backend/archive/Archive-Entry-007-Unsettled-Soul-Demiurge.md
  backend/archive/Archive-Entry-008-Dharmic-Quest.md
  backend/archive/Archive-Entry-009-Bioharmonic-Suit.md
  backend/archive/Archive-Entry-010-Vimana-Technology.md
  backend/archive/Archive-Entry-011-PVA-Bazaar-Business-Model.md
  backend/archive/Archive-Entry-012-Hermit-Journey.md
  backend/archive/Archive-Entry-013-Simulation-Reality-Consciousness.md
  backend/archive/Archive-Entry-014-Essays-Reflections.md
  backend/archive/Archive-Entry-015-Ziggurat-Hub-Architecture.md
  backend/archive/Archive-Entry-016-Master-Integration.md
  backend/archive/Archive-Entry-017-PVA-Bazaar-Vision-Magnum-Opus.md
  backend/archive/Archive-Entry-018-PVA-Food-and-Ancient-Wisdom.md
  backend/archive/Archive-Entry-019-PVA-Dynamic-Provenance-Exchange.md
  backend/archive/Archive-Entry-020-Digital-Halls-and-Collectors-Lounges.md
  backend/archive/Archive-Entry-021-PVA-Nation-Progressive-Sovereign-Digital-Nation.md
  backend/archive/Archive-Entry-022-Akashic-Records-Asha-Neural-Modulation.md
  backend/archive/Archive-Entry-023-The-Battle-of-Awakening.md
  backend/archive/Archive-Entry-024-The-Gods-Chosen-People-Myth.md
  backend/archive/Archive-Entry-025-Ashas-Children-Warriors-of-Truth.md
  backend/archive/Archive-Entry-026-Essential-Books-and-Teachings.md
  backend/archive/Archive-Entry-027-Infinite-Jobs-Building-Eternal-Renewal.md
  backend/archive/Archive-Entry-028-Magnum-Opus-Guide-Eternal-Renewal-Civilization.md
  backend/archive/Archive-Entry-029-Man-From-Taured-Prologue.md
  backend/lib/staticContent.js
  backend/routes/adminLogin.js
Due: eslint --fix, prettier --write

Add HeelKawn download pages and wire routes in Vite + Next frontends
  Frontend/src/App.jsx
  Frontend/src/config/publicRoutes.js
  Frontend/src/pages/DownloadAppPage.jsx
  Frontend/src/pages/HeelKawnPage.jsx
  apps/pva-bazaar-web/src/app/get-started/page.tsx
  apps/pva-bazaar-web/src/app/heelkawn/page.tsx
  apps/pva-bazaar-web/src/app/layout.tsx
  apps/pva-bazaar-web/src/app/sitemap.ts
Due: eslint --fix, prettier --write

Point HeelKawn download buttons to Android APK release URL
  Frontend/src/pages/DownloadAppPage.jsx
  Frontend/src/pages/HeelKawnPage.jsx
  apps/pva-bazaar-web/src/app/heelkawn/page.tsx
Due: eslint --fix, prettier --write

feat(heelkawn): add armory hub UI and PC download link
  Frontend/src/base.css
  Frontend/src/config/publicRoutes.js
  Frontend/src/pages/HeelKawnPage.jsx
  apps/pva-bazaar-web/src/app/heelkawn/page.tsx
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

feat(admin): lock OpenClaw behind auth and add GitHub OAuth admin login
  .env.example
  .env.local.example
  Frontend/src/pages/AdminPage.css
  Frontend/src/pages/AdminPage.jsx
  backend/README.md
  backend/routes/adminLogin.js
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

security(openclaw): enforce admin-only widget and public endpoint access
  Frontend/src/components/Layout.jsx
  backend/routes/openclaw.js
Due: eslint --fix, prettier --write

feat(openclaw+heelkawn): ship admin-gated OpenClaw UX, recovery page, and SEO surface upgrades
  Frontend/.env.example
  Frontend/package-lock.json
  Frontend/src/base.css
  Frontend/src/components/OpenClawTab.css
  Frontend/src/components/OpenClawTab.jsx
  Frontend/src/pages/DownloadAppPage.jsx
  Frontend/src/pages/HeelKawnPage.jsx
  apps/pva-bazaar-web/.env.example
  apps/pva-bazaar-web/next.config.mjs
  apps/pva-bazaar-web/package-lock.json
  apps/pva-bazaar-web/src/app/api/heelkawn/ops/route.ts
  apps/pva-bazaar-web/src/app/get-started/page.tsx
  apps/pva-bazaar-web/src/app/heelkawn/page.tsx
  apps/pva-bazaar-web/src/app/layout.tsx
  apps/pva-bazaar-web/src/app/manifest.ts
  apps/pva-bazaar-web/src/app/opengraph-image.tsx
  apps/pva-bazaar-web/src/app/recovery/page.tsx
  apps/pva-bazaar-web/src/app/recovery/recovery-client.tsx
  apps/pva-bazaar-web/src/app/robots.ts
  apps/pva-bazaar-web/src/app/sitemap.ts
  apps/pva-bazaar-web/src/app/twitter-image.tsx
  apps/pva-bazaar-web/src/lib/heelkawn-ops.ts
  apps/pva-bazaar-web/src/lib/siteUrl.ts
  backend/api/index.js
  backend/models/RecoverySnapshot.js
  backend/routes/chat.js
  backend/routes/recovery.js
  docs/CONTINUITY_PROGRESS_TRACKER.md
  docs/DEVICE_LOSS_RECOVERY_RUNBOOK.md
  docs/GLOBAL_ACCESS_AND_STABILITY.md
  docs/OPENCLAW_CONTINUITY_SETUP.md
  docs/README.md
  docs/SECURITY_HARDENING_CHECKLIST.md
  docs/TRAVEL_CONTINUITY_START_HERE.md
  package.json
  scripts/verify-heelkawn-env.mjs
  scripts/verify-seo-surface.mjs
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js, sort-package-json

feat(downloads): HeelKawn Android playtest on pvabazaar.org
  .github/workflows/deploy-frontend.yml
  .gitignore
  Frontend/public/downloads/.gitkeep
  Frontend/public/downloads/heelkawn-playtest.json
  Frontend/src/base.css
  Frontend/src/config/heelkawnDownload.js
  Frontend/src/pages/DownloadAppPage.jsx
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

fix(downloads): complete HeelKawn download page JSX
  Frontend/src/pages/DownloadAppPage.jsx
Due: eslint --fix, prettier --write

Add Meow fintech backend integration routes and config
  backend/.env.example
  backend/api/index.js
  backend/docs/MEOW_INTEGRATION.md
  backend/routes/meow.js
  backend/services/meowService.js
Due: eslint --fix, prettier --write

Expose public Meow test surface and add live Meow page
  apps/pva-bazaar-web/src/app/layout.tsx
  apps/pva-bazaar-web/src/app/meow/page.tsx
  backend/.env.example
  backend/docs/MEOW_INTEGRATION.md
  backend/routes/meow.js
Due: eslint --fix, prettier --write

feat: unify public entry and sanctuary deployment
  .env.example
  .github/workflows/deploy-sanctuary.yml
  Frontend/index.html
  Frontend/public/llms.txt
  Frontend/public/readable-site.json
  Frontend/public/sitemap.xml
  Frontend/src/App.jsx
  Frontend/src/components/FederationManifesto.jsx
  Frontend/src/components/Layout.jsx
  Frontend/src/config/env.ts
  Frontend/src/config/publicRoutes.js
  Frontend/src/pages/AboutPage.jsx
  Frontend/src/pages/GetStartedPage.jsx
  Frontend/src/pages/OpeningHomePage.css
  Frontend/src/pages/OpeningHomePage.jsx
  apps/pva-bazaar-web/.env.example
  apps/pva-bazaar-web/next.config.mjs
  apps/pva-bazaar-web/src/app/seller/dashboard/page.tsx
  apps/pva-bazaar-web/src/app/seller/settings/page.tsx
  backend/package-lock.json
  backend/package.json
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js, sort-package-json

feat: add founder command center
  Frontend/src/App.jsx
  Frontend/src/components/AdminNav.jsx
  Frontend/src/pages/UserDashboard.css
  Frontend/src/pages/UserDashboard.jsx
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

feat: add writing studio
  Frontend/src/App.jsx
  Frontend/src/components/AdminNav.jsx
  Frontend/src/pages/BlogPostPage.css
  Frontend/src/pages/BlogPostPage.jsx
  Frontend/src/pages/JournalPage.jsx
  Frontend/src/pages/UserDashboard.jsx
  Frontend/src/pages/WritingStudioPage.css
  Frontend/src/pages/WritingStudioPage.jsx
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

feat: launch books and continuity backups
  Frontend/public/llms.txt
  Frontend/public/readable-site.json
  Frontend/public/sitemap.xml
  Frontend/src/App.jsx
  Frontend/src/components/Layout.jsx
  Frontend/src/config/publicRoutes.js
  Frontend/src/data/books.js
  Frontend/src/pages/AboutPage.jsx
  Frontend/src/pages/BooksPage.css
  Frontend/src/pages/BooksPage.jsx
  Frontend/src/pages/OpeningHomePage.css
  Frontend/src/pages/OpeningHomePage.jsx
  Frontend/src/pages/UserDashboard.jsx
  Frontend/src/pages/WritingStudioPage.css
  Frontend/src/pages/WritingStudioPage.jsx
  backend/routes/admin.js
  backend/routes/adminLogin.js
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

feat: refresh sanctuary pages and federation layout
  Frontend/src/base.css
  Frontend/src/components/FederationManifesto.jsx
  Frontend/src/components/Layout.jsx
  Frontend/src/components/SellerFAQ.jsx
  Frontend/src/data/books.js
  Frontend/src/lib/philosophy.js
  Frontend/src/pages/AboutPage.css
  Frontend/src/pages/AboutPage.jsx
  Frontend/src/pages/BooksPage.css
  Frontend/src/pages/BooksPage.jsx
  Frontend/src/pages/BrokerHubPage.css
  Frontend/src/pages/BrokerHubPage.jsx
  Frontend/src/pages/ContactsPage.css
  Frontend/src/pages/ContactsPage.jsx
  Frontend/src/pages/CreatorPortalPage.css
  Frontend/src/pages/CreatorPortalPage.jsx
  Frontend/src/pages/DealsPage.css
  Frontend/src/pages/DealsPage.jsx
  Frontend/src/pages/GetStartedPage.css
  Frontend/src/pages/GetStartedPage.jsx
  Frontend/src/pages/OpeningHomePage.css
  Frontend/src/pages/OpeningHomePage.jsx
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

Add recovery route and clean site surfaces
  Frontend/index.html
  Frontend/public/sitemap.xml
  Frontend/public/status.html
  Frontend/scripts/copy-src-to-dist.cjs
  Frontend/src/App.jsx
  Frontend/src/components/Layout.jsx
  Frontend/src/config/publicRoutes.js
  Frontend/src/pages/HomePage.jsx
  Frontend/src/pages/OpeningHomePage.css
  Frontend/src/pages/OpeningHomePage.jsx
  Frontend/src/pages/RecoveryPage.jsx
  public/app.js
  public/index.html
  public/llms.txt
  public/readable-site.json
  public/sitemap.xml
  public/status.html
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

Expand recovery continuity dashboard
  Frontend/src/pages/RecoveryPage.css
  Frontend/src/pages/RecoveryPage.jsx
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

Add account-backed recovery dashboard
  CHANGELOG.md
  CURRENT_STATUS.md
  Frontend/src/lib/api.js
  Frontend/src/lib/recoveryVault.js
  Frontend/src/pages/RecoveryPage.css
  Frontend/src/pages/RecoveryPage.jsx
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js
