Repository PVAGR/pva-bazaar-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js, forge fmt, sort-package-json

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,yml,yaml,md}": [
    "prettier --write"
  ],
  "*.{css,scss}": [
    "prettier --write",
    "node qa/scripts/check-brand-tokens.js"
  ],
  "apps/contracts/**/*.sol": [
    "forge fmt"
  ],
  "package.json": [
    "sort-package-json"
  ]
}

chore: update health endpoint with timestamp to trigger Vercel redeploy
  backend/routes/health.js
Due: eslint --fix, prettier --write

fix: ensure CORS headers on all responses including errors, fix health endpoint to not require DB
  backend/api/index.js
  backend/routes/health.js
Due: eslint --fix, prettier --write

fix: correct module export for Vercel - must export app directly
  backend/api/index.js
Due: eslint --fix, prettier --write

add: CORS headers in vercel.json as belt-and-suspenders approach
  backend/vercel.json
Due: prettier --write

docs: add CORS fixes documentation to backend
  backend/CORS_FIXES.md
Due: prettier --write

fix: use unconditional CORS middleware per Express best practices
  backend/api/index.js
Due: eslint --fix, prettier --write

fix: route /api to backend/api/index.js with CORS headers
  vercel.json
Due: prettier --write

docs: add CORS verification report with testing results
  CORS_VERIFICATION_COMPLETE.md
Due: prettier --write

fix: Route /api/* through Vercel serverless function to Express
  api/index.js
  backend/api/index.js
  backend/vercel.json
  vercel.json
Due: eslint --fix, prettier --write

fix: Remove individual serverless functions, use only api/index.js
  api/health.js
  api/server.js
Due: eslint --fix, prettier --write

fix: Remove [...all].js catch-all, rely on vercel.json rewrite
  api/[...all].js
Due: eslint --fix, prettier --write

fix: Remove premature module.exports before error handlers
  backend/api/index.js
Due: eslint --fix, prettier --write

fix: Use Vercel catch-all route pattern for /api
  api/[...path].js
  vercel.json
Due: eslint --fix, prettier --write

docs: Add comprehensive dev & deployment guides
  DEPLOYMENT_CHECKLIST_PRODUCTION.md
  INTEGRATION_GUIDE.md
  LOCAL_SETUP.md
  QUICK_REFERENCE.md
  TROUBLESHOOTING_PERFORMANCE.md
Due: prettier --write

docs: Add comprehensive assistance completion report
  ASSISTANCE_COMPLETE.md
Due: prettier --write

docs: Add comprehensive findings report
  COMPREHENSIVE_FINDINGS_REPORT.md
Due: prettier --write

fix: critical fixes for production readiness
  .turbo/cookies/1.cookie
  .turbo/daemon/e36dca2a47dc8e89-turbo.log.2026-01-22
  Frontend/vite.config.js
  backend/routes/market.js
  packages/oracle-engine/dist/index.d.ts
  packages/oracle-engine/dist/index.d.ts.map
  packages/oracle-engine/dist/index.js
  packages/oracle-engine/dist/schema.d.ts
  packages/oracle-engine/dist/schema.d.ts.map
  packages/oracle-engine/dist/schema.js
Due: eslint --fix, prettier --write

docs: comprehensive deployment guides for production
  PRODUCTION_DEPLOYMENT_GUIDE.md
  QUICK_DEPLOYMENT_CHECKLIST.md
Due: prettier --write

docs: add comprehensive go-live guide
  GO_LIVE_GUIDE.md
Due: prettier --write

docs: professional GitHub repository setup
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/pull_request_template.md
  CONTRIBUTING.md
  LICENSE
  README_OLD.md
  SECURITY.md
  readme.md
Due: prettier --write

docs: add code of conduct and changelog
  CHANGELOG.md
  CODE_OF_CONDUCT.md
Due: prettier --write

fix: correct archive API endpoints with /api prefix in frontend api.js
  Frontend/src/lib/api.js
Due: eslint --fix, prettier --write

fix: correct archive API baseURL configuration - fix double /api prefix error
  Frontend/.env.production
  Frontend/src/lib/api.js
Due: eslint --fix, prettier --write

fix: add /ping and /version endpoints to health routes
  backend/api/index.js
  backend/routes/health.js
Due: eslint --fix, prettier --write

chore: configure vercel routes for api
  vercel.json
Due: prettier --write

fix: configure backend vercel deployment
  backend/vercel.json
Due: prettier --write

fix: update vercel.json to use node builds for backend
  backend/vercel.json
Due: prettier --write

docs: add vercel environment variables setup guide
  VERCEL_ENV_SETUP.md
Due: prettier --write

fix: improve admin login error handling and add JWT secret check
  backend/routes/adminLogin.js
Due: eslint --fix, prettier --write

milestone: admin authentication working - v0.1.1
  readme.md
Due: prettier --write

fix: extract items array from fetchArchiveEntries response
  Frontend/src/pages/AdminPage.jsx
Due: eslint --fix, prettier --write

feat: make connection status collapsible dropdown next to theme toggle
  Frontend/src/pages/AdminPage.css
  Frontend/src/pages/AdminPage.jsx
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

fix: move refresh and logout buttons to header next to home button
  Frontend/src/pages/AdminPage.css
  Frontend/src/pages/AdminPage.jsx
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

fix: make all header buttons consistent size and style
  Frontend/src/pages/AdminPage.css
Due: prettier --write, node qa/scripts/check-brand-tokens.js

chore: add archive entries 017-029
  Frontend/public/archive/Archive-Entry-017-PVA-Bazaar-Vision-Magnum-Opus.md
  Frontend/public/archive/Archive-Entry-018-PVA-Food-and-Ancient-Wisdom.md
  Frontend/public/archive/Archive-Entry-019-PVA-Dynamic-Provenance-Exchange.md
  Frontend/public/archive/Archive-Entry-020-Digital-Halls-and-Collectors-Lounges.md
  Frontend/public/archive/Archive-Entry-021-PVA-Nation-Progressive-Sovereign-Digital-Nation.md
  Frontend/public/archive/Archive-Entry-022-Akashic-Records-Asha-Neural-Modulation.md
  Frontend/public/archive/Archive-Entry-023-The-Battle-of-Awakening.md
  Frontend/public/archive/Archive-Entry-024-The-Gods-Chosen-People-Myth.md
  Frontend/public/archive/Archive-Entry-025-Ashas-Children-Warriors-of-Truth.md
  Frontend/public/archive/Archive-Entry-026-Essential-Books-and-Teachings.md
  Frontend/public/archive/Archive-Entry-027-Infinite-Jobs-Building-Eternal-Renewal.md
  Frontend/public/archive/Archive-Entry-028-Magnum-Opus-Guide-Eternal-Renewal-Civilization.md
  Frontend/public/archive/Archive-Entry-029-Man-From-Taured-Prologue.md
  archive/Archive-Entry-017-PVA-Bazaar-Vision-Magnum-Opus.md
  archive/Archive-Entry-018-PVA-Food-and-Ancient-Wisdom.md
  archive/Archive-Entry-019-PVA-Dynamic-Provenance-Exchange.md
  archive/Archive-Entry-020-Digital-Halls-and-Collectors-Lounges.md
  archive/Archive-Entry-021-PVA-Nation-Progressive-Sovereign-Digital-Nation.md
  archive/Archive-Entry-022-Akashic-Records-Asha-Neural-Modulation.md
  archive/Archive-Entry-023-The-Battle-of-Awakening.md
  archive/Archive-Entry-024-The-Gods-Chosen-People-Myth.md
  archive/Archive-Entry-025-Ashas-Children-Warriors-of-Truth.md
  archive/Archive-Entry-026-Essential-Books-and-Teachings.md
  archive/Archive-Entry-027-Infinite-Jobs-Building-Eternal-Renewal.md
  archive/Archive-Entry-028-Magnum-Opus-Guide-Eternal-Renewal-Civilization.md
  archive/Archive-Entry-029-Man-From-Taured-Prologue.md
Due: prettier --write

docs: add deployment guide and start scripts
  DEPLOYMENT_READY.md
  start-all.ps1
  start-all.sh
Due: prettier --write

docs: add deployment guide and start scripts
  pvabazaar-livestream/next.config.js
  pvabazaar-livestream/package-lock.json
  pvabazaar-livestream/package.json
  pvabazaar-livestream/src/app/api/journals/[id]/sign/route.ts
  pvabazaar-livestream/src/app/api/journals/[id]/verify/route.ts
  pvabazaar-livestream/src/app/api/streams/[id]/route.ts
  pvabazaar-livestream/src/app/api/users/[id]/route.ts
  pvabazaar-livestream/src/app/dashboard/streams/page.tsx
Due: eslint --fix, prettier --write, sort-package-json

docs: add production deployment summary and configuration guide
  PRODUCTION_DEPLOYED.md
Due: prettier --write

docs: add live deployment status and configuration guide
  DEPLOYMENT_STATUS_LIVE.md
  pvabazaar-livestream/.gitignore
Due: prettier --write
