Repository PVAGR/pva-bazaar-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js, forge fmt, sort-package-json

docs: add backend deployment completion guide
  BACKEND_DEPLOYMENT_COMPLETE.md
Due: prettier --write

docs: update deployment status - backend LIVE and verified
  DEPLOYMENT_STATUS_FINAL.md
Due: prettier --write

fix: enable LEGACY_MODE=true for marketplace features
  backend/.env.production
Due: none

fix: update vercel.json for hybrid serverless + express routing
  backend/vercel.json
Due: prettier --write

fix: remove runtime from vercel.json and set node version in engines field
  backend/package.json
  backend/vercel.json
Due: prettier --write, sort-package-json

fix: add root vercel.json with rewrites and update engines to node 20.x
  package.json
  vercel.json
Due: prettier --write, sort-package-json

chore: force vercel outputDirectory to root
  vercel.json
Due: prettier --write

chore: allow backend in deploy and serve from public
  .vercelignore
  vercel.json
Due: prettier --write

chore: replace public index with API status page
  public/index.html
Due: none

Mobile archive fixes, media uploads, admin connection panel, backend media support, and health checks. See commit for details.
  Frontend/src/base.css
  Frontend/src/pages/AdminNewEntry.jsx
  Frontend/src/pages/AdminPage.css
  Frontend/src/pages/AdminPage.jsx
  Frontend/src/pages/ArchiveLibraryPage.css
  Frontend/src/pages/ArchiveLibraryPage.jsx
  Frontend/src/pages/EntryDetail.jsx
  backend/api/archive.js
  backend/models/ArchiveEntry.js
  backend/routes/archive.js
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

deploy: 608d75ff3dd48addeb6b06b1e8476c7ee758d50e
  404.html
  assets/index-B5-3DOjh.js
  assets/index-BbMkIFSK.css
  assets/index-D8Jp4gNV.js
  assets/index-DunAN--F.css
  index.html
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

Add Vite env config (API + Cloudinary placeholders)
  Frontend/.env.production
  Frontend/src/config/env.ts
Due: eslint --fix, prettier --write

deploy: c30e01365600c77f96221d3b2914060b0ca77245
  404.html
  assets/index-B5-3DOjh.js
  assets/index-DwAnqu2M.js
  index.html
Due: eslint --fix, prettier --write

harden(axios): prevent absolute URL usage, improve network error handling
  Frontend/src/lib/axios.js
Due: eslint --fix, prettier --write

chore: finalize API layer, env config, and Copilot instructions for monorepo compliance
  .github/copilot-instructions.md
  .github/instructions/backend.instructions.md
  .github/instructions/frontend.instructions.md
  Frontend/src/lib/api.js
Due: eslint --fix, prettier --write

style(admin): compact theme toggle and connection panel for mobile/desktop
  Frontend/src/pages/AdminPage.css
Due: prettier --write, node qa/scripts/check-brand-tokens.js

style(admin): make connection panel and theme toggle ultra-compact for mobile/desktop usability
  Frontend/src/pages/AdminPage.css
Due: prettier --write, node qa/scripts/check-brand-tokens.js

feat(admin): ensure 44x44px touch targets and add tooltips/aria-labels for accessibility on compact controls
  Frontend/src/pages/AdminPage.css
  Frontend/src/pages/AdminPage.jsx
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

style(admin): ultra-compact API connection panel modal, single-line endpoint cards, compact buttons, mobile scrollable
  Frontend/src/pages/AdminPage.css
  Frontend/src/pages/AdminPage.jsx
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

style(admin): ultra-compact API connection panel modal
  Frontend/src/pages/AdminPage.css
  Frontend/src/pages/AdminPage.jsx
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

style(admin): force compact, scrollable API connection panel modal (clamp width, max-height, internal scroll, mobile hide error line)
  Frontend/src/pages/AdminPage.css
Due: prettier --write, node qa/scripts/check-brand-tokens.js

ci(pages): canonicalize pages deploy workflow
  Frontend/.vscode/tasks.json
  Frontend/SENTRY.md
  Frontend/env.d.ts
  Frontend/package.json
  Frontend/pages/+config.js
  Frontend/pages/+onBeforePrerenderStart.js
  Frontend/pages/admin/+Page.jsx
  Frontend/pages/admin/orders/+Page.jsx
  Frontend/pages/archive/+Page.jsx
  Frontend/pages/index/+Page.jsx
  Frontend/pages/marketplace/+Page.jsx
  Frontend/src/App.jsx
  Frontend/src/components/Layout.jsx
  Frontend/src/hooks/useDebounce.js
  Frontend/src/lib/api.js
  Frontend/src/main.jsx
  Frontend/src/pages/AdminOrdersPage.css
  Frontend/src/pages/AdminOrdersPage.jsx
  Frontend/src/pages/AdminPage.css
  Frontend/src/pages/AdminPage.jsx
  Frontend/src/pages/ArchiveLibraryPage.jsx
  Frontend/src/pages/CheckoutCancelPage.jsx
  Frontend/src/pages/CheckoutSuccessPage.jsx
  Frontend/src/pages/EntryDetail.jsx
  Frontend/src/pages/MarketplaceItemPage.css
  Frontend/src/pages/MarketplaceItemPage.jsx
  Frontend/src/pages/MarketplacePage.css
  Frontend/src/pages/MarketplacePage.jsx
  Frontend/tsconfig.json
  Frontend/vite-env.d.ts
  Frontend/vite.config.js
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js, sort-package-json

fix(frontend): fix Vike prerender build failure, only return dynamic URLs in +onBeforePrerenderStart.js, normalize and deduplicate URLs, never include root / route. Build passes and dist is created.
  Frontend/pages/+onBeforePrerenderStart.js
Due: eslint --fix, prettier --write

Canonicalize GitHub Pages deploy workflow, disable redundant triggers, verify Vike build and pages. Fix +onBeforePrerenderStart.js deduplication.
  .github/workflows/deploy-frontend.yml
  .github/workflows/deploy-to-github-pages.yml
  .github/workflows/main.yml
  backend/README.md
  backend/api/archive.js
  backend/api/index.js
  backend/models/ArchiveEntry.js
  backend/models/Artifact.js
  backend/routes/admin.js
  backend/routes/archive.js
  backend/routes/blogs.js
  backend/routes/comments.js
  backend/routes/pages.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, sort-package-json

Add new backend files (middleware, models, routes)
  backend/middleware/adminSession.js
  backend/middleware/rateLimit.js
  backend/models/Order.js
  backend/models/StripeEventLog.js
  backend/routes/adminLogin.js
  backend/routes/checkout.js
  backend/routes/items.js
  backend/routes/orders.js
  backend/routes/webhooksStripe.js
Due: eslint --fix, prettier --write

Add backend lib directory
  backend/lib/archiveNormalize.js
  backend/lib/cursor.js
  backend/lib/dbConnect.js
  backend/lib/itemInventory.js
  backend/lib/itemNormalize.js
  backend/lib/stripeClient.js
Due: eslint --fix, prettier --write

Harden API URLs and stabilize admin flow
  Frontend/package.json
  Frontend/src/App.jsx
  Frontend/src/config/env.ts
  Frontend/src/lib/api.js
  Frontend/src/pages/AdminOrdersPage.jsx
  Frontend/src/pages/AdminPage.jsx
  Frontend/src/pages/MarketplacePage.jsx
  backend/api/index.js
  backend/middleware/adminOnly.js
  backend/models/Artifact.js
  backend/models/Order.js
  backend/package.json
  backend/routes/orders.js
  package-lock.json
Due: eslint --fix, prettier --write, sort-package-json

fix: set VITE_API_URL to https://api.pvabazaar.org/api for frontend build
  .github/workflows/deploy-frontend.yml
  .github/workflows/deploy-to-github-pages.yml
Due: prettier --write

fix: correct Frontend folder case and add job-level Vercel env vars
  .github/workflows/deploy-web-vercel.yml
  Frontend/.env.production
Due: prettier --write

fix: use working-directory defaults and prioritize VITE_API_URL secret
  .github/workflows/deploy-frontend.yml
Due: prettier --write

fix: remove /api prefix from all endpoints - base URL already includes it
  Frontend/public/api-base.json
  Frontend/src/lib/api.js
  Frontend/src/main.jsx
  Frontend/src/pages/legacy.html
Due: eslint --fix, prettier --write

fix: clean GitHub Pages workflow - remove fragile verification steps
  .github/workflows/deploy.yml
Due: prettier --write

feat: add @vitejs/plugin-react to frontend devDependencies
  Frontend/package.json
Due: prettier --write, sort-package-json

fix: correct GitHub Pages upload path to dist/client for Vike output
  .github/workflows/deploy-frontend.yml
  .github/workflows/deploy.yml
Due: prettier --write

fix: remove Vike, restore standard React SPA with React Router
  .github/workflows/deploy.yml
  Frontend/package.json
  Frontend/src/main.jsx
  Frontend/src/pages/ArchiveLibraryPage.jsx
  Frontend/src/pages/CheckoutCancelPage.css
  Frontend/src/pages/CheckoutSuccessPage.css
  Frontend/vite.config.js
  package-lock.json
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js, sort-package-json

fix: add missing loadCustomEntries function in ArchiveLibraryPage
  Frontend/src/pages/ArchiveLibraryPage.jsx
Due: eslint --fix, prettier --write

fix: use proper API client for archive entries instead of relative fetch
  Frontend/src/pages/ArchiveLibraryPage.jsx
Due: eslint --fix, prettier --write

fix: remove /api prefix from routes to fix double /api/api issue
  backend/api/index.js
Due: eslint --fix, prettier --write

fix: remove /api prefix from AdminPage endpoints to fix double prefix
  Frontend/src/pages/AdminPage.jsx
Due: eslint --fix, prettier --write

fix: improve API error handling - remove aggressive alerts, better logging
  Frontend/src/lib/axios.js
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,yml,yaml,md})) or (any of: *.{css,scss})
  node qa/scripts/check-brand-tokens.js: any of: *.{css,scss}
  forge fmt: any of: apps/contracts/**/*.sol
  sort-package-json: any of: package.json
