Repository PVAGR/pva-bazaar-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js, forge fmt, sort-package-json

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,yml,yaml,md}": [
    "prettier --write"
  ],
  "*.{css,scss}": [
    "prettier --write",
    "node qa/scripts/check-brand-tokens.js"
  ],
  "apps/contracts/**/*.sol": [
    "forge fmt"
  ],
  "package.json": [
    "sort-package-json"
  ]
}

docs: add agent handoff and active status documentation
  ACTIVE_STATUS.md
  AGENT_HANDOFF.md
Due: prettier --write

chore: ignore local backup files
  .gitignore
Due: none

fix(backend): prevent Vercel CDN caching on public book endpoints
  backend/lib/buildInfo.js
  backend/routes/bookPublishing.js
  vercel.json
Due: eslint --fix, prettier --write

fix(backend): structured error responses for book publishing POST
  backend/api/index-serverless.js
  backend/routes/bookPublishing.js
Due: eslint --fix, prettier --write

feat(frontend): direct Cloudinary upload for book covers
  Frontend/src/pages/BookPublishingPage.jsx
Due: eslint --fix, prettier --write

fix(backend): add ok/requestId/stage to auth error responses
  backend/routes/bookPublishing.js
Due: eslint --fix, prettier --write

feat(frontend): graceful Cloudinary fallback for cover uploads
  Frontend/src/pages/BookPublishingPage.jsx
Due: eslint --fix, prettier --write

fix: add debug/test-save diagnostic and persist error logging
  backend/routes/bookPublishing.js
Due: eslint --fix, prettier --write

fix: add collection-stats debug endpoint for quota issue
  backend/routes/bookPublishing.js
Due: eslint --fix, prettier --write

fix: merge Cloudinary books into public API
  backend/routes/bookPublishing.js
Due: eslint --fix, prettier --write

fix(books): robust publishing pipeline with direct Cloudinary storage
  Frontend/src/pages/BookPublishingPage.jsx
  backend/models/BookProject.js
  backend/routes/bookPublishing.js
Due: eslint --fix, prettier --write

fix(books): increase Multer fieldSize to 50MB for large manuscripts
  backend/routes/bookPublishing.js
Due: eslint --fix, prettier --write

feat(books): add admin endpoint to delete test books
  backend/routes/bookPublishing.js
  backend/scripts/cleanup-test-books.js
Due: eslint --fix, prettier --write

docs: add agent development rules to prevent test books in production
  ACTIVE_STATUS.md
Due: prettier --write

feat(web): admin delete buttons and sign-in nav bar
  apps/pva-bazaar-web/src/app/layout.tsx
  apps/pva-bazaar-web/src/app/library/LibraryGrid.tsx
  apps/pva-bazaar-web/src/components/SiteNav.tsx
  apps/pva-bazaar-web/src/lib/libraryApi.ts
Due: eslint --fix, prettier --write

feat(ui): admin badge in nav and delete buttons on published books
  Frontend/src/components/Layout.jsx
  Frontend/src/pages/BookShelfPage.css
  Frontend/src/pages/BookShelfPage.jsx
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

fix(ui): restore Layout and BookShelfPage
  Frontend/src/components/Layout.jsx
  Frontend/src/pages/BookShelfPage.css
  Frontend/src/pages/BookShelfPage.jsx
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

fix(ui): match green theme for delete UI
  Frontend/src/components/Layout.jsx
  Frontend/src/pages/BookShelfPage.css
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

fix(ui): use styled brand classes in header
  Frontend/src/components/Layout.jsx
Due: eslint --fix, prettier --write

chore: rebuild to trigger vercel deploy
  qa/reports/vitest-results.json
Due: prettier --write

chore: force redeploy
  Frontend/src/components/Layout.jsx
Due: eslint --fix, prettier --write

chore: cleanup trailing whitespace
  Frontend/src/components/Layout.jsx
Due: eslint --fix, prettier --write

fix: remove skip-to-content link from Layout header
  Frontend/src/components/Layout.jsx
Due: eslint --fix, prettier --write

fix: extract items array from book API response
  Frontend/src/pages/BookShelfPage.jsx
Due: eslint --fix, prettier --write

fix: add hero/traversal CSS and global anchor fallback
  Frontend/src/base.css
Due: prettier --write, node qa/scripts/check-brand-tokens.js

fix: remove double /api prefix in delete and login URLs
  Frontend/src/pages/BookShelfPage.jsx
Due: eslint --fix, prettier --write

fix: handle slug-based IDs in book removeBookRecord
  backend/routes/bookPublishing.js
Due: eslint --fix, prettier --write

feat: add MongoDB deep diagnostic endpoints for Vercel debugging
  backend/api/index-serverless.js
  backend/scripts/full-diagnostic.js
  backend/scripts/test-mongo.js
  backend/test-pipeline.js
Due: eslint --fix, prettier --write

fix: handle stale JWT tokens gracefully on book publishing pages
  Frontend/src/pages/BookPublishingPage.jsx
  backend/middleware/auth.js
Due: eslint --fix, prettier --write

fix: handle slug-based book IDs in delete and publish endpoints
  backend/routes/bookPublishing.js
Due: eslint --fix, prettier --write

fix: remove _id fallback in removeBookRecord that Cast-errors on slugs
  backend/routes/bookPublishing.js
Due: eslint --fix, prettier --write

fix: render book manuscript via iframe and fetch from URL fallback
  Frontend/src/pages/BookReaderPage.css
  Frontend/src/pages/BookReaderPage.jsx
  backend/routes/bookPublishing.js
  backend/services/bookPublisher.js
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

fix: extract manuscriptUrl from Cloudinary manifest storage field
  backend/routes/bookPublishing.js
Due: eslint --fix, prettier --write

chore: remove debug logging from /view endpoint
  backend/routes/bookPublishing.js
Due: eslint --fix, prettier --write

fix: also delete Cloudinary files when removing a book
  backend/routes/bookPublishing.js
Due: eslint --fix, prettier --write

feat: multi-format book upload (HTML/PDF/DOCX)
  Frontend/src/pages/BookPublishingPage.css
  Frontend/src/pages/BookPublishingPage.jsx
  Frontend/src/pages/BookReaderPage.jsx
  PLAN-multi-format-upload.md
  backend/models/BookProject.js
  backend/routes/bookPublishing.js
  backend/services/bookPublisher.js
  qa/reports/vitest-results.json
Due: eslint --fix, prettier --write, node qa/scripts/check-brand-tokens.js

fix: CSP missing Cloudinary + resilient upload fallback
  Frontend/src/pages/BookPublishingPage.jsx
  vercel.json
Due: eslint --fix, prettier --write

fix: skip Cloudinary raw upload for format files, 60s publish timeout
  Frontend/src/lib/api.js
  Frontend/src/pages/BookPublishingPage.jsx
Due: eslint --fix, prettier --write
